<template>
    <b-sidebar
        id="add-new-marque-sidebar"
        :visible="isAddNewMarqueSidebarActive"
        bg-variant="white"
        sidebar-class="sidebar-sm"
        shadow
        backdrop
        no-header
        right
        @hidden="resetForm"
        @change="(val) => $emit('update:is-add-new-marque-sidebar-active', val)"
    >
        <template #default="{ hide }">
            <!-- Header -->
            <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
                <h5 class="mb-0">
                    Ajouter Nouvelle Marque
                </h5>

                <feather-icon
                    class="ml-1 cursor-pointer"
                    icon="XIcon"
                    size="16"
                    @click="hide"
                />

            </div>

            <!-- BODY -->
            <validation-observer
                #default="{ handleSubmit }"
                ref="refFormObserver"
            >
                <!-- Form -->
                <b-form
                    class="p-2"
                    @submit.prevent="handleSubmit(save_changes)"
                    @reset.prevent="resetForm"
                >

                    <!-- Full Name -->
                    <validation-provider
                        #default="validationContext"
                        name="title"
                        rules="required"
                    >
                        <b-form-group
                            label="Title"
                            label-for="full-title"
                        >
                            <b-form-input
                                id="full-title"
                                v-model="MarqueData.title"
                                autofocus
                                :state="getValidationState(validationContext)"
                                trim
                                placeholder=""
                            />

                            <b-form-invalid-feedback>
                                {{ validationContext.errors[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </validation-provider>

                        <b-form-group label="Images Du Marque" label-for="image">
                            <b-form-file ref="refInputEl" placeholder="Choose a file or drop it here..."
                                         drop-placeholder="Drop file here..." accept=".jpg, .png, .gif, .webp"
                                         @change="uploadfile" multiple />
                        </b-form-group>




                    <!-- Form Actions -->
                    <div class="d-flex mt-2">
                        <b-button
                            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                            variant="primary"
                            class="mr-2"
                            type="submit"
                        >
                            Add
                        </b-button>
                        <b-button
                            v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                            type="button"
                            variant="outline-warning"
                            @click="hide"
                        >
                            Cancel
                        </b-button>
                    </div>

                </b-form>
            </validation-observer>
        </template>
    </b-sidebar>
</template>

<script>
    import {
        BFormFile,
        BSidebar,
        BForm,
        BFormGroup,
        BFormInput,
        BFormInvalidFeedback,
        BButton,
        BInputGroupAppend,
        BInputGroup
    } from 'bootstrap-vue'
    import {
        ValidationProvider,
        ValidationObserver
    } from 'vee-validate'
    import {
        ref
    } from '@vue/composition-api'
    import {
        required,
        alphaNum,
        email
    } from '@validations'
    import formValidation from '@core/comp-functions/forms/form-validation'
    import Ripple from 'vue-ripple-directive'
    import vSelect from 'vue-select'
    import store from '@/store'
    import {
        togglePasswordVisibility
    } from '@core/mixins/ui/forms'
    import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
    import axios from '@axios'

    export default {
        components: {
            BSidebar,
            BForm,
            BFormGroup,
            BFormInput,
            BFormInvalidFeedback,
            BButton,
            vSelect,
            BInputGroupAppend,
            BInputGroup,
            // Form Validation
            ValidationProvider,
            ValidationObserver,
            BFormFile,
        },
        mixins: [togglePasswordVisibility],
        directives: {
            Ripple,
        },
        model: {
            prop: 'isAddNewMarqueSidebarActive',
            event: 'update:is-add-new-marque-sidebar-active',
        },
        props: {
            isAddNewMarqueSidebarActive: {
                type: Boolean,
                required: true,
            },

        },
        data() {
            return {
                required,
                alphaNum,
                email,
            }
        },

        setup(props, {
            emit
        }) {
            const blankMarqueData = {
                title: '',
            }

            const MarqueData = ref(JSON.parse(JSON.stringify(blankMarqueData)))
            const resetMarqueData = () => {
                MarqueData.value = JSON.parse(JSON.stringify(blankMarqueData))
            }

            // const onSubmit = () => {
            //     store.dispatch('app-marque/addMarque', MarqueData.value).then(() => {
            //         console.log(MarqueData.value)
            //         emit('refetch-data')
            //         emit('update:is-add-new-marque-sidebar-active', false)
            //     })
            // }

            const {
                refFormObserver,
                getValidationState,
                resetForm
            } = formValidation(resetMarqueData)

            return {
                MarqueData,
                // onSubmit,

                refFormObserver,
                getValidationState,
                resetForm,
            }
        },
        methods: {
            uploadfile(event) {
                this.MarqueData.files = event.target.files;
                console.log(this.MarqueData, 'file');
            },

            save_changes() {
                const formData = new FormData();
                if (this.MarqueData.files) {
                    for (const i of Object.keys(this.MarqueData.files)) {
                        formData.append('imagesArray[' + i + ']', this.MarqueData.files[i]);
                    }
                }

                formData.append('title', this.MarqueData.title);



                axios.post('/marque/add', formData).then((res) => {
                    console.log(res);
                    if (res.data.code) {
                        this.$toast({
                            component: ToastificationContent,
                            position: 'top-right',
                            props: {
                                title: `Article Enregister`,
                                icon: 'CoffeeIcon',
                                variant: 'success',
                                text: `You have successfully save the article`,
                            },
                        })
                    } else {
                        this.$toast({
                            component: ToastificationContent,
                            props: {
                                title: 'Une erreur s\'est produite',
                                icon: 'AlertTriangleIcon',
                                variant: 'danger',
                            },
                        })
                    }
                    this.$emit('refetch-data')
                    this.$emit('update:is-add-new-user-sidebar-active', false)
                })
            },
        }
    }

</script>

<style lang="scss">
    @import '~@core/scss/vue/libs/vue-select.scss';

    #add-new-marque-sidebar {
        .vs__dropdown-menu {
            max-height: 200px !important;
        }
    }

</style>
