<template>
    <div>

        <!-- User Info: Input Fields -->
        <b-form>
            <b-row>
                <b-col cols="12" md="4">
                    <b-form-group label="First Name" label-for="name">
                        <b-form-input id="name" v-model="userData.data.fName" disabled />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <b-form-group label="Last Name" label-for="name">
                        <b-form-input id="name" v-model="userData.data.lName" disabled />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <b-form-group label="Etat Civil" label-for="Etat Civil">
                        <!-- v-model="userData.data.paymentBrand" -->
                        <b-form-input id="email" v-model="userData.data.etat_civil" type="email" disabled />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <b-form-group label="Visa Centers" label-for="name">
                        <b-form-input id="name" v-model="userData.data.branch" disabled />
                    </b-form-group>
                </b-col>

                <!-- Field: Full Name -->
                <b-col cols="12" md="4">
                    <b-form-group label="Country" label-for="country">
                        <b-form-input id="country" v-model="userData.data.country" disabled />
                    </b-form-group>
                </b-col>

                <!-- Field: Email -->

                <b-col cols="12" md="4">
                    <b-form-group label="Date From" label-for="Date From">
                        <b-form-input id="amount" v-model="userData.data.date_from" disabled />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <b-form-group label="Date To" label-for="Date To">
                        <b-form-input id="amount" v-model="userData.data.date_to" disabled />
                    </b-form-group>
                </b-col>
                <!-- Field: Email -->
                <b-col cols="12" md="4">
                    <b-form-group label="Visas" label-for="Visas">
                        <b-form-input id="date" v-model="userData.data.visas" disabled />
                    </b-form-group>
                </b-col>

                <b-col cols="12" md="4">
                    <b-form-group label="Email" label-for="Email">
                        <b-form-input id="email" v-model="userData.data.users.email" disabled />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <b-form-group label="Passport" label-for="Visas">
                        <a :href="`${userData.data.passport}`" type="default" download="Passport" class="align-items-center d-flex">
                        <feather-icon
                            icon="DownloadIcon"
                            size="12"
                        />&nbsp;Download Passport</a>
                    </b-form-group>
                </b-col>
                <b-col v-if="userData.data.familyIDPath" cols="12" md="4">
                    <b-form-group label="Family ID" label-for="Visas">
                        <a :href="`${userData.data.familyIDPath}`" type="default" download="FamilyIDPath" class="align-items-center d-flex">
                        <feather-icon
                            icon="DownloadIcon"
                            size="12"
                        />&nbsp;Download Family ID
                        </a>
                    </b-form-group>
                </b-col>
                <b-col v-if="userData.data.photo" cols="12" md="4">
                    <b-form-group label="Photo" label-for="Visas">
                        <a :href="`${userData.data.photo}`" type="default" download="Photo" class="align-items-center d-flex">
                            <feather-icon
                            icon="DownloadIcon"
                            size="12"
                        />&nbsp;
                        Download photo</a>
                    </b-form-group>
                </b-col>
                <b-col v-if="userData.data.salaire" cols="12" md="4">
                    <b-form-group label="Salaire" label-for="Visas">
                        <a :href="`${userData.data.salaire}`" type="default" download="Salaire" class="align-items-center d-flex">
                            <feather-icon
                            icon="DownloadIcon"
                            size="12"
                        />&nbsp;
                        Download salaire</a>
                    </b-form-group>
                </b-col>
                <b-col v-if="userData.data.oldVisaPath" cols="12" md="4">
                    <b-form-group label="Old Visa" label-for="Visas">
                        <a :href="`${userData.data.oldVisaPath}`" type="default" download="Old Visa" class="align-items-center d-flex">
                            <feather-icon
                            icon="DownloadIcon"
                            size="12"
                        />&nbsp;
                        Download Old visa
                        </a>
                    </b-form-group>
                </b-col>
                <b-col v-if="userData.data.assurance" cols="12" md="4">
                    <b-form-group label="Assurance" label-for="Assurance">
                        <a :href="`${userData.data.assurance}`" type="default" download="assurance" class="d-flex align-items-center">
                            <feather-icon
                                icon="DownloadIcon"
                                size="12"
                            />&nbsp;
                            Download
                            Assurance</a>
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4" v-if="userData.data.bankStatment">
                            <b-form-group label="Bank Statment" label-for="Visas">
                                <a :href="`${userData.data.bankStatment}`" type="default" download="photo" class="d-flex align-items-center">
                                     <feather-icon
                                        icon="DownloadIcon"
                                        size="12"
                                    />&nbsp;Download Bank Statment</a>
                            </b-form-group>
                </b-col>
            </b-row>
            <app-collapse-item style="background-color:rgb(247 247 247) !important;border: 1px solid #bbbbbb "
                title="Adult">
                <div v-for="(user,index) in userData.data.travellers" :key="index">
                    <b-row v-if="user.is_child=='0'" style="margin-bottom: 15px;;background-color:#fffffff5;!important" class="p-2">
                        <!-- <span class="font-weight-bold">Child {{index+1}}</span> -->
                        <b-col cols="12" md="4">
                            <b-form-group label="First name" label-for="Visas">
                                <b-form-input id="date" v-model="user.fName" disabled />
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="4">
                            <b-form-group label="Last Name" label-for="Visas">
                                <b-form-input id="date" v-model="user.lName" disabled />
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="4">
                            <b-form-group label="Tel" label-for="Visas">
                                <b-form-input id="date" v-model="user.tel" disabled />
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="4">
                            <b-form-group label="Etat Civil" label-for="Visas">
                                <b-form-input id="date" v-model="user.maritalStatus" disabled />
                            </b-form-group>
                        </b-col>
                        <b-col v-if="user.passportPath" cols="12" md="4">
                            <b-form-group label="Passport" label-for="Visas">
                                <a :href="`${user.passportPath}`" type="default" download="passport" class="d-flex align-items-center">
                                    <feather-icon
                                        icon="DownloadIcon"
                                        size="12"
                                    />&nbsp;Download
                                    Passport</a>
                            </b-form-group>
                        </b-col>
                        <b-col v-if="user.familyIDPath" cols="12" md="4">
                            <b-form-group label="Family ID" label-for="Visas">
                                <a :href="`${user.familyIDPath}`" type="default" download="familyIDPath" class="d-flex align-items-center">
                                    <feather-icon
                                        icon="DownloadIcon"
                                        size="12"
                                    />&nbsp;
                                    Download
                                    Family ID</a>
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="4">
                            <b-form-group label="Photo" label-for="Visas">
                                <a :href="`${user.photoPath}`" type="default" download="photo" class="d-flex align-items-center">
                                     <feather-icon
                                        icon="DownloadIcon"
                                        size="12"
                                    />&nbsp;Download Photo</a>
                            </b-form-group>
                        </b-col>

                        <b-col v-if="user.oldVisaPath" cols="12" md="4">
                            <b-form-group label="Old Visa" label-for="Visas">
                                <a :href="`${user.oldVisaPath}`" type="default" download="Old Visa"  class="d-flex align-items-center">
                                    <feather-icon
                                        icon="DownloadIcon"
                                        size="12"
                                    />&nbsp;Download Old Visa</a>
                            </b-form-group>
                        </b-col>

                        <b-col cols="12" md="4">
                            <b-form-group label="Salaire" label-for="Visas">
                                <a :href="`${user.salaire}`" type="default" download="Salaire" class="align-items-center d-flex">
                                    <feather-icon
                                    icon="DownloadIcon"
                                    size="12"
                                />&nbsp;
                                Download salaire</a>
                            </b-form-group>
                        </b-col>
                        <b-col v-if="user.assurance" cols="12" md="4">
                            <b-form-group label="Assurance" label-for="Assurance">
                                <a :href="`${user.assurance}`" type="default" download="assurance" class="d-flex align-items-center">
                                    <feather-icon
                                        icon="DownloadIcon"
                                        size="12"
                                    />&nbsp;
                                    Download
                                    Assurance</a>
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="4" v-if="user.bankStatment">
                            <b-form-group label="Bank Statment" label-for="Visas">
                                <a :href="`${user.bankStatment}`" type="default" download="photo" class="d-flex align-items-center">
                                     <feather-icon
                                        icon="DownloadIcon"
                                        size="12"
                                    />&nbsp;Download Bank Statment</a>
                            </b-form-group>
                </b-col>
                    </b-row>
                </div>
            </app-collapse-item>
            <app-collapse-item style="background-color:rgb(247 247 247) !important;border: 1px solid #bbbbbb"
                title="Child">
                <div v-for="(user,index) in userData.data.travellers" :key="index">
                    <b-row v-if="user.is_child!='0'" style="margin-bottom: 15px;background-color:#fffffff5;!important" class="p-2">
                        <!-- <span class="font-weight-bold">Child {{index+1}}</span> -->
                        <b-col cols="12" md="4">
                            <b-form-group label="First name" label-for="Visas">
                                <b-form-input id="date" v-model="user.fName" disabled />
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="4">
                            <b-form-group label="Last Name" label-for="Visas">
                                <b-form-input id="date" v-model="user.lName" disabled />
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="4">
                            <b-form-group label="Tel" label-for="Visas">
                                <b-form-input id="date" v-model="user.tel" disabled />
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="4">
                            <b-form-group label="Etat Civil" label-for="Visas">
                                <b-form-input id="date" v-model="user.maritalStatus" disabled />
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="4">
                            <b-form-group label="Passport" label-for="Visas">
                                <a :href="`${user.passportPath}`" type="default" download="passport" class="d-flex align-items-center">
                                   <feather-icon
                                        icon="DownloadIcon"
                                        size="12"
                                    />&nbsp; Download Passport</a>
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="4">
                            <b-form-group label="Family ID" label-for="Visas">
                                <a :href="`${user.familyIDPath}`" type="default" download="familyIDPath" class="d-flex align-items-center">
                                    <feather-icon
                                        icon="DownloadIcon"
                                        size="12"
                                    />&nbsp;Download Family ID</a>
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="4">
                            <b-form-group label="Photo" label-for="Visas">
                                <a :href="`${user.photoPath}`" type="default" download="photo" class="d-flex align-items-center">
                                    <feather-icon
                                        icon="DownloadIcon"
                                        size="12"
                                    />&nbsp;Download Photo</a>
                            </b-form-group>
                        </b-col>
                        <b-col v-if="user.oldVisaPath" cols="12" md="4">
                            <b-form-group label="Old Visa" label-for="Visas">
                                <a :href="`${userData.data.oldVisaPath}`" type="default" download="Old Visa" class="d-flex align-items-center">
                                    <feather-icon
                                        icon="DownloadIcon"
                                        size="12"
                                    />&nbsp;Download Old Visa</a>
                            </b-form-group>
                        </b-col>

                        <b-col cols="12" md="4">
                            <b-form-group label="Salaire" label-for="Visas">
                                <a :href="`${user.salaire}`" type="default" download="Salaire" class="align-items-center d-flex">
                                    <feather-icon
                                    icon="DownloadIcon"
                                    size="12"
                                />&nbsp;
                                Download salaire</a>
                            </b-form-group>
                        </b-col>
                        <b-col cols="12" md="4" v-if="user.bankStatment">
                            <b-form-group label="Bank Statment" label-for="Visas">
                                <a :href="`${user.bankStatment}`" type="default" download="photo" class="d-flex align-items-center">
                                     <feather-icon
                                        icon="DownloadIcon"
                                        size="12"
                                    />&nbsp;Download Bank Statment</a>
                            </b-form-group>
                </b-col>
                    </b-row>
                </div>
            </app-collapse-item>
            <!-- Field: Status -->
            <b-col cols="12" md="4" class="px-0">
                <b-form-group label="Status" label-for="user-status"> {{userData.status}}
                    <v-select v-model="userData.data.status" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                        :options="statusOptions" :reduce="val => val.value" :clearable="false" input-id="user-status" />
                </b-form-group>
            </b-col>
        </b-form>


        <!-- Action Buttons -->
        <b-button variant="primary" class="mb-1 mb-sm-0 mr-0 mr-sm-1"
            :block="$store.getters['app/currentBreakPoint'] === 'xs'"
            @click="save_changes(userData.data.id,userData.data.status)">
            Save Changes
        </b-button>

    </div>
</template>

<script>
    import AppCollapseItem from '@core/components/app-collapse/AppCollapseItem.vue'
    import {
        BButton,
        BMedia,
        BAvatar,
        BRow,
        BCol,
        BFormGroup,
        BFormInput,
        BForm,
        BTable,
        BCard,
        BCardHeader,
        BCardTitle,
        BFormCheckbox,
    } from 'bootstrap-vue'
    import {
        avatarText
    } from '@core/utils/filter'
    import vSelect from 'vue-select'
    import {
        useInputImageRenderer
    } from '@core/comp-functions/forms/form-utils'
    import {
        ref
    } from '@vue/composition-api'
    // import uniteList from '../orders-list/useOrdersList'
    import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

    export default {
        components: {
            BButton,
            BMedia,
            BAvatar,
            BRow,
            BCol,
            BFormGroup,
            BFormInput,
            BForm,
            BTable,
            BCard,
            BCardHeader,
            BCardTitle,
            BFormCheckbox,
            vSelect,
            AppCollapseItem
        },
        props: {
            userData: {
                type: Object,
                required: true,
            },
        },
        setup(props) {
            // const { resolveUserRoleVariant } = uniteList()

            const roleOptions = [{
                    label: 'Admin',
                    value: 'admin'
                },
                {
                    label: 'Author',
                    value: 'author'
                },
                {
                    label: 'Editor',
                    value: 'editor'
                },
                {
                    label: 'Maintainer',
                    value: 'maintainer'
                },
                {
                    label: 'Subscriber',
                    value: 'subscriber'
                },
            ]

            const statusOptions = [{
                    label: 'Pending',
                    value: 'pending'
                },
                {
                    label: 'Approved',
                    value: 'approved'
                },
                {
                    label: 'Cancel',
                    value: 'cancel'
                },
            ]

            const permissionsData = [{
                    module: 'Admin',
                    read: true,
                    write: false,
                    create: false,
                    delete: false,
                },
                {
                    module: 'Staff',
                    read: false,
                    write: true,
                    create: false,
                    delete: false,
                },
                {
                    module: 'Author',
                    read: true,
                    write: false,
                    create: true,
                    delete: false,
                },
                {
                    module: 'Contributor',
                    read: false,
                    write: false,
                    create: false,
                    delete: false,
                },
                {
                    module: 'User',
                    read: false,
                    write: false,
                    create: false,
                    delete: true,
                },
            ]

            // ? Demo Purpose => Update image on click of update
            const refInputEl = ref(null)
            const previewEl = ref(null)

            const {
                inputImageRenderer
            } = useInputImageRenderer(refInputEl, base64 => {
                // eslint-disable-next-line no-param-reassign
                props.userData.avatar = base64
            })

            return {
                // resolveUserRoleVariant,
                avatarText,
                roleOptions,
                statusOptions,
                permissionsData,

                //  ? Demo - Update Image on click of update button
                refInputEl,
                previewEl,
                inputImageRenderer,
                localData: props.userData,
            }
        },
        methods: {
            save_changes(data, data2) {
                this.$store.dispatch('forms-visa/save', [data, data2])
                this.$router.push({
                    name: 'visa-list'
                })
                this.$toast({
                    component: ToastificationContent,
                    position: 'top-right',
                    props: {
                        title: `Status changed`,
                        icon: 'CoffeeIcon',
                        variant: 'success',
                        text: `You have successfully Changed the status`,
                    },
                })
            },
        }
    }

</script>

<style lang="scss" scroped>
    @import '~@core/scss/vue/libs/vue-select.scss';

    #fourthTable {
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        border-collapse: collapse;
        border: 3px solid #3d7751;
        margin: 10px 10px 0 10px;
    }

    #fourthTable th {
        text-transform: uppercase;
        text-align: left;
        background: #3d7751;
        color: #FFF;
        cursor: pointer;
        padding: 8px;
        min-width: 30px;
    }

    #fourthTable th:hover {
        background: #3d7751;
    }

    #fourthTable td {
        text-align: left;
        padding: 8px;
        border-right: 2px solid #7D82A8;
    }

    #fourthTable td:last-child {
        border-right: none;
    }

    #fourthTable tbody tr:nth-child(2n) td {
        background: #c2d9cc;
    }

    // .card-body{
    //   background-color:#fffffff5 !important;

    // }

</style>
