<template>

        <b-card-code class="shadow_card">
        <ValidationObserver ref="observer">
          <b-form id="driving_licence_form" ref="driving_licence_form" @submit="onSubmit" @reset="onReset" class="driving_licence_form py-3 row">
            <b-form-group
              label="First Name"
              label-for="first-name"
              class="col-md-6 mb-2 is_required"
            >
            <validation-provider #default="{ errors }" name="first-name" rules="required">
              <b-form-input
                id="first-name"
                v-model="form.fname"
                type="text"
                placeholder="John"
                required
                :state="errors.length > 0 ? false:null"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              ></b-form-input>
              <small class="text-danger">{{ errors[0] }}</small>
            </validation-provider>
            </b-form-group>

            <b-form-group
              label="Last Name"
              label-for="last-name"
              class="col-md-6 mb-2 is_required"
            >
            <validation-provider #default="{ errors }" name="last-name" rules="required">
              <b-form-input
                id="last-name"
                v-model="form.lname"
                type="text"
                placeholder="Doe"
                required
                :state="errors.length > 0 ? false:null"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              ></b-form-input>
              <small class="text-danger">{{ errors[0] }}</small>
            </validation-provider>
            </b-form-group>

            <b-form-group
              label="Email"
              label-for="email"
              class="col-md-6 mb-2 is_required"
            >
            <validation-provider #default="{ errors }" name="email" rules="required">
              <b-form-input
                id="email"
                v-model="form.email"
                type="email"
                placeholder="john.doe@gmail.com"
                required
                :state="errors.length > 0 ? false:null"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              ></b-form-input>
              <small class="text-danger">{{ errors[0] }}</small>
            </validation-provider>
            </b-form-group>

            <b-form-group  label="Country" label-for="country" class="col-md-6 mb-2 is_required">
            <validation-provider #default="{ errors }" name="country" rules="required">
              <b-form-select
                id="country"
                v-model="form.country"
                :options="translated2(countries)"
                :selectable="option => ! option.text.includes('select_value')" 
                required
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :state="errors.length > 0 ? false:null"
              ></b-form-select>
              <small class="text-danger">{{ errors[0] }}</small>
            </validation-provider>
            </b-form-group>

             <b-form-group label="Language" label-for="language" class="col-md-6 mb-2 is_required">
            <validation-provider #default="{ errors }" name="lang" rules="required">
              <b-form-select
                id="language"
                v-model="form.lang"
                :options="translated(languages)"
                required
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              ></b-form-select>
              <small class="text-danger">{{ errors[0] }}</small>
            </validation-provider>
            </b-form-group>
             <b-form-group label="Upload national ID" label-for="national-Id" class="col-md-6 mb-2 is_required">
               <b-form-file
                  v-model="form.nationalId"
                  required
                  placeholder="Choose a file or drop it here..."
                 drop-placeholder="Drop file here..."
                 :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                ></b-form-file>
             </b-form-group>
            <div class="d-flex align-items-center justify-content-between mt-4 w-100 px-1">

              <b-button type="reset" variant="danger">Reset</b-button>
              <b-button type="submit" variant="primary">Submit</b-button>

            </div>

          </b-form>
        </ValidationObserver>
        </b-card-code>

</template>

<script>
import { BFormInput, BButton, BFormGroup, BFormFile, BFormSelect, BForm} from 'bootstrap-vue'
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import BCardCode from '@core/components/b-card-code'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import axios from '@axios'
    import {
        required,
        email
    } from '@validations'
import {
        ValidationProvider,
        ValidationObserver
    } from 'vee-validate'
import store from '@/store'
import {
        ref,
        onUnmounted
    } from '@vue/composition-api'
import IdTranslationStoreModule from './IdTranslationStoreModule'
  export default {
    name:"DrivingLicence",
    components:{
        ValidationProvider,
        ValidationObserver,
        BFormFile,
        BFormSelect,
        BFormInput,
        BFormGroup,
        BButton,
        BForm,
        BCardCode,
        ToastificationContent
    },
    data() {
      return {
        form: {
          fname: null,
          lname: null,
          email:null,
          country: null,
          lang:null,
          nationalId:null
        },

          languages: [
          { text: {"en":"Arabic","ar":"العربية"}, value: 1 },
          { text: {"en":"English","ar":"الإنجليزية"}, value: 2 },
          { text: {"en":"French","ar":"الفرنسية"}, value: 3 },
          ],

      }
    },

    methods: {
      onSubmit(event) {
        event.preventDefault()
        const isValid =  this.$refs.observer.validate();
        if (isValid) {
        const formData = new FormData();
        formData.append('fName', this.form.fname);
        formData.append('lName', this.form.lname);
        formData.append('email', this.form.email);
        formData.append('country', this.form.country);
        formData.append('lang', this.form.lang);
        formData.append('nationalID', this.form.nationalId);

        const headers = { 'Content-Type': 'multipart/form-data' };
        axios.post('/idTranslation_store', formData, { headers }).then((response) => {
          if(!response.errors){
            this.$toast({
                component: ToastificationContent,
                props: {
                title: 'Form Submitted',
                icon: 'EditIcon',
                variant: 'success',
                },
            })
            this.$router.push({ name: 'translation-list' })
        }else{
            this.$toast({
                component: ToastificationContent,
                props: {
                title: 'Form Submitted',
                icon: 'AlertTriangleIcon',
                variant: 'danger',
                },
            })
        }


        });
      }
      },
      onReset(event) {
        event.preventDefault()
        // Reset our form values
        this.form.fname = ''
        this.form.lname = ''
        this.form.email = ''
        this.country='',
        this.lang=''
        this.form.nationalId = null

      },
      translated(data){
        const locale = this.$store.state.appConfig.isRTL ? 'ar' : 'en'
        let final = [];
        data.forEach(element => {
         final.push({
           value:element.text[locale],
           text:element.text[locale]
         })
        });
        return final;
      },
      translated2(data){
        let c = [];
        data.forEach(element => {
          console.log('aaaaa',element)
         c.push({
           value:element.text,
           text:element.text
         })
        });
        return c;
      },


    },
    setup() {
        const paysData = ref(null)
        const countries = ref([]);

        const FILLING_APP_STORE_MODULE_NAME = 'forms-idTranslation'

            // Register module
            if (!store.hasModule(FILLING_APP_STORE_MODULE_NAME)) store.registerModule(FILLING_APP_STORE_MODULE_NAME,
                IdTranslationStoreModule)

            // UnRegister on leave
            onUnmounted(() => {
                if (store.hasModule(FILLING_APP_STORE_MODULE_NAME)) store.unregisterModule(
                    FILLING_APP_STORE_MODULE_NAME)
            })

            store.dispatch('forms-idTranslation/fetchPays')
                .then(response => {
                    paysData.value = response.data.data,
                        updateCountriesSelect(paysData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        paysData.value = undefined
                    }
                })
            //helpers
            const updateCountriesSelect = (data) => {
                data.forEach(elem => {
                    countries.value.push({
                        "value": elem.id.toString(),
                        "text": elem.name
                    })
                })
            }
            return {
                paysData,
                countries
            }
    }
  }
</script>
<style lang="scss" scoped>

.file {
  position: relative;
  display: inline-block;
  height: 2.5rem;
  cursor: pointer;
}
.file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  user-select: none;
  background-color: #fff;
  border: .075rem solid #ddd;
  border-radius: .25rem;
  box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
}
.file-custom:after {
  content: "Choose file...";
}
.file-custom:before {
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  content: "Browse";
  background-color: #eee;
  border: .075rem solid #ddd;
  border-radius: 0 .25rem .25rem 0;
}

// Focus state
.file input:focus ~ .file-custom {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

@import '~@core/scss/vue/libs/vue-wizard.scss';
@import '~@core/scss/vue/libs/vue-select.scss';

.form-group input{
    width:100%;
}
.form-control {
    display: block;
    width: 100%;
    height: 2.714rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>
