<template>
    <b-sidebar id="add-new-user-sidebar" :visible="isAddNewUserSidebarActive" bg-variant="white"
        sidebar-class="sidebar-lg" shadow backdrop no-header right @hidden="resetForm"
        @change="(val) => $emit('update:is-add-new-user-sidebar-active', val)">
        <template #default="{ hide }">
            <!-- Header -->
            <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
                <h5 class="mb-0">
                    Creer Devis
                </h5>

                <feather-icon class="ml-1 cursor-pointer" icon="XIcon" size="16" @click="hide" />

            </div>

            <!-- BODY -->
            <validation-observer #default="{ handleSubmit }" ref="refFormObserver">
                <!-- Form -->
                <b-form class="p-2" @submit.prevent="handleSubmit(onSubmit)" @reset.prevent="resetForm">
                    <b-row>
                        <b-col md="4">
                            <!-- montant_remise -->
                            <validation-provider #default="validationContext" name="no_devis"
                                rules="required|alpha-num">
                                <b-form-group label="Numero devis" label-for="no_devis">
                                    <b-form-input id="no_devis" v-model="userData.no_devis"
                                        :state="getValidationState(validationContext)" trim placeholder="" />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <!-- Client -->

                <b-col md="4">
                    <b-row md="12">
                        <b-col md="10">
                            <!-- <validation-provider #default="validationContext" name="Client" rules="required"> -->
                                <b-form-group label="Client" label-for="client"
                                    >
                                    <!-- :state="getValidationState(validationContext)" -->
                                    <v-select v-model="userData.client_id"
                                        :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="clientOptions"
                                        :selectable="option => ! option.value.includes('select_value')" label="text"
                                        :reduce="val => val.value" :clearable="false" input-id="client" />
                                    <!-- <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback> -->
                                </b-form-group>
                            <!-- </validation-provider> -->
                        </b-col>
                        <b-col md="2">
                            <b-form-group label="Client n'existe pas" label-for="is_null">
                                <b-form-checkbox
                                v-model="isnull"
                                class="mr-0 mt-50"
                                name="is-rtl"
                                switch
                                inline
                                />
                            </b-form-group>
                        </b-col>
                        </b-row>
                        <b-form-input v-if="isnull==1" id="montant_tht" v-model="userData.clientnew" autofocus placeholder="" />
                </b-col>
                        <!-- Depot -->
                        <b-col md="4">
                            <validation-provider #default="validationContext" name="Depot" rules="required">
                                <b-form-group label="Depot" label-for="depot"
                                    :state="getValidationState(validationContext)">
                                    <v-select v-model="userData.depot_id"
                                        :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="depotOptions"
                                        :selectable="option => ! option.value.includes('select_value')" label="text"
                                        :reduce="val => val.value" :clearable="false" input-id="depot" />
                                    <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <!-- Produit -->
                        <b-col md="12">
                            <validation-provider #default="validationContext" name="Sélectionner un article" rules="required">
                                <b-form-group label="Sélectionner un article" label-for="article"
                                    :state="getValidationState(validationContext)">
                                    <v-select v-model="userData.produit_id"
                                        :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="produitOptions"
                                        :selectable="option => ! option.value.includes('select_value')" label="text"
                                        v-on:input="(PutInProductArray())"
                                        :reduce="val => val.value" :clearable="false" input-id="article"
                                         />
                                    <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="12">
                            <table id="fourthTable" v-if="arrayPushProduct.length>0">
                                <thead>
                                    <tr>
                                        <th style="width: 10px;"></th>
                                        <th>Qty</th>
                                        <th>Designation</th>
                                        <th>Code Bar</th>
                                        <th>libele_catalog</th>
                                        <th>Prix Vente (DT)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(product,index) in arrayPushProduct" :key="index">
                                        <td><a type="button" @click="AddProd(product,index)" class="btn btn-success">+</a></td>
                                        <td>{{product.nbProduct?product.nbProduct:1}}</td>
                                        <td>{{product.design}}</td>
                                        <td>{{product.code_bar}}</td>
                                        <td>{{product.libele_cataloge}}</td>
                                        <td>{{product.prix_vente}}</td>
                                        <td><a type="button" @click="deleteProd(index)" class="btn btn-danger">-</a></td>
                                    </tr>
                                        <tr>
                                            <td colspan="6">Total</td>
                                            <td>{{Total}}</td>
                                        </tr>
                                </tbody>
                            </table>
                        </b-col>
                        <b-col md="4">
                            <!-- Montant tHT -->
                            <validation-provider #default="validationContext" name="montant_tht" rules="required">
                                <b-form-group label="montant_tht" label-for="montant_tht">
                                    <b-form-input id="montant_tht" v-model="userData.montant_tht" autofocus
                                        :state="getValidationState(validationContext)" trim placeholder="" />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- montant_remise -->
                            <validation-provider #default="validationContext" name="montant_remise"
                                rules="required|alpha-num">
                                <b-form-group label="montant_remise" label-for="montant_remise">
                                    <b-form-input id="montant_remise" v-model="userData.montant_remise"
                                        :state="getValidationState(validationContext)" trim placeholder="" />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- net_ht -->
                            <validation-provider #default="validationContext" name="net_ht" rules="required">
                                <b-form-group label="net_ht" label-for="net_ht">
                                    <b-form-input id="net_ht" v-model="userData.net_ht"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- total_tva -->
                            <validation-provider #default="validationContext" name="total_tva" rules="required">
                                <b-form-group label="total_tva" label-for="total_tva">
                                    <b-form-input id="total_tva" v-model="userData.total_tva"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- timbre -->
                            <validation-provider #default="validationContext" name="timbre" rules="required">
                                <b-form-group label="timbre" label-for="timbre">
                                    <b-form-input id="timbre" v-model="userData.timbre"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <!-- montant_ttc -->
                        <b-col md="4">
                            <validation-provider #default="validationContext" name="montant_ttc" rules="required">
                                <b-form-group label="montant_ttc" label-for="montant_ttc">
                                    <b-form-input id="montant_ttc" v-model="userData.montant_ttc"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>

                    </b-row>
                    <!-- Form Actions -->
                    <div class="d-flex mt-2">
                        <b-button v-ripple.400="'rgba(255, 255, 255, 0.15)'" variant="primary" class="mr-2"
                            type="submit">
                            Ajouter
                        </b-button>
                        <b-button v-ripple.400="'rgba(186, 191, 199, 0.15)'" type="button" variant="outline-secondary"
                            @click="hide">
                            Annuler
                        </b-button>
                    </div>
                </b-form>
            </validation-observer>
        </template>
    </b-sidebar>
</template>

<script>
    import {
        BRow,
        BFormFile,
        BCol,
        BSidebar,
        BForm,
        BFormGroup,
        BFormInput,
        BFormInvalidFeedback,
        BButton,
        BInputGroupAppend,
        BInputGroup,
        BFormCheckbox,
    } from 'bootstrap-vue'
    import {
        ValidationProvider,
        ValidationObserver
    } from 'vee-validate'
    import {
        ref
    } from '@vue/composition-api'
    import {
        required,
        alphaNum,
        email
    } from '@validations'
    import formValidation from '@core/comp-functions/forms/form-validation'
    import Ripple from 'vue-ripple-directive'
    import vSelect from 'vue-select'
    import countries from '@/@fake-db/data/other/countries'
    import store from '@/store'
    import {
        togglePasswordVisibility
    } from '@core/mixins/ui/forms'
    import Vue from 'vue'
    // import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

    // import axios from '@axios'

    export default {
        components: {
            BRow,
            BSidebar,
            BForm,
            BFormGroup,
            BFormInput,
            BFormInvalidFeedback,
            BButton,
            vSelect,
            BInputGroupAppend,
            BInputGroup,
            // Form Validation
            ValidationProvider,
            ValidationObserver,
            BCol,
            BFormFile,
            BFormCheckbox,
        },
        mixins: [togglePasswordVisibility],
        directives: {
            Ripple,
        },
        model: {
            prop: 'isAddNewUserSidebarActive',
            event: 'update:is-add-new-user-sidebar-active',
        },
        props: {
            isAddNewUserSidebarActive: {
                type: Boolean,
                required: true,
            },

        },
        data() {
            return {
                required,
                alphaNum,
                email,
                countries,
            }
        },
        computed: {
            passwordToggleIcon() {
                return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
            },
        },
        setup(props, {
            emit
        }) {
            const clientData = ref(null)
            const clientOptions = ref([])

            const depotOptions = ref([])
            const depotData = ref(null)

            const produitOptions = ref([])
            const produitData = ref(null)

            const arrayPushProduct=ref([])

            const Total= ref(null)

            const isnull= ref(0)

            const blankUserData = {
                produit_id: null,
            }

            const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
            const resetuserData = () => {
                userData.value = JSON.parse(JSON.stringify(blankUserData))
            }
            //helpers client
            store.dispatch('app-devisclient/getListClient')
                .then(response => {
                    clientData.value = response.data.data,
                        updateClientSelect(clientData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        clientData.value = undefined
                    }
                })
            const updateClientSelect = (data) => {
                console.log(data, 'client')
                data.forEach(elem => {
                    clientOptions.value.push({
                        "value": elem.id.toString(),
                        "text": elem.num_client
                    })
                })
            }
            //helpers depot
            store.dispatch('app-devisclient/getListDepot')
                .then(response => {
                    depotData.value = response.data.data,
                        updateDepotSelect(depotData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        depotData.value = undefined
                    }
                })
            const updateDepotSelect = (data) => {
                console.log(data, 'depot')
                data.forEach(elem => {
                    depotOptions.value.push({
                        "value": elem.id.toString(),
                        "text": elem.name
                    })
                })
            }
            //helpers produit
            store.dispatch('app-devisclient/getListArticle')
                .then(response => {
                    produitData.value = response.data.data,
                        updateArticleSelect(produitData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        produitData.value = undefined
                    }
                })
            const updateArticleSelect = (data) => {
                console.log(data, 'article')
                data.forEach(elem => {
                    produitOptions.value.push({
                        "value": elem.id.toString(),
                        "text": elem.design
                    })
                })
            }
            const onSubmit = () => {
                store.dispatch('app-devisclient/addDevisClient', {data:userData.value,array:arrayPushProduct.value}).then(() => {
                    emit('refetch-data')
                    emit('update:is-add-new-user-sidebar-active', false)
                })
            }
            // const  arrayRemove=(arr, value)=> {
            //     return arr.filter(function(geeks){
            //         return geeks != value;
            //     });
            // }
            // const isInArray=(value, array)=> {
            //     return array.indexOf(value) > -1;
            // }
            const isInArray=(value, array)=> {
            var found = false;
            console.log(array,'aaray')
                for(var i = 0; i < array.length; i++) {
                    console.log(array[i].id,'aaray',value)
                    if (array[i].id == value) {
                        found = true;
                        console.log(found,'found')
                    }
                }
                console.log(found,'found')
                return found;
            }

            const PutInProductArray=()=>{
                store.dispatch('app-devisclient/getAllProductDevisClient', userData.value.produit_id).then((res) => {
                    if(!(isInArray(userData.value.produit_id,arrayPushProduct.value))){
                        arrayPushProduct.value.push(res.data.data)
                        console.log(arrayPushProduct)
                            arrayPushProduct.value.forEach((elem,index) => {
                                Total.value+=((elem.tva.taux*elem.prix_vente)/elem.prix_vente)+elem.prix_vente
                            })
                    }

                    })
            }

            const deleteProd=(index)=>{
                Total.value-=((arrayPushProduct.value[index].tva.taux*arrayPushProduct.value[index].prix_vente)/arrayPushProduct.value[index].prix_vente)+arrayPushProduct.value[index].prix_vente
                arrayPushProduct.value.splice(index, 1);
            }
            const AddProd=(prod,index)=>{
                if(arrayPushProduct.value[index].hasOwnProperty('nbProduct')){
                    console.log('ok mawjoud')
                    arrayPushProduct.value[index].nbProduct +=1;
                }else{
                    console.log('mech mawjoud')
                    arrayPushProduct.value[index] = Object.assign({}, arrayPushProduct.value[index], { nbProduct: 2});
                }
                console.log('AddProd',prod)
                Total.value+=((prod.tva.taux*prod.prix_vente)/prod.prix_vente)+prod.prix_vente
            }
            const {
                refFormObserver,
                getValidationState,
                resetForm
            } = formValidation(resetuserData)

            return {
                Total,
                deleteProd,
                PutInProductArray,
                arrayPushProduct,
                userData,
                onSubmit,
                clientData,
                clientOptions,
                depotOptions,
                produitOptions,
                refFormObserver,
                getValidationState,
                resetForm,
                AddProd,
                isnull,
            }
        },
        methods: {

            // save_changes() {
            //     const formData = new FormData();

            //     formData.append('famille_id', this.userData.famille_id);
            //     formData.append('design', this.userData.design);
            //     formData.append('code_bar', this.userData.code_bar);
            //     formData.append('ref', this.userData.ref);
            //     formData.append('libele_cataloge', this.userData.libele_cataloge);
            //     formData.append('id3', this.userData.id3);
            //     formData.append('id2', this.userData.id2);
            //     formData.append('id1', this.userData.id1);
            //     formData.append('tva', this.userData.tva);
            //     formData.append('achat_ttc', this.userData.achat_ttc);
            //     formData.append('prix_achat_ht', this.userData.prix_achat_ht);
            //     formData.append('pv_ttc', this.userData.pv_ttc);
            //     formData.append('prix_vente', this.userData.prix_vente);
            //     formData.append('marge', this.userData.marge);
            //     formData.append('marque', this.userData.marque);
            //     formData.append('max_marge', this.userData.max_marge);
            //     formData.append('matiere_active', this.userData.matiere_active);
            //     formData.append('unite_prod', this.userData.unite_prod);
            //     formData.append('qty_alert', this.userData.qty_alert);
            //     formData.append('remise', this.userData.remise);
            //     formData.append('deb_remise', this.userData.deb_remise);
            //     formData.append('fin_remise', this.userData.fin_remise);

            //     axios.post('/add/devisclient', formData).then((res) => {
            //         console.log(res);
            //         if (res.data.code) {
            //             this.$toast({
            //                 component: ToastificationContent,
            //                 position: 'top-right',
            //                 props: {
            //                     title: `Devis Client Enregister`,
            //                     icon: 'CoffeeIcon',
            //                     variant: 'success',
            //                     text: `You have successfully save the Devis Client`,
            //                 },
            //             })
            //         } else {
            //             this.$toast({
            //                 component: ToastificationContent,
            //                 props: {
            //                     title: 'Une erreur s\'est produite',
            //                     icon: 'AlertTriangleIcon',
            //                     variant: 'danger',
            //                 },
            //             })
            //         }
            //         this.$emit('refetch-data')
            //         this.$emit('update:is-add-new-user-sidebar-active', false)
            //     })
            // },
        }
    }

</script>

<style lang="scss">
    @import '~@core/scss/vue/libs/vue-select.scss';

    #add-new-user-sidebar {
        .vs__dropdown-menu {
            max-height: 200px !important;
        }
    }

    .b-sidebar.sidebar-lg {
        width: 100%;
    }
    #fourthTable {
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #0873b9;
        margin: 2px 0px 17px 0px;
    }

    #fourthTable th {
        text-transform: uppercase;
        text-align: left;
        background: #3d5577;
        color: #FFF;
        cursor: pointer;
        padding: 8px;
        min-width: 30px;
    }

    #fourthTable th:hover {
        background: #3d4f77;
    }

    #fourthTable td {
        text-align: left;
        padding: 8px;
        border-right: 2px solid #7D82A8;
    }

    #fourthTable td:last-child {
        border-right: none;
    }

    #fourthTable tbody tr:nth-child(2n) td {
        background: #b0cadb;
    }

</style>
