<template>
    <div>
        <form-wizard color="#131654" :title="null" :subtitle="null" shape="square" finish-button-text="Submit"
            back-button-text="Previous" class="mb-3" @on-complete="formSubmitted">

            <!--country selection -->
            <tab-content title="Country selection" :before-change="validationFormCountry">
                <validation-observer ref="countryRules" tag="form">
                    <b-row>
                        <b-col cols="12" class="mb-2">
                            <h5 class="mb-0">
                                Country Selection
                            </h5>
                            <small class="text-muted">Select the country</small>
                        </b-col>

                        <b-col md="12">
                            <validation-provider #default="{ errors }" name="Country" rules="required">
                                <b-form-group label="Country" label-for="country" class="is_required"
                                    :state="errors.length > 0 ? false:null">
                                    <v-select id="country" v-model="selectedContry"
                                        :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="countries"
                                        :selectable="option => ! option.value.includes('select_value')" label="text"
                                        v-on:input="setCountry" />
                                    <b-form-invalid-feedback :state="errors.length > 0 ? false:null">
                                        {{ errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>

                    </b-row>
                </validation-observer>
            </tab-content>

            <!-- account details tab -->
            <tab-content title="Basic Information" :before-change="validationFormBasicInfo">
                <validation-observer ref="basicInfoRules" tag="form">
                    <b-row>
                        <b-col cols="12" class="mb-2">
                            <h5 class="mb-0">
                                Basic Information
                            </h5>
                            <small class="text-muted">Fill in your basic information</small>
                        </b-col>
                        <b-col md="6">
                            <validation-provider #default="{ errors }" name="VisaType" rules="required">
                                <b-form-group label="Visa Type" label-for="VisaType" class="is_required"
                                    :state="errors.length > 0 ? false:null">
                                    <v-select id="VisaType" v-model="VisaType"
                                        :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="visasData"
                                        :selectable="option => ! option.value.includes('select_value')" label="text"
                                        v-on:input="setBranch(VisaType)" />
                                    <b-form-invalid-feedback :state="errors.length > 0 ? false:null">
                                        {{ errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>

                        <b-col md="6">
                            <validation-provider #default="{ errors }" name="biometricsLocation" rules="required">
                                <b-form-group label="Visa Centers" label-for="biometricsLocation" class="is_required"
                                    :state="errors.length > 0 ? false:null">
                                    <v-select id="VisaType" v-model="biometricsLocation"
                                        :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                                        :options="translated(branchesData)" :items="branchesData"
                                        :selectable="option => ! option.value.includes('select_value')" label="text" />
                                    <b-form-invalid-feedback :state="errors.length > 0 ? false:null">
                                        {{ errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="6">
                            <b-form-group class="is_required">
                                <label for="travel-date">Travel Date</label>
                                <flat-pickr v-model="travelDate" name="travel-date" id="travel-date"
                                    class="form-control"
                                    :config="{ minDate:new Date().fp_incr(1), altInput: true,altFormat: 'F j, Y', dateFormat: 'Y-m-d',}" />
                            </b-form-group>
                        </b-col>

                    </b-row>
                </validation-observer>
            </tab-content>

            <!--required documents -->
            <tab-content title="Visa Requirements">
                <b-row>
                    <b-col cols="12" class="mb-2">
                        <h5 class="mb-0">
                            Visa Required Documents
                        </h5>
                        <small class="text-muted">Documents</small>
                    </b-col>

                    <b-col md="12">
                        <b-card-code title="Required documents">
                            <app-collapse>
                                <app-collapse-item title="Original Passport (Required)">
                                    Issued within the last 10 years and with at least 6 months validity after the
                                    scheduled return, with at least two blank pages.
                                </app-collapse-item>
                                <app-collapse-item title="Photos">
                                    <ul class="list-style-icons">
                                        <li>
                                            <feather-icon icon="ChevronRightIcon" />
                                            2 recent passport-sized photographs(3,5cm*4,5cm) with a white background.
                                            Full face, no head or face cover, full visibility of the facial
                                            features.(5cm*5cm for USA)
                                        </li>
                                        <!-- <li>
                                            <feather-icon icon="ChevronRightIcon" />Additional 5 printed photos are also
                                            required for each applicant
                                        </li>
                                        <li>
                                            <feather-icon icon="ChevronRightIcon" />Photos specifications:
                                            <ul class="list-style-circle">
                                                <li>With dimensions 5cm*5cm, with White BG and without Face effects.
                                                </li>
                                                <li>For Men: With head cover</li>
                                                <li>For Women: with visible top hair</li>
                                            </ul>
                                        </li> -->
                                    </ul>
                                </app-collapse-item>

                                <app-collapse-item title="Job Letter (In English)">
                                    <ul class="list-style-icons">
                                        <li>
                                            <feather-icon icon="ChevronRightIcon" />
                                            Govt. Sector: It must be stamped in color by the Govt.<br />Sector employer.
                                        </li>
                                        <li>
                                            <feather-icon icon="ChevronRightIcon" />
                                            Private Sector: It must be printed on official stationary of the employer
                                            and
                                            attested from Chamber of Commerce.<br />(Job letter must be up to date)
                                        </li>

                                    </ul>
                                </app-collapse-item>

                                <app-collapse-item title="Bank Statement">
                                    <!-- -Proof of travel medical insurance covering the entire period of intended stay.
                                    -The minimum coverage must be EUR 30’000.00 -->
                                </app-collapse-item>
                                <app-collapse-item title="Insurance">
                                    Proof of travel medical insurance covering the entire period of intended stay.
                                </app-collapse-item>
                                <!-- <app-collapse-item title="In case of Study Visa: I-20">
                                    I-20 Document
                                </app-collapse-item> -->
                            </app-collapse>

                            <!-- <template #code>
                                {{ codeCollapseDefault }}
                            </template> -->
                        </b-card-code>
                        <b-card-code :title="'Required documents (fingerprinting)'">
                            <ul class="list-style-icons">
                                <li>
                                    <feather-icon icon="ChevronRightIcon" />
                                    Origin of the passport
                                </li>
                                <li>
                                    <feather-icon icon="ChevronRightIcon" />
                                    Original ID card (for individuals) and family card (for families).
                                </li>
                                <li>
                                    <feather-icon icon="ChevronRightIcon" />
                                    Two (2) personal photos with white background, size 3.5 x 4.5.
                                </li>
                                <li>
                                    <feather-icon icon="ChevronRightIcon" />
                                    Letter of introduction from the employer (English) certified by the Chamber of
                                    Commerce, government sector (without certification).
                                </li>
                                <li>
                                    <feather-icon icon="ChevronRightIcon" />
                                    Bank statement for the last 3 months (English) stamped by the bank.
                                </li>
                                <li>
                                    <feather-icon icon="ChevronRightIcon" />
                                    Print the files sent to the e-mail (appointment, form, travel insurance, flight and
                                    hotel reservations).
                                </li>
                            </ul>
                        </b-card-code>
                        <!--Requires Interview in Embassady -->
                        <!-- <b-card-code title="Requires Interview in Embassy">
                            <ul class="list-style-icons">
                                <li>
                                    <feather-icon icon="ChevronRightIcon" />
                                    US Embassy requires interview for Adults above 14 years of age.
                                </li>
                                <li>
                                    <feather-icon icon="ChevronRightIcon" />
                                    US Embassy requires interview even if you have a previous visa.
                                </li>

                            </ul>
                        </b-card-code> -->
                        <!--Expected visa Issurance Period -->
                        <b-card-code title="Expected visa Issurance Period">
                            <ul class="list-style-icons">
                                <li>
                                    <feather-icon icon="ChevronRightIcon" />
                                    7 to 10 working days from the day of Biometric.
                                </li>
                                <li>
                                    <feather-icon icon="alert-triangle" />
                                    In some cases, it can take up to a month or more due to Administrative Processing by
                                    Embassy.
                                </li>

                            </ul>
                        </b-card-code>
                        <!--* Translation -->
                        <b-card-code title="* Translation">
                            <p>Translation includes National ID Card &amp; Family Card</p>
                        </b-card-code>
                    </b-col>
                </b-row>

            </tab-content>

            <!-- traveller's details tab -->
            <tab-content title="Traveller's Information" :before-change="validationFormInfo">
                <validation-observer ref="infoRules" tag="form">

                    <b-card-code title="Travellers Information">
                        <b-card-text class="text-right border-bottom pb-2 mb-2">
                            <b-button size="md" variant="primary" class="btn-tour-skip mr-1" @click="addAdultTraveller">
                                <feather-icon icon="UserPlusIcon" />
                                Adult Traveller
                            </b-button>
                            <b-button size="md" variant="outline-primary" class="btn-tour-skip mr-1"
                                @click="addChildTraveller">
                                <feather-icon icon="UserPlusIcon" />
                                Child Traveller
                            </b-button>

                        </b-card-text>
                        <b-tabs pills>
                            <b-tab :title="traveller.is_child==0?'Adult '+(traveller.count):'Child '+(traveller.count)"
                                :active="index==0" v-for="(traveller,index) in travellers" :key="index">
                                <b-card-text>
                                    <b-row>
                                        <b-col cols="12">
                                            <b-card-code>
                                                <b-row>
                                                    <b-col cols="12"
                                                        class="mb-2 d-flex align-items-center justify-content-between">
                                                        <h5 class="mb-0">
                                                            Personal Info
                                                        </h5>
                                                        <b-button size="md" variant="danger" class="btn-tour-skip"
                                                            v-if="index>0 && traveller.is_child==0"
                                                            @click="removeAdultTraveller(index)">
                                                            <feather-icon icon="UserMinusIcon" />
                                                            Adult Traveller
                                                        </b-button>

                                                        <b-button size="md" variant="danger" class="btn-tour-skip"
                                                            @click="removeChildTraveller(index)"
                                                            v-if="index>0 && traveller.is_child==1">
                                                            <feather-icon icon="UserMinusIcon" />
                                                            Child Traveller
                                                        </b-button>
                                                    </b-col>
                                                    <b-col md="6">
                                                        <b-form-group class="is_required" label="First Name"
                                                            label-for="first-name">
                                                            <validation-provider #default="{ errors }" name="first_name"
                                                                rules="required">
                                                                <b-form-input v-model="traveller.first_name"
                                                                    placeholder="John"
                                                                    :state="errors.length > 0 ? false:null" />
                                                                <small class="text-danger">{{ errors[0] }}</small>
                                                            </validation-provider>
                                                        </b-form-group>
                                                    </b-col>
                                                    <b-col md="6">
                                                        <b-form-group class="is_required" label="Last Name"
                                                            label-for="last-name">
                                                            <validation-provider #default="{ errors }" name="last-name"
                                                                rules="required">
                                                                <b-form-input v-model="traveller.last_name"
                                                                    :state="errors.length > 0 ? false:null"
                                                                    placeholder="Doe" />
                                                                <small class="text-danger">{{ errors[0] }}</small>
                                                            </validation-provider>
                                                        </b-form-group>
                                                    </b-col>
                                                    <b-col v-if="index==0">
                                                        <b-form-group class="is_required" label="Email"
                                                            label-for="email">
                                                            <validation-provider #default="{ errors }" name="email"
                                                                rules="required">
                                                                <b-form-input v-model="traveller.email" type="email"
                                                                    placeholder="john.doe@email.com"
                                                                    :state="errors.length > 0 ? false:null" />
                                                                <small class="text-danger">{{ errors[0] }}</small>
                                                            </validation-provider>
                                                        </b-form-group>
                                                    </b-col>
                                                    <b-col md="6">
                                                        <validation-provider #default="{ errors }" name="status"
                                                            rules="required">
                                                            <b-form-group class="is_required" label="Marital Status"
                                                                label-for="status"
                                                                :state="errors.length > 0 ? false:null">
                                                                <v-select v-model="traveller.maritalStatus"
                                                                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                                                                    :options="maritalStatuses"
                                                                    :selectable="option => ! option.value.includes('select_value')"
                                                                    label="text" />
                                                                <b-form-invalid-feedback
                                                                    :state="errors.length > 0 ? false:null">
                                                                    {{ errors[0] }}
                                                                </b-form-invalid-feedback>
                                                            </b-form-group>
                                                        </validation-provider>
                                                    </b-col>

                                                    <b-col md="6">
                                                        <b-form-group class="is_required" label="Passport"
                                                            label-for="passport">
                                                            <validation-provider #default="{ errors }"
                                                                name="passport-id" rules="required">
                                                                <b-form-file v-model="traveller.passport"
                                                                    @change="onFileChange(index,$event)"
                                                                    placeholder="Choose a file or drop it here..."
                                                                    drop-placeholder="Drop file here..." />

                                                                <small class="text-danger">{{ errors[0] }}</small>
                                                            </validation-provider>
                                                        </b-form-group>
                                                    </b-col>
                                                    <b-col md="6">
                                                        <b-form-group class="is_required" label="Phone"
                                                            label-for="phone">
                                                            <validation-provider #default="{ errors }" name="phone"
                                                                rules="required">
                                                                <b-form-input v-model="traveller.tel" placeholder="05 XXX XXXX"
                                                                    type="number"
                                                                    :state="errors.length > 0 ? false:null" />
                                                                <small class="text-danger">{{ errors[0] }}</small>
                                                            </validation-provider>
                                                        </b-form-group>
                                                    </b-col>
                                                    <b-col md="6">
                                                        <b-form-group
                                                            label="Status card (for individuals) and family card (for families)"
                                                            label-for="family-id">
                                                            <b-form-file v-model="traveller.family_id"
                                                                @change="onFileChangeFamilyId(index,$event)"
                                                                placeholder="Choose a file or drop it here..."
                                                                drop-placeholder="Drop file here..."
                                                                v-if="!traveller.later_family_id" />
                                                        </b-form-group>
                                                        <div class="d-flex">
                                                            <b-form-checkbox checked="false"
                                                                v-model="traveller.later_family_id" switch inline>
                                                                I will add it later
                                                            </b-form-checkbox>
                                                        </div>
                                                    </b-col>

                                                    <!--salaire-->
                                                     <b-col md="6" v-if="traveller.is_child==0">
                                                        <b-form-group
                                                            label="Salary Definition"
                                                            label-for="family-id">
                                                            <b-form-file v-model="traveller.salaire"
                                                                @change="onFileChangeSalaire(index,$event)"
                                                                placeholder="Choose a file or drop it here..."
                                                                drop-placeholder="Drop file here..."
                                                                v-if="!traveller.later_salaire" />
                                                        </b-form-group>
                                                        <div class="d-flex">
                                                            <b-form-checkbox checked="false"
                                                                v-model="traveller.later_salaire" switch inline>
                                                                I will add it later
                                                            </b-form-checkbox>
                                                        </div>
                                                    </b-col>

                                                    <b-col md="6">
                                                        <b-form-group label="Personal Photo" label-for="photo">
                                                            <b-form-file v-model="traveller.photo"
                                                                @change="onFileChangePhoto(index,$event)"
                                                                placeholder="Choose a file or drop it here..."
                                                                drop-placeholder="Drop file here..."
                                                                v-if="!traveller.later_photo" />
                                                        </b-form-group>
                                                        <div class="d-flex">
                                                            <b-form-checkbox checked="false"
                                                                v-model="traveller.later_photo" switch inline>
                                                                I will add it later
                                                            </b-form-checkbox>
                                                        </div>
                                                    </b-col>
                                                    <b-col md="6" v-if="traveller.is_child==0">
                                                        <b-form-group  label="Bank statement"
                                                            label-for="salaire">
                                                            <b-form-file v-model="traveller.bankStatment"
                                                                @change="onFileChangeSalaire(index,$event)"
                                                                placeholder="Choose a file or drop it here..."
                                                                drop-placeholder="Drop file here..."
                                                                v-if="!traveller.later_bankStatment" />
                                                        </b-form-group>
                                                        <div class="d-flex">
                                                            <b-form-checkbox checked="false"
                                                                v-model="traveller.later_bankStatment" switch inline>
                                                                I will add it later
                                                            </b-form-checkbox>
                                                        </div>
                                                    </b-col>
                                                    <b-col md="6" v-if="traveller.is_child==0">
                                                        <b-form-group label="Assurance"
                                                            label-for="assurance">
                                                            <b-form-file v-model="traveller.assurance"
                                                                @change="onFileChangeAssurance(index,$event)"
                                                                placeholder="Choose a file or drop it here..."
                                                                drop-placeholder="Drop file here..."
                                                                v-if="!traveller.later_assurance" />
                                                        </b-form-group>
                                                        <div class="d-flex">
                                                            <b-form-checkbox checked="false"
                                                                v-model="traveller.later_assurance" switch inline>
                                                                I will add it later
                                                            </b-form-checkbox>
                                                        </div>
                                                    </b-col>
                                                </b-row>
                                            </b-card-code>
                                        </b-col>

                                        <b-col cols="12">
                                            <b-card-code
                                                :title="'Have you ever obtained '+selectedContry.text+ ' visa before?'">
                                                <b-row class="d-flex align-items-center">
                                                    <b-col md="3">
                                                        No
                                                        <b-form-checkbox checked="false"
                                                            v-model="traveller.has_old_visa" switch inline>
                                                            Yes
                                                        </b-form-checkbox>
                                                    </b-col>
                                                    <b-col md="4" v-if="traveller.has_old_visa">
                                                        <validation-provider #default="{ errors }" name="prev-visa"
                                                            rules="required">
                                                            <b-form-file v-model="traveller.prev_visa"
                                                                @change="onFileChangePrevVisa(index,$event)"
                                                                class="my-1" placeholder="Previous Visa"
                                                                drop-placeholder="Previous Visa"
                                                                :disabled="traveller.selected_old_visa == 1" />

                                                            <small class="text-danger">{{ errors[0] }}</small>
                                                        </validation-provider>
                                                    </b-col>
                                                    <b-col md="5" v-if="traveller.has_old_visa">
                                                        <b-form-checkbox v-model="traveller.selected_old_visa"  checked="false" switch inline plain>
                                                            I don't have it, right now
                                                        </b-form-checkbox>
                                                    </b-col>
                                                </b-row>

                                            </b-card-code>
                                        </b-col>

                                        <b-col cols="12">
                                            <b-card-code
                                                :title="'Have you ever travelled to '+selectedContry.text+ ' in the last 10 years?'">
                                                <b-row>
                                                    <b-col md="12">
                                                        No
                                                        <b-form-checkbox checked="false"
                                                            v-model="traveller.has_travelled" switch inline>
                                                            Yes
                                                        </b-form-checkbox>
                                                    </b-col>
                                                    <b-col md="6" v-if="traveller.has_travelled" class="py-2">
                                                        <validation-provider #default="{ errors }" name="lastStayLength"
                                                            rules="required">
                                                            <b-form-group label="Length of last stay (approx.)"
                                                                label-for="lastStayLength"
                                                                :state="errors.length > 0 ? false:null">
                                                                <v-select v-model="traveller.lastStayLength"
                                                                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                                                                    :options="lastStayLengths"
                                                                    :selectable="option => ! option.value.includes('select_value')"
                                                                    label="text" />
                                                                <b-form-invalid-feedback
                                                                    :state="errors.length > 0 ? false:null">
                                                                    {{ errors[0] }}
                                                                </b-form-invalid-feedback>
                                                            </b-form-group>
                                                        </validation-provider>
                                                    </b-col>
                                                    <b-col md="6" v-if="traveller.has_travelled" class="py-2">
                                                        <!--date of last arrival-->
                                                        <b-form-group>
                                                            <label for="textarea-default">Date of Last Arrival</label>
                                                            <flat-pickr v-model="traveller.last_arrival"
                                                                class="form-control"
                                                                :config="{ maxDate:new Date(), altInput: true,altFormat: 'F j, Y', dateFormat: 'Y-m-d',}" />
                                                        </b-form-group>
                                                    </b-col>
                                                    <b-col md="12" v-if="traveller.has_travelled">
                                                        <h6>Do you have {{selectedContry.text}} driver Licence</h6>
                                                        No
                                                        <b-form-checkbox checked="false"
                                                            v-model="traveller.has_drivingLicence" switch inline>
                                                            Yes
                                                        </b-form-checkbox>
                                                    </b-col>
                                                </b-row>

                                            </b-card-code>
                                        </b-col>
                                        <b-col cols="12">
                                            <b-card-code
                                                :title="'Have your visa to ' +selectedContry.text+' been cancelled before?' ">
                                                <b-row>
                                                    <b-col md="12" class="mb-2">
                                                        No
                                                        <b-form-checkbox checked="false"
                                                            v-model="traveller.visa_cancelled" switch inline>
                                                            Yes
                                                        </b-form-checkbox>
                                                    </b-col>
                                                    <b-col md="12" v-if="traveller.visa_cancelled">
                                                        <!--reasons-->
                                                        <b-form-textarea v-model="traveller.reasons"
                                                            placeholder="Reason of Cancellation (Briefly)" rows="3" />
                                                    </b-col>
                                                </b-row>
                                            </b-card-code>
                                        </b-col>
                                        <b-col cols="12">
                                            <b-card-code :title="'Do you have Relatives in '+selectedContry.text+' ?'">
                                                <b-row>
                                                    <b-col md="12" class="mb-2">
                                                        No
                                                        <b-form-checkbox checked="false"
                                                            v-model="traveller.visa_relatives" switch inline>
                                                            Yes
                                                        </b-form-checkbox>
                                                    </b-col>
                                                    <b-col md="12" v-if="traveller.visa_relatives">
                                                        <!--Relative Type-->
                                                        <validation-provider #default="{ errors }" name="lastStayLength"
                                                            rules="required">
                                                            <b-form-group label="Relationship"
                                                                label-for="lastStayLength"
                                                                :state="errors.length > 0 ? false:null">
                                                                <v-select v-model="traveller.visaRelativesTypes"
                                                                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                                                                    :options="visa_relatives_types"
                                                                    :selectable="option => ! option.value.includes('select_value')"
                                                                    label="text" />
                                                                <b-form-invalid-feedback
                                                                    :state="errors.length > 0 ? false:null">
                                                                    {{ errors[0] }}
                                                                </b-form-invalid-feedback>
                                                            </b-form-group>
                                                        </validation-provider>
                                                    </b-col>
                                                </b-row>
                                            </b-card-code>
                                        </b-col>

                                    </b-row>
                                </b-card-text>
                            </b-tab>

                        </b-tabs>

                    </b-card-code>

                </validation-observer>
            </tab-content>

            <!-- payment link -->
            <tab-content title="Payment">
                <validation-observer ref="" tag="form">
                    <b-row>
                        <b-col cols="12" class="mb-2">
                            <h5 class="mb-0">
                                Payment
                            </h5>
                            <small class="text-muted">Complete Payment</small>
                        </b-col>
                        <b-col cols="12">
                            <b-form-group>
                                <b-form-radio name="payment-method" v-model="brand" value="VISA"
                                    @click="setPaymentGateway('VISA')">
                                    Visa Card
                                </b-form-radio>
                                <!-- <b-form-radio name="payment-method" class="mt-1" v-model="brand" value="MASTER" @click="setPaymentGateway('MASTER')">
                        Master Card
                    </b-form-radio>
                    <b-form-radio name="payment-method" class="mt-1" v-model="brand"  value="AMEX" @click="setPaymentGateway('AMEX')">
                        Amex
                    </b-form-radio>
                    <b-form-radio name="payment-method" class="mt-1" v-model="brand"  value="MADA" @click="setPaymentGateway('MADA')">
                        Mada
                    </b-form-radio>
                    <b-form-radio name="payment-method" class="mt-1" v-model="brand"  value="STC_PAY" @click="setPaymentGateway('STC_PAY')">
                        STC PAy
                    </b-form-radio>-->
                                <b-form-radio name="payment-method" class="mt-1" v-model="brand"
                                    value="CASH_ON_DELIVERY" @click="setPaymentGateway('CASH_ON_DELIVERY')">
                                    Cash On Delivery
                                </b-form-radio>
                            </b-form-group>

                            <hr class="my-2">
                            <div class="m-4 flex mt-10 min-h-payment-form relative" dir="ltr" id="hyperpay-form"></div>
                        </b-col>
                    </b-row>

                </validation-observer>
            </tab-content>
        </form-wizard>

    </div>
</template>

<script>
    import BCardCode from '@core/components/b-card-code'
    import AppCollapse from '@core/components/app-collapse/AppCollapse.vue'
    import AppCollapseItem from '@core/components/app-collapse/AppCollapseItem.vue'
    import {
        codeCollapseDefault
    } from '../../components/collapse/code'
    import {
        FormWizard,
        TabContent
    } from 'vue-form-wizard'
    import vSelect from 'vue-select'
    import {
        ValidationProvider,
        ValidationObserver
    } from 'vee-validate'
    import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'
    import store from '@/store'
    import visaStoreModule from './VisaStoreModule'
    import {
        ref,
        onUnmounted
    } from '@vue/composition-api'
    import axios from '@axios'
    import {
        BButton,
        BRow,
        BCol,
        BFormGroup,
        BFormInput,
        BFormInvalidFeedback,
        BCardText,
        BFormFile,
        BFormCheckbox,
        BFormTextarea,
        BTab,
        BTabs,
        BFormRadio
    } from 'bootstrap-vue'
    import {
        required,
        email
    } from '@validations'
    import {
        codeIcon
    } from '../form-wizard/code'
    import Collapse from '../../components/collapse/Collapse.vue'
    import flatPickr from 'vue-flatpickr-component'
    import {
        codeBasic
    } from '../../forms/form-element/form-file-input/code'
    import {
        filterTags
    } from '@core/utils/filter';
    export default {
        components: {
            BButton,
            BFormTextarea,
            BTab,
            BTabs,
            BFormCheckbox,
            filterTags,
            BCardText,
            codeBasic,
            BCardCode,
            BFormFile,
            AppCollapse,
            AppCollapseItem,
            codeCollapseDefault,
            flatPickr,
            ValidationProvider,
            ValidationObserver,
            FormWizard,
            TabContent,
            BRow,
            BCol,
            BFormGroup,
            BFormInput,
            vSelect,
            BFormInvalidFeedback,
            // eslint-disable-next-line vue/no-unused-components
            ToastificationContent,
            Collapse,
            visaStoreModule,
            BFormRadio
        },
        data() {
            return {
                //payment
                items: [],
                showCheckoutForm: false,
                redirect_url: null,
                amount: 100,
                paymentType: null,
                brands: [],
                brand: 'VISA',
                hyPayPayFormLoading: true,
                //payment
                total_travellers: 1,
                total_numChildTravellers: 0,
                travellers: [{
                    visa_cancelled: 0,
                    has_old_visa: 0,
                    has_travelled: 0,
                    has_drivingLicence: 0,
                    selected_old_visa: 0,
                    prev_visa: null,
                    photo: null,
                    later_photo: 0,
                    later_family_id: 0,
                    later_salaire: 0,
                    later_assurance: 0,
                    later_bankStatment:0,
                    passport: null,
                    salaire: null,
                    bankStatment: null,
                    assurance: null,
                    family_id: null,
                    lastStayLength: {
                        value: '-1',
                        text: 'Length of last stay (approx.)'
                    },
                    visaRelativesTypes: {
                        value: '-1',
                        text: 'Please select...'
                    },
                    maritalStatus: {
                        value: '1',
                        text: 'Single'
                    },
                    visa_relatives: 0,
                    email: '',
                    first_name: '',
                    last_name: '',
                    reasons: '',
                    last_arrival: '',
                    is_child: 0,
                    count: 1
                }],
                travellerRelationship: {
                    value: '-1',
                    text: 'Nothing Selected'
                },

                visa_relatives_types: [{
                        value: '1',
                        text: 'Father'
                    },
                    {
                        value: '2',
                        text: 'Mother'
                    },
                    {
                        value: '3',
                        text: 'Brother'
                    },
                    {
                        value: '4',
                        text: 'Sister'
                    },
                    {
                        value: '5',
                        text: 'Son'
                    },
                    {
                        value: '6',
                        text: 'Daughter'
                    },
                    {
                        value: '7',
                        text: 'Husband/Wife'
                    },
                ],

                lastStayLengths: [{
                        value: '1',
                        text: '1 Day'
                    },
                    {
                        value: '2',
                        text: '2 Days'
                    },
                    {
                        value: '3',
                        text: '3 Days'
                    },
                    {
                        value: '4',
                        text: '4 Days'
                    },
                    {
                        value: '5',
                        text: '5 Days'
                    },
                    {
                        value: '6',
                        text: '6 Days'
                    },
                    {
                        value: '7',
                        text: '7 Days'
                    },
                    {
                        value: '8',
                        text: '8 Days'
                    },
                    {
                        value: '9',
                        text: '9 Days'
                    },
                    {
                        value: '10',
                        text: '10 Days'
                    },
                    {
                        value: '11',
                        text: '11 Day'
                    },
                    {
                        value: '12',
                        text: '12 Days'
                    },
                    {
                        value: '13',
                        text: '13 Days'
                    },
                    {
                        value: '14',
                        text: '14 Days'
                    },
                    {
                        value: '15',
                        text: '15 Days'
                    },
                    {
                        value: '16',
                        text: '16 Days'
                    },
                    {
                        value: '17',
                        text: '17 Days'
                    },
                    {
                        value: '18',
                        text: '18 Days'
                    },
                    {
                        value: '19',
                        text: '19 Days'
                    },
                    {
                        value: '20',
                        text: '20 Days'
                    },
                    {
                        value: '21',
                        text: '21 Days'
                    },
                    {
                        value: '22',
                        text: '22 Day'
                    },
                    {
                        value: '23',
                        text: '23 Days'
                    },
                    {
                        value: '24',
                        text: '24 Days'
                    },
                    {
                        value: '25',
                        text: '25 Days'
                    },
                    {
                        value: '26',
                        text: '26 Days'
                    },
                    {
                        value: '27',
                        text: '27 Days'
                    },
                    {
                        value: '28',
                        text: '28 Days'
                    },
                    {
                        value: '29',
                        text: '29 Days'
                    },
                    {
                        value: '30',
                        text: '30 Days (1 month)'
                    },
                    {
                        value: '31',
                        text: '2 Months'
                    },
                    {
                        value: '32',
                        text: '3 Months'
                    },
                    {
                        value: '33',
                        text: '4 Months'
                    },
                    {
                        value: '34',
                        text: '5 Months'
                    },
                    {
                        value: '35',
                        text: '6 Months'
                    },
                    {
                        value: '36',
                        text: '7 Months'
                    },
                    {
                        value: '37',
                        text: '8 Months'
                    },
                    {
                        value: '38',
                        text: '9 Months'
                    },
                    {
                        value: '39',
                        text: '10 Months'
                    },
                    {
                        value: '40',
                        text: '11 Months'
                    },
                    {
                        value: '41',
                        text: '12 Months'
                    },
                    {
                        value: '42',
                        text: '2 Years'
                    },
                    {
                        value: '43',
                        text: '3 Years'
                    },
                    {
                        value: '44',
                        text: '4 Years'
                    },
                    {
                        value: '45',
                        text: '5 Years'
                    },
                ],

                maritalStatuses: [{
                        value: '1',
                        text: 'Single'
                    },
                    {
                        value: '2',
                        text: 'Married'
                    },
                ],
                numTravellers: {
                    value: '-1',
                    text: 'Nothing Selected'
                },
                numChildTravellers: {
                    value: '-1',
                    text: '0'
                },
                codeCollapseDefault,
                travellersNumber: [{
                        value: '1',
                        text: '1'
                    },
                    {
                        value: '2',
                        text: '2'
                    },
                    {
                        value: '3',
                        text: '3'
                    },
                    {
                        value: '4',
                        text: '4'
                    },
                    {
                        value: '5',
                        text: '5'
                    },
                    {
                        value: '6',
                        text: '6'
                    },
                    {
                        value: '7',
                        text: '7'
                    },
                    {
                        value: '8',
                        text: '8'
                    },
                    {
                        value: '9',
                        text: '9'
                    },
                    {
                        value: '10',
                        text: '10'
                    }
                ],
                travellersChildsNumber: [{
                        value: '1',
                        text: '1'
                    },
                    {
                        value: '2',
                        text: '2'
                    },
                    {
                        value: '3',
                        text: '3'
                    },
                    {
                        value: '4',
                        text: '4'
                    },
                    {
                        value: '5',
                        text: '5'
                    },
                    {
                        value: '6',
                        text: '6'
                    },
                    {
                        value: '7',
                        text: '7'
                    },
                    {
                        value: '8',
                        text: '8'
                    },
                    {
                        value: '9',
                        text: '9'
                    },
                    {
                        value: '10',
                        text: '10'
                    }
                ],
                travellersRelationships: [{
                        value: '1',
                        text: 'Family'
                    },
                    {
                        value: '2',
                        text: 'Friends'
                    },
                    {
                        value: '3',
                        text: 'Other'
                    }
                ],
                travelDate: new Date(),
                selectedContry: '',
                selectedLanguage: '',
                VisaType: '',
                biometricsLocation: '',
                required,
                email,
                codeIcon,
                branchesData: [],
                visasData: [],
            }
        },
        //payment
        created() {
            //  this.getFormToken()
        },
        computed: {
            // totalAmount() {
            //     let total = 0
            //     this.items.forEach(i => {
            //         total += Number(i.product.price) * i.qty
            //     })

            //     return total
            // },
        },
        watch: {
            brand: function (val, oldVal) {
                // console.log('val --->', val, this.brand)
                if (this.brand !== oldVal) {
                    // console.log('val --->', oldVal)
                    this.hyPayPayFormLoading = true
                    //this.getFormToken()
                }
            }
        },
        mounted() {
            const wpwlOptions = {
                locale: "ar",
                style: "card",
                brandDetection: true,
                // showCVVHint: true,
                brandDetectionType: "regex",
                brandDetectionPriority: ["VISA", "MADA", "MASTER"],

                imageStyle: "svg",
                spinner: {
                    color: 'transparent'
                },
                threeDIframeSize: {
                    'width': '100%',
                    'height': '400px'
                },
                onReady: function () {
                    ready = true;
                    this.hyPayPayFormLoading = false
                }.bind(this),
                onChangeBrand: function (val) {

                }.bind(this),
                onDetectBrand: function (brands) {

                }.bind(this),
                iframeStyles: {
                    'card-number-placeholder': {
                        'color': '#9CA3AF',
                        'font-size': '14px',
                        'font-family': 'Tajawal'
                    },
                    'cvv-placeholder': {
                        'color': '#9CA3AF',
                        'font-size': '14px',
                        'font-family': 'Tajawal'
                    }
                }
            }
        },
        //payment
        setup() {
            const paysData = ref(null)
            const countries = ref([])
            const branches = ref([])
            const listpassport = ref([])
            const listphoto = ref([])
            const listsalaire = ref([])
            const listassurance = ref([])
            const listfamilyIds = ref([])
            const listOldVisas = ref([])
            const listBankStmts = ref([])
            const FILLING_APP_STORE_MODULE_NAME = 'forms-visa'

            // Register module
            if (!store.hasModule(FILLING_APP_STORE_MODULE_NAME)) store.registerModule(FILLING_APP_STORE_MODULE_NAME,
                visaStoreModule)

            // UnRegister on leave
            onUnmounted(() => {
                if (store.hasModule(FILLING_APP_STORE_MODULE_NAME)) store.unregisterModule(
                    FILLING_APP_STORE_MODULE_NAME)
            })

            store.dispatch('forms-visa/fetchPays')
                .then(response => {
                    paysData.value = response.data.data,
                        updateCountriesSelect(paysData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        paysData.value = undefined
                    }
                })
            //helpers
            const updateCountriesSelect = (data) => {
                data.forEach(elem => {
                    countries.value.push({
                        "value": elem.id.toString(),
                        "text": elem.name
                    })
                })
            }

            return {
                paysData,
                countries,
                branches,
                listpassport,
                listphoto,
                listfamilyIds,
                listOldVisas,
                listsalaire,
                listassurance,
                listBankStmts
            }
        },
        methods: {
            translated(data) {
                const locale = this.$store.state.appConfig.isRTL ? 'ar' : 'en';
                let final = [];
                data.forEach(element => {
                    final.push({
                        value: element.text,
                        text: element.text,
                        price: element.price
                    })
                });
                return final
            },
            onFileChange(index, e) {
                const p_exper_pro_upload = e.target.files[0];
                const dataUp = [];
                dataUp['index'] = index;
                dataUp['files'] = p_exper_pro_upload;
                this.listpassport.push(dataUp);
            },
            onFileChangePhoto(index, e) {
                const p_exper_pro_upload = e.target.files[0];
                const dataUp = [];
                dataUp['index'] = index;
                dataUp['files'] = p_exper_pro_upload;
                this.listphoto.push(dataUp);
            },
            onFileChangeSalaire(index, e) {
                const p_exper_pro_upload = e.target.files[0];
                const dataUp = [];
                dataUp['index'] = index;
                dataUp['files'] = p_exper_pro_upload;
                this.listsalaire.push(dataUp);
            },
            onFileChangeAssurance(index, e) {
                const p_exper_pro_upload = e.target.files[0];
                const dataUp = [];
                dataUp['index'] = index;
                dataUp['files'] = p_exper_pro_upload;
                this.listassurance.push(dataUp);
            },
            onFileChangeFamilyId(index, e) {
                const p_exper_pro_upload = e.target.files[0];
                const dataUp = [];
                dataUp['index'] = index;
                dataUp['files'] = p_exper_pro_upload;
                this.listfamilyIds.push(dataUp);
                console.log(this.listfamilyIds, 'array listfamilyIds');
            },
            onFileChangePrevVisa(index, e) {
                const p_exper_pro_upload = e.target.files[0];
                const dataUp = [];
                dataUp['index'] = index;
                dataUp['files'] = p_exper_pro_upload;
                this.listOldVisas.push(dataUp);
            },
            //listBankStmts
            onFileChangeSalaire(index, e) {
                const p_exper_pro_upload = e.target.files[0];
                const dataUp = [];
                dataUp['index'] = index;
                dataUp['files'] = p_exper_pro_upload;
                this.listBankStmts.push(dataUp);
            },
            addAdultTraveller() {
                this.total_travellers++;
                this.travellers.push({
                    visa_cancelled: 0,
                    has_old_visa: 0,
                    has_travelled: 0,
                    has_drivingLicence: 0,
                    selected_old_visa: 0,
                    prev_visa: null,
                    photo: null,
                    later_photo: 0,
                    later_family_id: 0,
                    later_salaire: 0,
                    later_assurance: 0,
                    passport: null,
                    family_id: null,
                    lastStayLength: {
                        value: '-1',
                        text: 'Length of last stay (approx.)'
                    },
                    visaRelativesTypes: {
                        value: '-1',
                        text: 'Please select...'
                    },
                    maritalStatus: {
                        value: '1',
                        text: 'Single'
                    },
                    visa_relatives: 0,
                    email: '',
                    first_name: '',
                    last_name: '',
                    reasons: '',
                    last_arrival: '',
                    is_child: 0,
                    count: this.total_travellers
                })

            },
            addChildTraveller() {
                this.total_numChildTravellers++;
                this.travellers.push({
                    visa_cancelled: 0,
                    has_old_visa: 0,
                    has_travelled: 0,
                    has_drivingLicence: 0,
                    selected_old_visa: 0,
                    prev_visa: null,
                    photo: null,
                    later_photo: 0,
                    passport: null,
                    family_id: null,
                    lastStayLength: {
                        value: '-1',
                        text: 'Length of last stay (approx.)'
                    },
                    visaRelativesTypes: {
                        value: '-1',
                        text: 'Please select...'
                    },
                    maritalStatus: {
                        value: '1',
                        text: 'Single'
                    },
                    visa_relatives: 0,
                    email: '',
                    first_name: '',
                    last_name: '',
                    reasons: '',
                    last_arrival: '',
                    is_child: 1,
                    count: this.total_numChildTravellers
                })

            },
            removeAdultTraveller(index) {
                this.total_travellers--;
                this.travellers.splice(index, 1);
            },
            removeChildTraveller(index) {
                this.total_numChildTravellers--;
                this.travellers.splice(index, 1);

            },
            setBranch(val) {
                this.branchesData = [];
                val.typebranch.forEach(b => {
                    this.branchesData.push({
                        "id": b.id.toString(),
                        "value": b.name,
                        "price": b.price,
                        "text": b.name
                    })
                })
            },
            setCountry() {
                let country = this.selectedContry.value
                const payees = ref([])
                this.paysData.forEach(function (set) {
                    if (set.id == country) {
                        payees.value.push(set)
                    }
                })

                /* get visa */
                payees.value.forEach(elem => {
                    this.visasData = [];
                    elem.visas.forEach(d => {
                        d.typevisa.forEach(e => {
                            this.visasData.push({
                                "id": e.id,
                                "value": e.name,
                                "text": e.name,
                                'typebranch': e.branches
                            })
                        })
                    })
                })

            },

            formSubmitted() {
                console.log(this.$data.travellers);
                const formData = new FormData();
                formData.append('data[]', JSON.stringify(this.$data.travellers));
                for (var i = 0; i < this.listpassport.length; i++) {
                    const file = this.listpassport[i].files;
                    const index = this.listpassport[i].index;
                    // console.log(index);
                    formData.append('passport[' + index + ']', file);
                }
                for (var i = 0; i < this.listphoto.length; i++) {
                    const file = this.listphoto[i].files;
                    const index = this.listphoto[i].index;
                    formData.append('photo[' + index + ']', file);
                }
                //salaire
                for (var i = 0; i < this.listsalaire.length; i++) {
                    const file = this.listsalaire[i].files;
                    const index = this.listsalaire[i].index;
                    formData.append('salaire[' + index + ']', file);
                }
                //assurance
                for (var i = 0; i < this.listassurance.length; i++) {
                    const file = this.listassurance[i].files;
                    const index = this.listassurance[i].index;
                    formData.append('assurance[' + index + ']', file);
                }
                //listfamilyIds
                for (var i = 0; i < this.listfamilyIds.length; i++) {
                    const file = this.listfamilyIds[i].files;
                    const index = this.listfamilyIds[i].index;
                    formData.append('familyId[' + index + ']', file);
                }
                //listOldVisas
                for (var i = 0; i < this.listOldVisas.length; i++) {
                    const file = this.listOldVisas[i].files;
                    const index = this.listOldVisas[i].index;
                    formData.append('oldVisa[' + index + ']', file);
                }
                //listBankStmts
                for (var i = 0; i < this.listBankStmts.length; i++) {
                    const file = this.listBankStmts[i].files;
                    const index = this.listBankStmts[i].index;
                    formData.append('bankStatment[' + index + ']', file);
                }
                formData.append('VisaType', this.VisaType.value);
                formData.append('country', this.selectedContry.text);
                formData.append('branch', this.biometricsLocation.text);
                formData.append('date_from', this.travelDate);

                let PayementData = {
                    "brand": this.brand,
                    "amount": this.biometricsLocation.price,
                }
                formData.append('PayementData', JSON.stringify(PayementData));
                const headers = {
                    'Content-Type': 'multipart/form-data'
                };

                axios.post('/traveller_store', formData, {
                    headers
                }).then((res) => {
                    if (!res.errors) {
                        this.$toast({
                            component: ToastificationContent,
                            props: {
                                title: 'Payment Success',
                                icon: 'EditIcon',
                                variant: 'success',
                            },
                        })
                    } else {
                        this.$toast({
                            component: ToastificationContent,
                            props: {
                                title: 'Une erreur s\'est produite',
                                icon: 'AlertTriangleIcon',
                                variant: 'danger',
                            },
                        })
                    }
                    this.$router.push({
                        name: 'visa-list'
                    })
                })

            },
            validationFormCountry() {
                return new Promise((resolve, reject) => {
                    this.$refs.countryRules.validate().then(success => {
                        if (success) {
                            resolve(true)
                        } else {
                            reject()
                        }
                    })
                })
            },
            validationForm() {
                return new Promise((resolve, reject) => {
                    this.$refs.accountRules.validate().then(success => {
                        if (success) {
                            resolve(true)
                        } else {
                            reject()
                        }
                    })
                })
            },
            validationFormInfo() {
                return new Promise((resolve, reject) => {
                    this.$refs.infoRules.validate().then(success => {
                        if (success) {
                            resolve(true)
                        } else {
                            reject()
                        }
                    })
                })
            },

            validationFormBasicInfo() {
                return new Promise((resolve, reject) => {
                    this.$refs.basicInfoRules.validate().then(success => {
                        if (success) {
                            resolve(true)
                        } else {
                            reject()
                        }
                    })
                })
            },
            //payment


            /*   getForm(redirect_url, paymentType) {
                   return `<form
                   id="paymentWidgets"
                   class="paymentWidgets"
                   action="${redirect_url}"
                   data-brands="${paymentType}"
               ></form>`
               },
               setPaymentGateway(brand) {
                   this.brand = brand
                   this.paymentType = brand
               },
               getFormToken() {
                   this.$store.dispatch('forms-visa/hyperpaypayment', {
                           brand: this.brand,
                           cart: this.items,
                           amount: this.totalAmount,
                           user_id: JSON.parse(localStorage.getItem('userData')).id
                       })
                       .then(response => {
                           this.setBrands();
                           this.removeFormAndScript();
                           this.redirect_url = response.data.shopperResultUrl;

                           this.paymentType = this.brand
                           const paymentWrapper = document.createElement("div");
                           paymentWrapper.setAttribute("id", "parent_paymentWidgets");
                           paymentWrapper.setAttribute("class", "w-full")
                           paymentWrapper.innerHTML = this.getForm(response.data.shopperResultUrl, this.paymentType);
                           var hyperpay_form = document.getElementById('hyperpay-form');
                           hyperpay_form.append(paymentWrapper);
                           this.attachScriptInTheHtmlHead(response.data)
                       })
               },
               attachScriptInTheHtmlHead({
                   script_url
               }) {
                   this.script_url = script_url
                   this.showCheckoutForm = true
                   let scriptTag = document.createElement('script')
                   scriptTag.setAttribute('src', script_url)
                   scriptTag.setAttribute('id', 'hyperpay_script')
                   document.head.appendChild(scriptTag)
               },
               removeFormAndScript() {
                   var paymentWidgets = document.getElementById('parent_paymentWidgets');
                   var paymentScript = document.getElementById('hyperpay_script')
                   if (paymentWidgets) {
                       paymentWidgets.remove();
                   }

                   if (paymentScript) {
                       paymentScript.remove();
                   }
               },*/
            setBrands() {
                this.paymentType = this.brand;
            },
            //payment
        },
    }

</script>

<style lang="scss">
    @import '~@core/scss/vue/libs/vue-wizard.scss';
    @import '~@core/scss/vue/libs/vue-select.scss';
    @import '~@core/scss/vue/libs/vue-flatpicker.scss';

    .list-style-circle {
        list-style-type: disc;
    }

    [dir] .vue-form-wizard .wizard-card-footer .wizard-footer-left .wizard-btn {
        border: 1px solid #131654 !important;
        background-color: #131654 !important;
    }

    .vue-form-wizard .wizard-card-footer .wizard-footer-left .wizard-btn {
        color: #efefff !important;
        font-weight: 400;
    }

    [dir] .vue-form-wizard .wizard-card-footer .wizard-footer-left .wizard-btn:hover {
        background-color: rgb(19, 22, 84) !important;
    }

    [dir] .vue-form-wizard .wizard-card-footer .wizard-footer-left .wizard-btn:hover {
        box-shadow: 0 8px 25px -8px #131654;
    }

</style>
