<template>
    <component :is="userData === undefined ? 'div' : 'b-card'">

        <!-- Alert: No item found -->
        <b-alert variant="danger" :show="userData === undefined">
            <h4 class="alert-heading">
                Error fetching article data
            </h4>
            <div class="alert-body">
                No user found with this article id. Check
                <b-link class="alert-link" :to="{ name: 'apps-users-list'}">
                    Article List
                </b-link>
                for other articles.
            </div>
        </b-alert>

        <b-tabs v-if="userData" pills>

            <!-- Tab: Account -->
            <!-- <b-tab active>
        <template #title>
          <feather-icon
            icon="UserIcon"
            size="16"
            class="mr-0 mr-sm-50"
          />
          <span class="d-none d-sm-inline">Account</span>
        </template>
        <user-edit-tab-account
          :user-data="userData"
          class="mt-2 pt-75"
        />
      </b-tab> -->
            <user-edit-tab-account
                :user-data="userData"
                :famille-options="familleOptions"
                :brand-options="brandOptions"
                :tva-options="tvaOptions"
                :unit-options="unitOptions"
                class="mt-2 pt-75"
            />
            <!-- Tab: Information -->
            <!-- <b-tab>
        <template #title>
          <feather-icon
            icon="InfoIcon"
            size="16"
            class="mr-0 mr-sm-50"
          />
          <span class="d-none d-sm-inline">Information</span>
        </template>
        <user-edit-tab-information class="mt-2 pt-75" />
      </b-tab> -->

            <!-- Tab: Social -->
            <!-- <b-tab>
        <template #title>
          <feather-icon
            icon="Share2Icon"
            size="16"
            class="mr-0 mr-sm-50"
          />
          <span class="d-none d-sm-inline">Social</span>
        </template>
        <user-edit-tab-social class="mt-2 pt-75" />
      </b-tab> -->
        </b-tabs>
    </component>
</template>

<script>
    import {
        BTab,
        BTabs,
        BCard,
        BAlert,
        BLink,
    } from 'bootstrap-vue'
    import {
        ref,
        onUnmounted
    } from '@vue/composition-api'
    import router from '@/router'
    import store from '@/store'
    import userStoreModule from '../userStoreModule'
    import UserEditTabAccount from './UserEditTabAccount.vue'
    import UserEditTabInformation from './UserEditTabInformation.vue'
    import UserEditTabSocial from './UserEditTabSocial.vue'

    export default {
        components: {
            BTab,
            BTabs,
            BCard,
            BAlert,
            BLink,

            UserEditTabAccount,
            UserEditTabInformation,
            UserEditTabSocial,
        },
        setup() {
            const userData = ref(null)

            const familleOptions = ref([])
            const familleData = ref(null)


            const tvaData = ref(null)
            const tvaOptions = ref([])

            const brandData = ref(null)
            const brandOptions = ref([])

            const unitData = ref(null)
            const unitOptions = ref([])

            const USER_APP_STORE_MODULE_NAME = 'app-article'

            // Register module
            if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME,
                userStoreModule)

            // UnRegister on leave
            onUnmounted(() => {
                if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(
                    USER_APP_STORE_MODULE_NAME)
            })

            store.dispatch('app-article/fetchArticleID', {
                    id: router.currentRoute.params.id
                })
                .then(response => {
                    userData.value = response.data.data
                })
                .catch(error => {
                    if (error.response.status === 404) {
                        userData.value = undefined
                    }
                })


            store.dispatch('app-article/getListFamille')
                .then(response => {
                    familleData.value = response.data.data,
                        updateFamilleSelect(familleData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        familleData.value = undefined
                    }
                })
            //helpers
            const updateFamilleSelect = (data) => {
                console.log(data, 'familyyyle')
                data.forEach(elem => {
                    familleOptions.value.push({
                        "value": elem.id,
                        "text": elem.code_famille
                    })
                })
            }

            //tva heleper select
            store.dispatch('app-article/getListTva')
                .then(response => {
                    tvaData.value = response.data.data,
                    updateTvaSelect(tvaData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        tvaData.value = undefined
                    }
                })

            const updateTvaSelect = (data) => {
                console.log(data, 'tva')
                data.forEach(elem => {
                    tvaOptions.value.push({
                        "value": elem.id,
                        "text": elem.name
                    })
                })
            }
            //brand(marque) heleper select
            store.dispatch('app-article/getListBrand')
                .then(response => {
                    brandData.value = response.data.data,
                    updateBrandSelect(brandData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        brandData.value = undefined
                    }
                })

            const updateBrandSelect = (data) => {
                console.log(data, 'brand marque')
                data.forEach(elem => {
                    brandOptions.value.push({
                        "value": elem.id,
                        "text": elem.title
                    })
                })
            }
            //unit_id heleper select
            store.dispatch('app-article/getListUnite')
                .then(response => {
                    unitData.value = response.data.data,
                    updateUnitSelect(unitData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        unitData.value = undefined
                    }
                })

            const updateUnitSelect = (data) => {
                console.log(data, 'unit')
                data.forEach(elem => {
                    unitOptions.value.push({
                        "value": elem.id,
                        "text": elem.title
                    })
                })
            }
            return {
                userData,
                familleOptions,
                brandOptions,
                tvaOptions,
                unitOptions,
            }
        },
    }

</script>

<style>

</style>
