<template>
    <div>
        <b-form>
            <b-row>
                <b-col cols="12" md="4">
                    <!-- Full Name -->
                    <b-form-group label="Designation" label-for="Designation">
                        <b-form-input id="Designation" v-model="userData.design" autofocus trim placeholder="" />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- code_bar -->
                    <b-form-group label="Code à barre" label-for="Code à barre">
                        <b-form-input id="code_bar" v-model="userData.code_bar" trim placeholder="" />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- ref -->
                    <b-form-group label="Réference" label-for="Réference">
                        <b-form-input id="ref" v-model="userData.ref" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- libele_cataloge -->
                    <b-form-group label="Libelle catalogue" label-for="Libelle catalogue">
                        <b-form-input id="libele_cataloge" v-model="userData.libele_cataloge" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- id4 -->
                    <b-form-group label="ID4" label-for="ID4">
                        <b-form-input id="id4" v-model="userData.id4" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- id3 -->
                    <b-form-group label="ID3" label-for="ID3">
                        <b-form-input id="id3" v-model="userData.id3" trim />
                    </b-form-group>
                </b-col>
                <!-- id2 -->
                <b-col cols="12" md="4">
                    <b-form-group label="ID2" label-for="ID2">
                        <b-form-input id="id2" v-model="userData.id2" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- id1 -->
                    <b-form-group label="ID1" label-for="ID1">
                        <b-form-input id="id1" v-model="userData.id1" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- tva -->
                    <b-form-group label="TVA" label-for="tva">
                        <v-select v-model="userData.tva_id"
                            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="tvaOptions"
                            :selectable="option => ! option.text.includes('select_value')" label="text"
                            :reduce="val => val.value" :clearable="false" input-id="tva" />                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- achat_ttc -->
                    <b-form-group label="Achat TTC" label-for="Achat TTC">
                        <b-form-input id="achat_ttc" type="number" v-model="userData.achat_ttc" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- prix_achat_ht -->
                    <b-form-group label="Prix Achat HT(DT)" label-for="prix_achat_ht">
                        <b-form-input id="prix_achat_ht" type="number" v-model="userData.prix_achat_ht" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- pv_ttc -->
                    <b-form-group label="PV TTC" label-for="pv_ttc">
                        <b-form-input id="pv_ttc" type="number" v-model="userData.pv_ttc" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- prix_vente -->
                    <b-form-group label="Prix de vente DT" label-for="prix_vente">
                        <b-form-input id="prix_vente" type="number" v-model="userData.prix_vente" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- marge -->
                    <b-form-group label="Marge" label-for="marge">
                        <b-form-input id="marge" v-model="userData.marge" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- marque -->
                    <b-form-group label="Marque" label-for="marque">
                        <v-select v-model="userData.brand_id"
                            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="brandOptions"
                            :selectable="option => ! option.text.includes('select_value')" label="text"
                            :reduce="val => val.value" :clearable="false" input-id="brand" />                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- max_marge -->
                    <b-form-group label="Marge MAX" label-for="max_marge">
                        <b-form-input id="max_marge" type="number" v-model="userData.max_marge" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- matiere_active -->
                    <b-form-group label="Matiere Active" label-for="matiere_active">
                        <b-form-input id="matiere_active" v-model="userData.matiere_active" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- unite_prod -->
                    <b-form-group label="Unité" label-for="unite_prod">
                        <v-select v-model="userData.unit_id" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="unitOptions" :selectable="option => ! option.text.includes('select_value')"
                            label="text" :reduce="val => val.value" :clearable="false" input-id="unit" />
                    </b-form-group>

                </b-col>
                <b-col cols="12" md="4">
                    <!-- qty_alert -->
                    <b-form-group label="Quantité d'alerte" label-for="qty_alert">
                        <b-form-input id="qty_alert" type="number" v-model="userData.qty_alert" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- remise -->
                    <b-form-group label="Remise" label-for="remise">
                        <b-form-input id="remise" type="number" v-model="userData.remise" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- remise -->
                    <b-form-group label="La remise commence" label-for="deb_remise">
                        <b-form-input id="deb_remise" type="date" v-model="userData.deb_remise" trim />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <!-- fin_remise -->
                    <b-form-group label="Fin de la remise" label-for="fin_remise">
                        <b-form-input id="fin_remise" type="date" v-model="userData.fin_remise" trim />
                    </b-form-group>
                    <!-- upload muti file -->
                </b-col>
                <b-col cols="12" md="4">
                    <!-- Famille -->
                    <b-form-group label="Famille" label-for="famille">
                        <v-select v-model="userData.famille_id" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="familleOptions" :selectable="option => ! option.text.includes('select_value')"
                            label="text" :reduce="val => val.value" :clearable="false" input-id="famille" />
                    </b-form-group>
                </b-col>
                <b-col cols="12" md="4">
                    <b-form-group label="Images Du Produit" label-for="image">
                        <b-form-file ref="refInputEl" placeholder="Choose a file or drop it here..."
                            drop-placeholder="Drop file here..." accept=".jpg, .png, .gif, .webp" multiple
                            @change="uploadfile" />
                    </b-form-group>
                </b-col>
                <b-media-aside v-for="f in userData.files" :key="f.id">
                    <img ref="previewEl" rounded :src="f.url" height="80" style="margin: 9px 0px 32px 20px;" />
                </b-media-aside>
            </b-row>

        </b-form>

        <!-- Action Buttons -->
        <b-button variant="primary" class="mb-1 mb-sm-0 mr-0 mr-sm-1"
            :block="$store.getters['app/currentBreakPoint'] === 'xs'" @click="save_changes()">
            Save Changes
        </b-button>
        <!--<b-button
      variant="outline-secondary"
      type="reset"
      :block="$store.getters['app/currentBreakPoint'] === 'xs'"
      @click="reset_data(userData)"
    >
      Reset
    </b-button>-->
    </div>
</template>

<script>
    import {
        BButton,
        BMedia,
        BAvatar,
        BRow,
        BCol,
        BFormGroup,
        BFormInput,
        BForm,
        BTable,
        BCard,
        BCardHeader,
        BCardTitle,
        BFormCheckbox,
        BFormFile,
        BMediaAside,
    } from 'bootstrap-vue'
    import {
        avatarText
    } from '@core/utils/filter'
    import vSelect from 'vue-select'

    import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
    import axios from '@axios'
    import { ref } from '@vue/composition-api'

    export default {
        components: {
            BMediaAside,
            BFormFile,
            BButton,
            BMedia,
            BAvatar,
            BRow,
            BCol,
            BFormGroup,
            BFormInput,
            BForm,
            BTable,
            BCard,
            BCardHeader,
            BCardTitle,
            BFormCheckbox,
            vSelect,
        },
        props: {
            userData: {
                type: Object,
                required: true,
            },
            familleOptions: {
                type: Array,
                required: true,
            },
            brandOptions: {
                type: Array,
                required: true,
            },
            tvaOptions: {
                type: Array,
                required: true,
            },
            unitOptions: {
                type: Array,
                required: true,
            }

        },
        setup() {

            const roleOptions = [{
                    label: 'Admin',
                    value: 'admin'
                },
                {
                    label: 'Author',
                    value: 'author'
                },
                {
                    label: 'Editor',
                    value: 'editor'
                },
                {
                    label: 'Maintainer',
                    value: 'maintainer'
                },
                {
                    label: 'Subscriber',
                    value: 'subscriber'
                },
            ]

            const statusOptions = [{
                    label: 'Pending',
                    value: 'pending'
                },
                {
                    label: 'Active',
                    value: 'active'
                },
                {
                    label: 'Inactive',
                    value: 'inactive'
                },
            ]

            const permissionsData = [{
                    module: 'Admin',
                    read: true,
                    write: false,
                    create: false,
                    delete: false,
                },
                {
                    module: 'Staff',
                    read: false,
                    write: true,
                    create: false,
                    delete: false,
                },
                {
                    module: 'Author',
                    read: true,
                    write: false,
                    create: true,
                    delete: false,
                },
                {
                    module: 'Contributor',
                    read: false,
                    write: false,
                    create: false,
                    delete: false,
                },
                {
                    module: 'User',
                    read: false,
                    write: false,
                    create: false,
                    delete: true,
                },
            ]

            // ? Demo Purpose => Update image on click of update
            const refInputEl = ref(null)
            const previewEl = ref(null)

            return {
                avatarText,
                roleOptions,
                statusOptions,
                permissionsData,

                //  ? Demo - Update Image on click of update button
                refInputEl,
                previewEl,
            }
        },
        methods: {
            uploadfile(event) {
                this.userData.files = event.target.files;
                console.log(this.userData, 'file');

            },

            save_changes() {
                console.log(this.userData)
                const formData = new FormData();
                if (this.userData.files) {
                    for (const i of Object.keys(this.userData.files)) {
                        formData.append('imagesArray[' + i + ']', this.userData.files[i]);
                    }
                }
                formData.append('id', this.userData.id);
                formData.append('famille_id', this.userData.famille_id);
                formData.append('design', this.userData.design);
                formData.append('code_bar', this.userData.code_bar);
                formData.append('ref', this.userData.ref);
                formData.append('libele_cataloge', this.userData.libele_cataloge);
                formData.append('id4', this.userData.id4);
                formData.append('id3', this.userData.id3);
                formData.append('id2', this.userData.id2);
                formData.append('id1', this.userData.id1);
                formData.append('tva_id', this.userData.tva_id);
                formData.append('achat_ttc', this.userData.achat_ttc);
                formData.append('prix_achat_ht', this.userData.prix_achat_ht);
                formData.append('pv_ttc', this.userData.pv_ttc);
                formData.append('prix_vente', this.userData.prix_vente);
                formData.append('marge', this.userData.marge);
                formData.append('brand_id', this.userData.brand_id);
                formData.append('max_marge', this.userData.max_marge);
                formData.append('matiere_active', this.userData.matiere_active);
                formData.append('unit_id', this.userData.unit_id);
                formData.append('qty_alert', this.userData.qty_alert);
                formData.append('remise', this.userData.remise);
                formData.append('deb_remise', this.userData.deb_remise);
                formData.append('fin_remise', this.userData.fin_remise);

                axios.post('/update/articles', formData).then((res) => {
                    console.log(res);
                    if (res.data.code) {
                        this.$toast({
                            component: ToastificationContent,
                            position: 'top-right',
                            props: {
                                title: `Article Enregister`,
                                icon: 'CoffeeIcon',
                                variant: 'success',
                                text: `Enregistré avec succès`,
                            },
                        })
                    } else {
                        this.$toast({
                            component: ToastificationContent,
                            props: {
                                title: 'Une erreur s\'est produite',
                                icon: 'AlertTriangleIcon',
                                variant: 'danger',
                            },
                        })
                    }
                    this.$router.push({ name: 'apps-articles-list' })

                })
            },
        }
    }

</script>

<style lang="scss">
    @import '~@core/scss/vue/libs/vue-select.scss';

</style>
