<template>
  <div>

    <!-- User Info: Input Fields -->
    <b-form>
      <b-row>

        <b-col
          cols="12"
          md="4"
        >
          <b-form-group
            label="Country"
            label-for="Country"
          >
            <b-form-input
              id="country"
              v-model="userData.data.country"
              disabled
            />
          </b-form-group>
        </b-col>

        <!-- Field: Full Name -->
        <b-col
          cols="12"
          md="4"
        >
          <b-form-group
            label="Email"
            label-for="email"
          >
            <b-form-input
              id="email"
              v-model="userData.data.email"
              disabled
            />
          </b-form-group>
        </b-col>

        <!-- Field: Email -->
        <b-col
          cols="12"
          md="4"
        >
          <b-form-group
            label="First name"
            label-for="First name"
          >
              <!-- v-model="userData.data.paymentBrand" -->
            <b-form-input
              id="fname"
              v-model="userData.data.fName"
              type="email"
              disabled
            />
          </b-form-group>
        </b-col>

        <b-col
          cols="12"
          md="4"
        >
          <b-form-group
            label="Last name"
            label-for="Last name"
          >
            <b-form-input
              id="amount"
              v-model="userData.data.lName"
              disabled
            />
          </b-form-group>
        </b-col>
        <!-- Field: Email -->
        <b-col
          cols="12"
          md="4"
        >
          <b-form-group
            label="Language"
            label-for="Language"
          >
            <b-form-input
              id="date"
              v-model="userData.data.lang"
              disabled
            />
          </b-form-group>
        </b-col>

        <b-col cols="12" md="4">
             <b-form-group label="Driving Licence" label-for="Visas">
                    <a :href="`${userData.data.drivingLicencePath}`" type="default" download="Driving Licence" class="align-items-center d-flex">
                        <feather-icon
                            icon="DownloadIcon"
                             size="12"
                         />&nbsp;
                        Download Driving Licence</a>
            </b-form-group>
        </b-col>

      </b-row>

              <!-- Field: Status -->
        <b-col
          cols="12"
          md="4"
          class="px-0"
        >
          <b-form-group
            label="Status"
            label-for="user-status"
          > {{userData.status}}
            <v-select
              v-model="userData.data.status"
              :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="statusOptions"
              :reduce="val => val.value"
              :clearable="false"
              input-id="user-status"
            />
          </b-form-group>
        </b-col>
    </b-form>


    <!-- Action Buttons -->
    <b-button
      variant="primary"
      class="mb-1 mb-sm-0 mr-0 mr-sm-1"
      :block="$store.getters['app/currentBreakPoint'] === 'xs'"
      @click="save_changes(userData.data.id,userData.data.status)"
    >
      Save Changes
    </b-button>

  </div>
</template>

<script>
import {
  BButton,
  BMedia,
  BAvatar,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BForm,
  BTable,
  BCard,
  BCardHeader,
  BCardTitle,
  BFormCheckbox,
} from 'bootstrap-vue'
import { avatarText } from '@core/utils/filter'
import vSelect from 'vue-select'
import { useInputImageRenderer } from '@core/comp-functions/forms/form-utils'
import { ref } from '@vue/composition-api'
// import uniteList from '../orders-list/useOrdersList'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
  components: {
    BButton,
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BForm,
    BTable,
    BCard,
    BCardHeader,
    BCardTitle,
    BFormCheckbox,
    vSelect,
  },
  props: {
    userData: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    // const { resolveUserRoleVariant } = uniteList()

    const roleOptions = [
      { label: 'Admin', value: 'admin' },
      { label: 'Author', value: 'author' },
      { label: 'Editor', value: 'editor' },
      { label: 'Maintainer', value: 'maintainer' },
      { label: 'Subscriber', value: 'subscriber' },
    ]

    const statusOptions = [
      { label: 'Pending', value: 'pending' },
      { label: 'Approved', value: 'approved' },
      { label: 'Cancel', value: 'cancel' },
    ]

    const permissionsData = [
      {
        module: 'Admin',
        read: true,
        write: false,
        create: false,
        delete: false,
      },
      {
        module: 'Staff',
        read: false,
        write: true,
        create: false,
        delete: false,
      },
      {
        module: 'Author',
        read: true,
        write: false,
        create: true,
        delete: false,
      },
      {
        module: 'Contributor',
        read: false,
        write: false,
        create: false,
        delete: false,
      },
      {
        module: 'User',
        read: false,
        write: false,
        create: false,
        delete: true,
      },
    ]

    // ? Demo Purpose => Update image on click of update
    const refInputEl = ref(null)
    const previewEl = ref(null)

    const { inputImageRenderer } = useInputImageRenderer(refInputEl, base64 => {
      // eslint-disable-next-line no-param-reassign
      props.userData.avatar = base64
    })

    return {
      // resolveUserRoleVariant,
      avatarText,
      roleOptions,
      statusOptions,
      permissionsData,

      //  ? Demo - Update Image on click of update button
      refInputEl,
      previewEl,
      inputImageRenderer,
      localData: props.userData,
    }
  },
  methods: {
    save_changes (data,data2) {
      this.$store.dispatch('forms-visa/save', [data,data2])
      this.$router.push({ name: 'visa-list' })
      this.$toast({
        component: ToastificationContent,
        position: 'top-right',
        props: {
          title: `Status changed`,
          icon: 'CoffeeIcon',
          variant: 'success',
          text: `You have successfully Changed the status`,
        },
      })
    },
  }
}
</script>

<style lang="scss" scroped>
@import '~@core/scss/vue/libs/vue-select.scss';
    #fourthTable {
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        border-collapse: collapse;
        border: 3px solid #3d7751;
        margin: 10px 10px 0 10px;
    }

    #fourthTable th {
        text-transform: uppercase;
        text-align: left;
        background: #3d7751;
        color: #FFF;
        cursor: pointer;
        padding: 8px;
        min-width: 30px;
    }

    #fourthTable th:hover {
        background: #3d7751;
    }

    #fourthTable td {
        text-align: left;
        padding: 8px;
        border-right: 2px solid #7D82A8;
    }

    #fourthTable td:last-child {
        border-right: none;
    }

    #fourthTable tbody tr:nth-child(2n) td {
        background: #c2d9cc;
    }

</style>
