<template>
    <b-sidebar id="add-new-user-sidebar" :visible="isAddNewUserSidebarActive" bg-variant="white"
        sidebar-class="sidebar-lg" shadow backdrop no-header right @hidden="resetForm"
        @change="(val) => $emit('update:is-add-new-user-sidebar-active', val)">
        <template #default="{ hide }">
            <!-- Header -->
            <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
                <h5 class="mb-0">
                    Ajouter nouvelle famille
                </h5>

                <feather-icon class="ml-1 cursor-pointer" icon="XIcon" size="16" @click="hide" />

            </div>

            <!-- BODY -->
            <validation-observer #default="{ handleSubmit }" ref="refFormObserver">
                <!-- Form -->
                <b-form class="p-2" @submit.prevent="handleSubmit(save_changes)" @reset.prevent="resetForm">
                    <b-row>
                        <b-col md="6">
                            <!-- code_famille -->
                            <validation-provider #default="validationContext" name="code_famille" rules="required">
                                <b-form-group label="Code famille" label-for="Code famille">
                                    <b-form-input id="code_famille" v-model="userData.code_famille" autofocus
                                        :state="getValidationState(validationContext)" trim placeholder="" />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="6">
                            <!-- design -->
                            <validation-provider #default="validationContext" name="design"
                                rules="required|alpha-num">
                                <b-form-group label="Désignation" label-for="Désignation">
                                    <b-form-input id="design" v-model="userData.design"
                                        :state="getValidationState(validationContext)" trim placeholder="" />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="6">
                            <!-- famille Parentale  -->
                            <validation-provider #default="validationContext" name="famille_parentale" rules="required">
                                <b-form-group label="famille Parentale " label-for="famille Parentale ">
                                    <b-form-input id="famille_parentale" v-model="userData.famille_parentale"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="6">
                            <!-- default_tva -->
                            <validation-provider #default="validationContext" name="default_tva" rules="required">
                                <b-form-group label="TVA par défaut %" label-for="TVA par défaut">
                                    <b-form-input id="default_tva" v-model="userData.default_tva"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="6">
                            <!-- default_marge -->
                            <validation-provider #default="validationContext" name="default_marge" rules="required">
                                <b-form-group label="Marge par défaut %" label-for="Marge par défaut">
                                    <b-form-input id="default_marge" v-model="userData.default_marge"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>

                        <b-col md="6">
                            <b-form-group label="Images Du Produit" label-for="image">
                                <b-form-file ref="refInputEl" placeholder="Choose a file or drop it here..."
                                    drop-placeholder="Drop file here..." accept=".jpg, .png, .gif, .webp"
                                    @change="uploadfile" />
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <!-- Form Actions -->
                    <div class="d-flex mt-2">
                        <b-button v-ripple.400="'rgba(255, 255, 255, 0.15)'" variant="primary" class="mr-2"
                            type="submit">
                            Ajouter
                        </b-button>
                        <b-button v-ripple.400="'rgba(186, 191, 199, 0.15)'" type="button" variant="outline-secondary"
                            @click="hide">
                            Annuler
                        </b-button>
                    </div>
                </b-form>
            </validation-observer>
        </template>
    </b-sidebar>
</template>

<script>
    import {
        BRow,
        BFormFile,
        BCol,
        BSidebar,
        BForm,
        BFormGroup,
        BFormInput,
        BFormInvalidFeedback,
        BButton,
        BInputGroupAppend,
        BInputGroup
    } from 'bootstrap-vue'
    import {
        ValidationProvider,
        ValidationObserver
    } from 'vee-validate'
    import {
        ref
    } from '@vue/composition-api'
    import {
        required,
        alphaNum,
        email
    } from '@validations'
    import formValidation from '@core/comp-functions/forms/form-validation'
    import Ripple from 'vue-ripple-directive'
    import vSelect from 'vue-select'
    import countries from '@/@fake-db/data/other/countries'
    import store from '@/store'
    import {
        togglePasswordVisibility
    } from '@core/mixins/ui/forms'
    import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
    import {
        codeMultiple
    } from './code'
    import axios from '@axios'

    export default {
        components: {
            BRow,
            BSidebar,
            BForm,
            BFormGroup,
            BFormInput,
            BFormInvalidFeedback,
            BButton,
            vSelect,
            BInputGroupAppend,
            BInputGroup,
            // Form Validation
            ValidationProvider,
            ValidationObserver,
            BCol,
            BFormFile,
        },
        mixins: [togglePasswordVisibility],
        directives: {
            Ripple,
        },
        model: {
            prop: 'isAddNewUserSidebarActive',
            event: 'update:is-add-new-user-sidebar-active',
        },
        props: {
            isAddNewUserSidebarActive: {
                type: Boolean,
                required: true,
            },
            familleOptions: {
                type: Array,
                required: true,
            },
        },
        data() {
            return {
                required,
                alphaNum,
                email,
                countries,
                codeMultiple,
            }
        },
        computed: {
            passwordToggleIcon() {
                return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
            },
        },
        setup(props, {
            emit
        }) {
            const blankUserData = {
                code_famille: '',
                design: '',
                famille_parentale: '',
                default_tva: '',
                default_marge: '',
            }

            const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
            const resetuserData = () => {
                userData.value = JSON.parse(JSON.stringify(blankUserData))
            }

            const onSubmit = () => {
                store.dispatch('app-user/addUser', userData.value).then(() => {
                    console.log(userData.value)
                    emit('refetch-data')
                    emit('update:is-add-new-user-sidebar-active', false)
                })
            }

            const {
                refFormObserver,
                getValidationState,
                resetForm
            } = formValidation(resetuserData)

            return {
                userData,
                onSubmit,

                refFormObserver,
                getValidationState,
                resetForm,
            }
        },
        methods: {
            uploadfile(event) {
                this.userData.files = event.target.files[0];
                console.log(this.userData, 'file');
            },

            save_changes() {
                const formData = new FormData();
                if (this.userData.files) {
                  formData.append('image', this.userData.files);
                }

                formData.append('code_famille', this.userData.code_famille);
                formData.append('design', this.userData.design);
                formData.append('famille_parentale', this.userData.famille_parentale);
                formData.append('default_tva', this.userData.default_tva);
                formData.append('default_marge', this.userData.default_marge);


                axios.post('/add/familles', formData).then((res) => {
                    console.log(res);
                    if (res.data.code) {
                        this.$toast({
                            component: ToastificationContent,
                            position: 'top-right',
                            props: {
                                title: `Famille Enregister`,
                                icon: 'CoffeeIcon',
                                variant: 'success',
                                text: `You have successfully save the article`,
                            },
                        })
                    } else {
                        this.$toast({
                            component: ToastificationContent,
                            props: {
                                title: 'Une erreur s\'est produite',
                                icon: 'AlertTriangleIcon',
                                variant: 'danger',
                            },
                        })
                    }
                    this.$emit('refetch-data')
                    this.$emit('update:is-add-new-user-sidebar-active', false)
                })
            },
        }
    }

</script>

<style lang="scss">
    @import '~@core/scss/vue/libs/vue-select.scss';

    #add-new-user-sidebar {
        .vs__dropdown-menu {
            max-height: 200px !important;
        }
    }

    .b-sidebar.sidebar-lg {
        width: 100%;
    }

</style>
