<template>
  <b-sidebar
    id="add-new-fournisseur-sidebar"
    :visible="isAddNewFournisseurSidebarActive"
    bg-variant="white"
    sidebar-class="sidebar-lg"
    shadow
    backdrop
    no-header
    right
    @hidden="resetForm"
    @change="(val) => $emit('update:is-add-new-fournisseur-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Ajouter fournisseur
        </h5>

        <feather-icon
          class="ml-1 cursor-pointer"
          icon="XIcon"
          size="16"
          @click="hide"
        />

      </div>

      <!-- BODY -->
      <validation-observer
        #default="{ handleSubmit }"
        ref="refFormObserver"
      >
        <!-- Form -->
        <b-form
          class="p-2"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >
          <b-row>

            <b-col md="4">
              <!-- brand_id -->
              <validation-provider
                #default="validationContext"
                name="type"
                rules="required"
              >
                <b-form-group
                  label="Type"
                  label-for="type"
                  :state="getValidationState(validationContext)"
                >

                  <v-select
                    id="type"
                    v-model="fournisseurData.ftype"
                    :options="fournisseurType"
                    :selectable="option => ! option.value.includes('select_value')"
                    label="text"
                  />

                  <b-form-invalid-feedback :state="getValidationState(validationContext)">
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col md="4">

              <!-- Full Name -->
              <validation-provider
                #default="validationContext"
                name="numero"
                rules="required"
              >
                <b-form-group
                  label="Numéro"
                  label-for="fnumero"
                >
                  <b-form-input
                    id="full-name"
                    v-model="fournisseurData.numero"
                    autofocus
                    :state="getValidationState(validationContext)"
                    trim
                    placeholder=""
                  />

                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col md="4">

              <!-- fournisseurname -->
              <validation-provider
                #default="validationContext"
                name="nom_social"
                rules="required"
              >
                <b-form-group
                  label="Nom social"
                  label-for="nom_social"
                >
                  <b-form-input
                    id="fournisseurname"
                    v-model="fournisseurData.nom_social"
                    :state="getValidationState(validationContext)"
                    trim
                    placeholder=""
                  />

                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col md="4">

              <!-- Email -->
              <validation-provider
                #default="validationContext"
                name="adresse"
                rules="required"
              >
                <b-form-group
                  label="Adresse"
                  label-for="adresse"
                >
                  <b-form-input
                    id="email"
                    v-model="fournisseurData.adresse"
                    :state="getValidationState(validationContext)"
                    trim
                  />

                  <b-form-invalid-feedback>
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <b-col md="4">

              <!-- password -->
              <validation-provider
                #default="validationContext"
                name="num_tel"
                rules="required"
              >
                <b-form-group
                  label="Numéro télephone"
                  label-for="num_tel"
                >
                  <b-input-group>
                    <b-form-input
                      id="num_tel"
                      v-model="fournisseurData.num_tel"
                      class="form-control-merge"
                      :state="getValidationState(validationContext)"
                      trim
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-input-group>
                </b-form-group>
              </validation-provider>

            </b-col>
            <b-col md="4">

              <!-- password -->
              <validation-provider
                #default="validationContext"
                name="email"
                rules="required"
              >
                <b-form-group
                  label="Email"
                  label-for="email"
                >
                  <b-input-group>
                    <b-form-input
                      id="num_tel"
                      v-model="fournisseurData.email"
                      class="form-control-merge"
                      :state="getValidationState(validationContext)"
                      trim
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-input-group>
                </b-form-group>
              </validation-provider>

            </b-col>
            <b-col md="4">

              <!-- password -->
              <validation-provider
                #default="validationContext"
                name="num_fax"
                rules="required"
              >
                <b-form-group
                  label="Numéro Fax"
                  label-for="num_fax"
                >
                  <b-input-group>
                    <b-form-input
                      id="num_tel"
                      v-model="fournisseurData.num_fax"
                      class="form-control-merge"
                      :state="getValidationState(validationContext)"
                      trim
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-input-group>
                </b-form-group>
              </validation-provider>

            </b-col>
            <b-col md="4">

              <!-- password -->
              <validation-provider
                #default="validationContext"
                name="contact"
                rules="required"
              >
                <b-form-group
                  label="Contact"
                  label-for="contact"
                >
                  <b-input-group>
                    <b-form-input
                      id="contact"
                      v-model="fournisseurData.contact"
                      class="form-control-merge"
                      :state="getValidationState(validationContext)"
                      trim
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-input-group>
                </b-form-group>
              </validation-provider>

            </b-col>
            <b-col md="4">

              <!-- password -->
              <validation-provider
                #default="validationContext"
                name="matricule_fiscal"
                rules="required"
              >
                <b-form-group
                  label="Matricule fiscal"
                  label-for="matricule_fiscal"
                >
                  <b-input-group>
                    <b-form-input
                      id="matricule_fiscal"
                      v-model="fournisseurData.matricule_fiscal"
                      class="form-control-merge"
                      :state="getValidationState(validationContext)"
                      trim
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-input-group>
                </b-form-group>
              </validation-provider>

            </b-col>
            <b-col md="4">

              <!-- password -->
              <validation-provider
                #default="validationContext"
                name="remise"
                rules="required"
              >
                <b-form-group
                  label="Remise"
                  label-for="remise"
                >
                  <b-input-group>
                    <b-form-input
                      id="remise"
                      v-model="fournisseurData.remise"
                      class="form-control-merge"
                      :state="getValidationState(validationContext)"
                      trim
                    />

                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-input-group>
                </b-form-group>
              </validation-provider>

            </b-col>
          </b-row>
          <!-- Form Actions -->
          <div class="d-flex mt-2">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              class="mr-2"
              type="submit"
            >
              Ajouter
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              @click="hide"
            >
              Annuler
            </b-button>
          </div>

        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar,
  BForm,
  BCol,
  BRow,
  BFormGroup,
  BFormInput,
  BFormInvalidFeedback,
  BButton,
  BInputGroupAppend,
  BInputGroup,
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import { required, alphaNum, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import vSelect from 'vue-select'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import countries from '@/@fake-db/data/other/countries'
import store from '@/store'

export default {
  components: {
    BSidebar,
    BForm,
    BCol,
    BRow,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    BButton,
    vSelect,
    BInputGroupAppend,
    BInputGroup,
    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  mixins: [togglePasswordVisibility],
  model: {
    prop: 'isAddNewFournisseurSidebarActive',
    event: 'update:is-add-new-fournisseur-sidebar-active',
  },
  props: {
    isAddNewFournisseurSidebarActive: {
      type: Boolean,
      required: true,
    },

  },
  data() {
    return {
      required,
      alphaNum,
        fournisseurType: [
            {
                value: 'select_value',
                text: 'Select Value',
            },
            {
                value: 'Fournisseur d\'exploitation',
                text: 'Fournisseur d\'exploitation',
            },
            {
                value: 'Fournisseur de service',
                text: 'Fournisseur de service',
            },
        ],

    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
  },
  setup(props, { emit }) {
    const blankfournisseurData = {
        email:'',
        ftype:'',
        numero:'',
        nom_social:'',
        adresse:'',
        num_tel:'',
        num_fax:'',
        contact:'',
        matricule_fiscal:'',
        remise:'',
    }

    const fournisseurData = ref(JSON.parse(JSON.stringify(blankfournisseurData)))
    const resetfournisseurData = () => {
      fournisseurData.value = JSON.parse(JSON.stringify(blankfournisseurData))
    }

    const onSubmit = () => {
      store.dispatch('app-fournisseur/addFournisseur', fournisseurData.value)
        .then(() => {
          console.log(fournisseurData.value)
          emit('refetch-data')
          emit('update:is-add-new-fournisseur-sidebar-active', false)
        })
    }

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetfournisseurData)

    return {
      fournisseurData,
      onSubmit,

      refFormObserver,
      getValidationState,
      resetForm,
    }
  },
}
</script>

<style lang="scss">
@import '~@core/scss/vue/libs/vue-select.scss';

#add-new-fournisseur-sidebar {
    .vs__dropdown-menu {
        max-height: 200px !important;
    }
}

.b-sidebar.sidebar-lg {
    width: 100%;
}
</style>
