<template>

    <div>

        <fournisseur-list-add-new
            :is-add-new-fournisseur-sidebar-active.sync="isAddNewFournisseurSidebarActive"
            @refetch-data="refetchData"
        />

        <!-- Table Container Card -->
        <b-card
            no-body
            class="mb-0"
        >

            <div class="m-2">

                <!-- Table Top -->
                <b-row>

                    <!-- Per Page -->
                    <b-col
                        cols="12"
                        md="6"
                        class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
                    >
                        <label>Show</label>
                        <v-select
                            v-model="perPage"
                            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="perPageOptions"
                            :clearable="false"
                            class="per-page-selector d-inline-block mx-50"
                        />
                        <label>entries</label>
                    </b-col>

                    <!-- Search -->
                    <b-col
                        cols="12"
                        md="6"
                    >
                        <div class="d-flex align-items-center justify-content-end">
                            <b-form-input
                                v-model="searchQuery"
                                class="d-inline-block mr-1"
                                placeholder="Search..."
                            />
                            <b-button
                                variant="primary"
                                @click="isAddNewFournisseurSidebarActive = true"
                            >
                                <span class="text-nowrap">Ajouter Fournisseur</span>
                            </b-button>
                        </div>
                    </b-col>
                </b-row>

            </div>

            <b-table
                ref="refFournisseurListTable"
                class="position-relative"
                :items="fetchFournisseurs"
                responsive
                :fields="tableColumns"
                primary-key="id"
                :sort-by.sync="sortBy"
                show-empty
                empty-text="No matching records found"
                :sort-desc.sync="isSortDirDesc"
            >





                <!-- Column: Actions -->
                <template #cell(actions)="data">
                    <b-dropdown
                        variant="link"
                        no-caret
                        :right="$store.state.appConfig.isRTL"
                    >

                        <template #button-content>
                            <feather-icon
                                icon="MoreVerticalIcon"
                                size="16"
                                class="align-middle text-body"
                            />
                        </template>
                        <!--<b-dropdown-item :to="{ name: 'apps-users-view', params: { id: data.item.id } }">
                          <feather-icon icon="FileTextIcon" />
                          <span class="align-middle ml-50">Details</span>
                        </b-dropdown-item>-->

                        <b-dropdown-item :to="{ name: 'apps-users-edit', params: { id: data.item.id } }">
                            <feather-icon icon="EditIcon" />
                            <span class="align-middle ml-50">Modifier</span>
                        </b-dropdown-item>

                        <b-dropdown-item   @click="trash(data.item.id)">
                            <feather-icon icon="TrashIcon"/>
                            <span class="align-middle ml-50">Supprimer</span>
                        </b-dropdown-item>
                    </b-dropdown>
                </template>

            </b-table>
            <div class="mx-2 mb-2">
                <b-row>

                    <b-col
                        cols="12"
                        sm="6"
                        class="d-flex align-items-center justify-content-center justify-content-sm-start"
                    >
                        <span class="text-muted">Showing {{ dataMeta.from }} to {{ dataMeta.to }} of {{ dataMeta.of }} entries</span>
                    </b-col>
                    <!-- Pagination -->
                    <b-col
                        cols="12"
                        sm="6"
                        class="d-flex align-items-center justify-content-center justify-content-sm-end"
                    >

                        <b-pagination
                            v-model="currentPage"
                            :total-rows="totalFournisseurs"
                            :per-page="perPage"
                            first-number
                            last-number
                            class="mb-0 mt-1 mt-sm-0"
                            prev-class="prev-item"
                            next-class="next-item"
                        >
                            <template #prev-text>
                                <feather-icon
                                    icon="ChevronLeftIcon"
                                    size="18"
                                />
                            </template>
                            <template #next-text>
                                <feather-icon
                                    icon="ChevronRightIcon"
                                    size="18"
                                />
                            </template>
                        </b-pagination>

                    </b-col>

                </b-row>
            </div>
        </b-card>
    </div>
</template>

<script>
import {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import store from '@/store'
import { ref, onUnmounted } from '@vue/composition-api'
import { avatarText } from '@core/utils/filter'

import fournisseurListAddNew from './FournisseurListAddNew.vue'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import useFournisseurList from './useFournisseurList'
import fournisseursStoreModule from '../fournisseursStoreModule'

export default {
    components: {
        fournisseurListAddNew,

        BCard,
        BRow,
        BCol,
        BFormInput,
        BButton,
        BTable,
        BMedia,
        BAvatar,
        BLink,
        BBadge,
        BDropdown,
        BDropdownItem,
        BPagination,

        vSelect,
    },
    setup() {
        const Fournisseur_APP_STORE_MODULE_NAME = 'app-fournisseur'

        // Register module
        if (!store.hasModule(Fournisseur_APP_STORE_MODULE_NAME)) store.registerModule(Fournisseur_APP_STORE_MODULE_NAME, fournisseursStoreModule)

        // UnRegister on leave
        onUnmounted(() => {
            if (store.hasModule(Fournisseur_APP_STORE_MODULE_NAME)) store.unregisterModule(Fournisseur_APP_STORE_MODULE_NAME)
        })

        const isAddNewFournisseurSidebarActive = ref(false)



        const {
            fetchFournisseurs,
            tableColumns,
            perPage,
            currentPage,
            totalFournisseurs,
            dataMeta,
            perPageOptions,
            searchQuery,
            sortBy,
            isSortDirDesc,
            refFournisseurListTable,
            refetchData,

        } = useFournisseurList()

        return {
            // Sidebar
            isAddNewFournisseurSidebarActive,

            fetchFournisseurs,
            tableColumns,
            perPage,
            currentPage,
            totalFournisseurs,
            dataMeta,
            perPageOptions,
            searchQuery,
            sortBy,
            isSortDirDesc,
            refFournisseurListTable,
            refetchData,

            // Filter
            avatarText,

            // UI
        }
    },
    methods: {
        trash (data) {
            this.$store.dispatch('app-fournisseur/delete', data)
            this.refetchData()
            this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                    title: `Suppression Fournisseur`,
                    icon: 'CoffeeIcon',
                    variant: 'danger',
                    text: `Vous avez supprimé le fournisseur avec succès
`,
                },
            })
        },
    }
}
</script>

<style lang="scss" scoped>
.per-page-selector {
    width: 90px;
}
</style>

<style lang="scss">
@import '~@core/scss/vue/libs/vue-select.scss';
</style>
