<template>
  <section class="invoice-preview-wrapper">
    <!-- Alert: No item found -->
    <b-alert variant="danger" :show="invoiceData === undefined">
      <h4 class="alert-heading">Error fetching invoice data</h4>
      <div class="alert-body">
        No invoice found with this invoice id. Check
        <b-link class="alert-link" :to="{ name: 'apps-invoice-list' }">
          Invoice List
        </b-link>
        for other invoices.
      </div>
    </b-alert>

    <b-row v-if="invoiceData" class="invoice-preview">
      <!-- Col: Left (Invoice Container) -->

      <b-col cols="12" xl="9" md="8">
              <div id="to_print">

        <b-card no-body class="invoice-preview-card">
          <!-- Header -->
          <b-card-body class="invoice-padding pb-0">
            <div
              class="
                d-flex
                justify-content-between
                flex-md-row flex-column
                invoice-spacing
                mt-0
              "
            >
              <!-- Header: Left Content -->
              <div>
                <div class="logo-wrapper">
                  <logo />
                </div>
                <b-card-text class="mb-25">
                  Plexiglass -P.V.C - Lamica - Aluminium composite(Alucobond)
                </b-card-text>
                <b-card-text class="mb-25">
                  Plaques d'immatriculation et Accessoires Vinyle et bache en
                  bobine
                </b-card-text>
                <b-card-text class="mb-0">
                  Stores à bras invisible - Afficheurs et écrans LED Client
                  41200005
                </b-card-text>
              </div>

              <div>
                <b-card-text class="mb-25">
                  <b style="font-size: 12">
                    <h1>STE S3P DISTRIBUTION TUNISIE</h1></b
                  >
                </b-card-text>
                <b-card-text class="mb-0">
                  21 CITE ENNOUR - ARIANA 2080 TUNIS
                </b-card-text>
                <b-card-text class="mb-0">
                  TEL 70 740 245 / FAX: 70 740 244
                </b-card-text>
                <b-card-text class="mb-0">
                  MF : 1388238 CBE 001 / RC: B9133472015
                </b-card-text>
                <b-card-text class="mb-0">
                  CODE EN DOUANE : 1388238C
                </b-card-text>
                <b-card-text class="mb-0">
                  RIB 25 005 000 0000 069990 10 - ZITOUNA
                </b-card-text>
              </div>

              <!-- Header: Right Content -->
              <div class="mt-md-0 mt-2">
                <h4 class="invoice-title">
                  N°Devis
                  <span class="invoice-number">#{{ invoiceData.id }}</span>
                </h4>
                <div class="invoice-date-wrapper">
                  <p class="invoice-date-title">Date:</p>
                  <p class="invoice-date">
                    {{ invoiceData.issuedDate }}
                  </p>
                </div>
                <div class="invoice-date-wrapper">
                  <p class="invoice-date-title">Date d'échéance:</p>
                  <p class="invoice-date">
                    {{ invoiceData.dueDate }}
                  </p>
                </div>

                <div class="invoice-date-wrapper">
                  <p v-if="invoiceData.timbre != 0">Timbré</p>
                </div>
              </div>
            </div>
          </b-card-body>

          <!-- Spacer -->
          <hr class="invoice-spacing" />

          <!-- Invoice Client & Payment Details -->
          <b-card-body v-if="invoiceData.client" class="invoice-padding pt-0">
            <b-row class="invoice-spacing">
              <!-- Col: Invoice To -->
              <b-col cols="12" xl="6" class="p-0">
                <h6 class="mb-2">Facturer à:</h6>
                <h6 class="mb-25">
                  {{ invoiceData.client.nom_social }}
                </h6>
                <p class="card-text mb-25">
                  {{ invoiceData.client.num_portable }}
                </p>
                <p class="card-text mb-25">
                  {{ invoiceData.client.adresse }}
                </p>
                <p class="card-text mb-25">
                  {{ invoiceData.client.contact }}
                </p>
                <p class="card-text mb-0">
                  {{ invoiceData.client.email }}
                </p>
              </b-col>

              <!-- Col: Payment Details -->
            </b-row>
          </b-card-body>

          <!-- Invoice Description: Table -->
          <b-table-lite
            
            :items="invoiceData.devisarticles"
            :fields="['Articles', 'Prix', 'Qty', 'total']"
          >
            <template #cell(Articles)="data">
              <b-card-text class="font-weight-bold mb-25">
                {{ data.item.code_bar }}
              </b-card-text>
              <b-card-text class="text-nowrap">
                {{ data.item.design }}
              </b-card-text>
            </template>

            <template #cell(Prix)="data">
              <b-card-text class="font-weight-bold mb-25">
                {{ data.item.pv_ttc }}
              </b-card-text>
            </template>

            <template #cell(Qty)="data">
              <b-card-text class="font-weight-bold mb-25">
                {{ data.item.pivot.nbProduct }}
              </b-card-text>
            </template>

            <template #cell(total)="data">
              <b-card-text class="font-weight-bold mb-25">
               {{ handleTotal(data.item.pv_ttc,data.item.pivot.nbProduct)}}
              </b-card-text>
            </template>
          </b-table-lite>

          <!-- Invoice Description: Total -->
          <b-card-body class="invoice-padding pb-0">
            <b-row>
              <!-- Col: Sales Persion -->
              <b-col
                cols="12"
                md="6"
                class="mt-md-0 mt-3"
                order="2"
                order-md="1"
              >
                <b-card-text class="mb-0">
                  <span class="font-weight-bold">Vendeur :</span>
                  <span class="ml-75"> {{ invoiceData.salesPerson }} </span>
                </b-card-text>

                <b-card-text class="mb-0">
                  <span class="font-weight-bold">Livreur :</span>
                  <span class="ml-75"> {{ invoiceData.get_livreur.name }} </span>
                </b-card-text>

                <b-card-text class="mb-0">
                  <span class="font-weight-bold">REF Livreur :</span>
                  <span class="ml-75"> {{ invoiceData.livreur_ref }} </span>
                </b-card-text>
              </b-col>



 <!-- Col: Total -->
                <b-col
                  cols="12"
                  md="6"
                  class="mt-md-6 d-flex justify-content-end"
                  order="1"
                  order-md="2"
                >
                  <div class="invoice-total-wrapper">
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Montant THT:</p>
                      <p class="invoice-total-amount">
                        {{ invoiceData.montant_tht}}
                      </p>
                    </div>

                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Net HT :</p>
                      <p class="invoice-total-amount">
                        {{ invoiceData.net_ht}}
                      </p>
                    </div>
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Total TVA :</p>
                      <p class="invoice-total-amount">
                       {{ invoiceData.total_tva}}
                      </p>
                    </div>
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Timbre :</p>
                      <p class="invoice-total-amount">
                         {{ invoiceData.timbre }}
                      </p>
                    </div>

                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Montant Remise :</p>
                      <p class="invoice-total-amount">
                        {{ invoiceData.mnt_remise}}
                      </p>
                    </div>
                    <hr class="my-50" />
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Montant TTC :</p>
                      <p class="invoice-total-amount">
                        {{ invoiceData.montant_ttc }}
                      </p>
                    </div>
                  </div>
                </b-col>
              <!-- Col: Total -->
            
            </b-row>
          </b-card-body>

          <!-- Spacer -->
          <hr class="invoice-spacing" />

          <!-- Note -->
          
        </b-card>
        </div>

      </b-col>
      <!-- Right Col: Card -->
      <b-col cols="12" md="4" xl="3" class="invoice-actions">
        <b-card>
          <!-- Button: Send Invoice -->
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            v-b-toggle.sidebar-send-invoice
            variant="primary"
            class="mb-75"
            block
          >
            Partager Devis
          </b-button>

          <!-- Button: DOwnload -->
          <b-button
            v-ripple.400="'rgba(186, 191, 199, 0.15)'"
            variant="outline-secondary"
            class="mb-75"
            block
            @click="printInvoice"
          >
            Télecharger
          </b-button>
         
          <!-- Button: Add Payment -->
          <b-button
            v-b-toggle.sidebar-invoice-add-payment
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="success"
            class="mb-75"
            block
          >
            Ajouter Payement
          </b-button>
        </b-card>
      </b-col>
    </b-row>
    <invoice-sidebar-send-invoice />
    <invoice-sidebar-add-payment />
  </section>
</template>

<script>
import { ref, onUnmounted } from "@vue/composition-api";
import store from "@/store";
import router from "@/router";
import {
  BRow,
  BCol,
  BCard,
  BCardBody,
  BTableLite,
  BCardText,
  BButton,
  BAlert,
  BLink,
  VBToggle,
} from "bootstrap-vue";
import Logo from "@core/layouts/components/Logo.vue";
import Ripple from "vue-ripple-directive";
import invoiceStoreModule from "../invoiceStoreModule";
import InvoiceSidebarSendInvoice from "../InvoiceSidebarSendInvoice.vue";
import InvoiceSidebarAddPayment from "../InvoiceSidebarAddPayment.vue";

export default {
  directives: {
    Ripple,
    "b-toggle": VBToggle,
  },
  components: {
    BRow,
    BCol,
    BCard,
    BCardBody,
    BTableLite,
    BCardText,
    BButton,
    BAlert,
    BLink,

    Logo,
    InvoiceSidebarAddPayment,
    InvoiceSidebarSendInvoice,
  },
  setup() {
    const invoiceData = ref(null);
    const paymentDetails = ref({});

// Invoice Description
    // ? Your real data will contain this information
    const invoiceDescription = [
      {
        taskTitle: "Native App Development",
        taskDescription:
          "Developed a full stack native app using React Native, Bootstrap & Python",
        rate: "$60.00",
        hours: "30",
        total: "$1,800.00",
      },
      {
        taskTitle: "UI Kit Design",
        taskDescription:
          "Designed a UI kit for native app using Sketch, Figma & Adobe XD",
        rate: "$60.00",
        hours: "20",
        total: "$1200.00",
      },
    ];

    const INVOICE_APP_STORE_MODULE_NAME = "app-invoice";

    const handleTotal = (price,qty) => {
    
      let total = price * qty;
      return total.toFixed(3);
    }
    // Register module
    if (!store.hasModule(INVOICE_APP_STORE_MODULE_NAME))
      store.registerModule(INVOICE_APP_STORE_MODULE_NAME, invoiceStoreModule);

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(INVOICE_APP_STORE_MODULE_NAME))
        store.unregisterModule(INVOICE_APP_STORE_MODULE_NAME);
    });

    store
      .dispatch("app-invoice/fetchInvoice", {
        id: router.currentRoute.params.id,
      })
      .then((response) => {
        invoiceData.value = response.data;
        paymentDetails.value = response.data.paymentDetails;
      })
      .catch((error) => {
        if (error.response.status === 404) {
          invoiceData.value = undefined;
        }
      });

    const printInvoice = () => {
          store
      .dispatch("app-invoice/printInvoice", {
        id: router.currentRoute.params.id,
      })
      .then((response) => {
      let blob = new Blob([response.data], { type: 'application/pdf' })
      let link = document.createElement('a')
      link.href = window.URL.createObjectURL(blob)
      link.download = 'Report.pdf'
      link.click()
      })
      .catch((error) => {
        if (error.response.status === 404) {
          console.log(error)
        }
      });
    };

    return {
      invoiceData,
      paymentDetails,
      invoiceDescription,
      printInvoice,
      handleTotal
    };
  },
};
</script>

<style lang="scss" scoped>
@import "~@core/scss/base/pages/app-invoice.scss";
</style>

<style lang="scss">
@media print {
  // Global Styles
  body {
    background-color: transparent !important;
  }
  nav.header-navbar {
    display: none;
  }
  .main-menu {
    display: none;
  }
  .header-navbar-shadow {
    display: none !important;
  }
  .content.app-content {
    margin-left: 0;
    padding-top: 2rem !important;
  }
  footer.footer {
    display: none;
  }
  .card {
    background-color: transparent;
    box-shadow: none;
  }
  .customizer-toggle {
    display: none !important;
  }

  // Invoice Specific Styles
  .invoice-preview-wrapper {
    .row.invoice-preview {
      .col-md-8 {
        max-width: 100%;
        flex-grow: 1;
      }

      .invoice-preview-card {
        .card-body:nth-of-type(2) {
          .row {
            > .col-12 {
              max-width: 50% !important;
            }

            .col-12:nth-child(2) {
              display: flex;
              align-items: flex-start;
              justify-content: flex-end;
              margin-top: 0 !important;
            }
          }
        }
      }
    }

    // Action Right Col
    .invoice-actions {
      display: none;
    }
  }
}
</style>
