<template>
    <div>
        <b-form>
            <b-row>
                <b-col md="6">
                    <!-- code_famille -->
                    <b-form-group label="Code famille" label-for="Code famille">
                        <b-form-input id="code_famille" v-model="userData.code_famille" autofocus trim placeholder="" />
                    </b-form-group>
                </b-col>
                <b-col md="6">
                    <!-- design -->
                    <b-form-group label="Désignation" label-for="Désignation">
                        <b-form-input id="design" v-model="userData.design" trim placeholder="" />
                    </b-form-group>
                </b-col>
                <b-col md="6">
                    <!-- famille Parentale  -->
                    <b-form-group label="famille Parentale " label-for="famille Parentale ">
                        <b-form-input id="famille_parentale" v-model="userData.famille_parentale" trim />
                    </b-form-group>
                </b-col>
                <b-col md="6">
                    <!-- default_tva -->
                    <b-form-group label="TVA par défaut %" label-for="TVA par défaut">
                        <b-form-input id="default_tva" v-model="userData.default_tva" trim />
                    </b-form-group>
                </b-col>
                <b-col md="6">
                    <!-- default_marge -->
                    <b-form-group label="Marge par défaut %" label-for="Marge par défaut">
                        <b-form-input id="default_marge" v-model="userData.default_marge" trim />
                    </b-form-group>
                </b-col>

                <b-col md="6">
                    <b-form-group label="Images Du Produit" label-for="image">
                        <b-form-file ref="refInputEl" placeholder="Choose a file or drop it here..."
                            drop-placeholder="Drop file here..." accept=".jpg, .png, .gif, .webp"
                            @change="uploadfile" />
                    </b-form-group>
                </b-col>
                <b-media-aside style="padding: 0px 3px 16px 16px;">
                    <img ref="previewEl" rounded :src="userData.image" height="80" />
                </b-media-aside>
            </b-row>
        </b-form>

        <!-- Action Buttons -->
        <b-button variant="primary" class="mb-1 mb-sm-0 mr-0 mr-sm-1"
            :block="$store.getters['app/currentBreakPoint'] === 'xs'" @click="save_changes()">
            Save Changes
        </b-button>
    </div>
</template>

<script>
    import {
        BButton,
        BMedia,
        BAvatar,
        BRow,
        BCol,
        BFormGroup,
        BFormInput,
        BForm,
        BTable,
        BCard,
        BCardHeader,
        BCardTitle,
        BFormCheckbox,
        BFormFile,
        BMediaAside,
    } from 'bootstrap-vue'
    import {
        avatarText
    } from '@core/utils/filter'
    import vSelect from 'vue-select'

    import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
    import axios from '@axios'
    import {
        ref
    } from '@vue/composition-api'

    export default {
        components: {
            BMediaAside,
            BFormFile,
            BButton,
            BMedia,
            BAvatar,
            BRow,
            BCol,
            BFormGroup,
            BFormInput,
            BForm,
            BTable,
            BCard,
            BCardHeader,
            BCardTitle,
            BFormCheckbox,
            vSelect,
        },
        props: {
            userData: {
                type: Object,
                required: true,
            },
        },
        setup() {

            const roleOptions = [{
                    label: 'Admin',
                    value: 'admin'
                },
                {
                    label: 'Author',
                    value: 'author'
                },
                {
                    label: 'Editor',
                    value: 'editor'
                },
                {
                    label: 'Maintainer',
                    value: 'maintainer'
                },
                {
                    label: 'Subscriber',
                    value: 'subscriber'
                },
            ]

            const statusOptions = [{
                    label: 'Pending',
                    value: 'pending'
                },
                {
                    label: 'Active',
                    value: 'active'
                },
                {
                    label: 'Inactive',
                    value: 'inactive'
                },
            ]

            const permissionsData = [{
                    module: 'Admin',
                    read: true,
                    write: false,
                    create: false,
                    delete: false,
                },
                {
                    module: 'Staff',
                    read: false,
                    write: true,
                    create: false,
                    delete: false,
                },
                {
                    module: 'Author',
                    read: true,
                    write: false,
                    create: true,
                    delete: false,
                },
                {
                    module: 'Contributor',
                    read: false,
                    write: false,
                    create: false,
                    delete: false,
                },
                {
                    module: 'User',
                    read: false,
                    write: false,
                    create: false,
                    delete: true,
                },
            ]

            // ? Demo Purpose => Update image on click of update
            const refInputEl = ref(null)
            const previewEl = ref(null)

            return {
                avatarText,
                roleOptions,
                statusOptions,
                permissionsData,

                //  ? Demo - Update Image on click of update button
                refInputEl,
                previewEl,
            }
        },
        methods: {
            uploadfile(event) {
                this.userData.files = event.target.files[0];
                console.log(this.userData, 'file');

            },

            save_changes() {
                console.log(this.userData)
                const formData = new FormData();
                if (this.userData.files) {
                    formData.append('image', this.userData.files);
                }
                formData.append('id', this.userData.id);
                formData.append('code_famille', this.userData.code_famille);
                formData.append('famille_parentale', this.userData.famille_parentale);
                formData.append('default_tva', this.userData.default_tva);
                formData.append('default_marge', this.userData.default_marge);
                formData.append('design', this.userData.design);

                axios.post('/update/familles', formData).then((res) => {
                    console.log(res);
                    if (res.data.code) {
                        this.$toast({
                            component: ToastificationContent,
                            position: 'top-right',
                            props: {
                                title: `Famille Enregister`,
                                icon: 'CoffeeIcon',
                                variant: 'success',
                                text: `You have successfully save the famille`,
                            },
                        })
                    } else {
                        this.$toast({
                            component: ToastificationContent,
                            props: {
                                title: 'Une erreur s\'est produite',
                                icon: 'AlertTriangleIcon',
                                variant: 'danger',
                            },
                        })
                    }
                    this.$emit('refetch-data')
                    this.$emit('update:is-add-new-user-sidebar-active', false)
                })
            },
        }
    }

</script>

<style lang="scss">
    @import '~@core/scss/vue/libs/vue-select.scss';

</style>
