<template>
    <b-sidebar id="add-new-user-sidebar" :visible="isAddNewUserSidebarActive" bg-variant="white"
        sidebar-class="sidebar-lg" shadow backdrop no-header right @hidden="resetForm"
        @change="(val) => $emit('update:is-add-new-user-sidebar-active', val)">
        <template #default="{ hide }">
            <!-- Header -->
            <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
                <h5 class="mb-0">
                    Ajouter Article
                </h5>

                <feather-icon class="ml-1 cursor-pointer" icon="XIcon" size="16" @click="hide" />

            </div>

            <!-- BODY -->
            <validation-observer #default="{ handleSubmit }" ref="refFormObserver">
                <!-- Form -->
                <b-form class="p-2" @submit.prevent="handleSubmit(save_changes)" @reset.prevent="resetForm">
                    <b-row>
                        <b-col md="4">
                            <!-- Full Name -->
                            <validation-provider #default="validationContext" name="Designation" rules="required">
                                <b-form-group label="Designation" label-for="Designation">
                                    <b-form-input id="Designation" v-model="userData.design" autofocus
                                        :state="getValidationState(validationContext)" trim placeholder="" />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>

                        <b-col md="4">
                            <!-- password -->
                            <b-form-group>
                                <div class="d-flex justify-content-between">
                                    <label for="code_bar">Code à barre</label>
                                </div>
                                <validation-provider
                                    #default="{ errors }"
                                    name="code_bar"
                                    rules="required"
                                >
                                    <b-input-group
                                        class="input-group-merge"
                                        :class="errors.length > 0 ? 'is-invalid':null"
                                    >
                                        <b-form-input
                                            id="password"
                                            v-model="userData.code_bar"
                                            class="form-control-merge"
                                            :state="errors.length > 0 ? false:null"
                                            name="code_bar"
                                            placeholder="Code à barre"
                                        />

                                        <b-input-group-append is-text>
                                            <feather-icon
                                                class="cursor-pointer"
                                                :icon="codeToggleIcon"
                                                @click="codeGenerate"
                                            />
                                        </b-input-group-append>
                                    </b-input-group>
                                    <small class="text-danger">{{ errors[0] }}</small>
                                </validation-provider>
                            </b-form-group>
                        </b-col>




                        <b-col md="4">
                            <!-- ref -->
                            <validation-provider #default="validationContext" name="ref" rules="required">
                                <b-form-group label="Réference" label-for="Réference">
                                    <b-form-input id="ref" v-model="userData.ref"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- libele_cataloge -->
                            <validation-provider #default="validationContext" name="libele_cataloge" rules="required">
                                <b-form-group label="Libelle catalogue" label-for="Libelle catalogue">
                                    <b-form-input id="libele_cataloge" v-model="userData.libele_cataloge"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- id4 -->
                            <validation-provider #default="validationContext" name="id4" rules="required">
                                <b-form-group label="ID4" label-for="ID3">
                                    <b-form-input id="id4" v-model="userData.id4"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- id3 -->
                            <validation-provider #default="validationContext" name="id3" rules="required">
                                <b-form-group label="ID3" label-for="ID3">
                                    <b-form-input id="id3" v-model="userData.id3"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <!-- id2 -->
                        <b-col md="4">
                            <validation-provider #default="validationContext" name="id2" rules="required">
                                <b-form-group label="ID2" label-for="ID2">
                                    <b-form-input id="id2" v-model="userData.id2"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- id1 -->
                            <validation-provider #default="validationContext" name="id1" rules="required">
                                <b-form-group label="ID1" label-for="ID1">
                                    <b-form-input id="id1" v-model="userData.id1"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- tva -->
                            <validation-provider #default="validationContext" name="Tva" rules="required">
                                <b-form-group label="Tva" label-for="tva"
                                    :state="getValidationState(validationContext)">
                                    <v-select v-model="userData.tva_id"
                                        :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="tvaOptions"
                                        :selectable="option => ! option.value.includes('select_value')" label="text"
                                        :reduce="val => val.value" :clearable="false" input-id="tva" />
                                    <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- achat_ttc -->
                            <validation-provider #default="validationContext" name="achat_ttc" rules="required">
                                <b-form-group label="Achat TTC" label-for="Achat TTC">
                                    <b-form-input id="achat_ttc" type="number" v-model="userData.achat_ttc"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- prix_achat_ht -->
                            <validation-provider #default="validationContext" name="prix_achat_ht" rules="required">
                                <b-form-group label="Prix Achat HT(DT)" label-for="prix_achat_ht">
                                    <b-form-input id="prix_achat_ht" type="number" v-model="userData.prix_achat_ht"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- pv_ttc -->
                            <validation-provider #default="validationContext" name="pv_ttc" rules="required">
                                <b-form-group label="PV TTC" label-for="pv_ttc">
                                    <b-form-input id="pv_ttc" type="number" v-model="userData.pv_ttc"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- prix_vente -->
                            <validation-provider #default="validationContext" name="prix_vente" rules="required">
                                <b-form-group label="Prix de vente DT" label-for="prix_vente">
                                    <b-form-input id="prix_vente" type="number" v-model="userData.prix_vente"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- marge -->
                            <validation-provider #default="validationContext" name="marge" rules="required">
                                <b-form-group label="Marge" label-for="marge">
                                    <b-form-input id="marge" v-model="userData.marge"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                        <!-- brand_id -->
                            <validation-provider #default="validationContext" name="Marque" rules="required">
                                <b-form-group label="Marque" label-for="marque"
                                    :state="getValidationState(validationContext)">
                                    <v-select v-model="userData.brand_id"
                                        :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="brandOptions"
                                        :selectable="option => ! option.value.includes('select_value')" label="text"
                                        :reduce="val => val.value" :clearable="false" input-id="brand" />
                                    <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- max_marge -->
                            <validation-provider #default="validationContext" name="Marge MAX" rules="required">
                                <b-form-group label="Marge MAX" label-for="max_marge">
                                    <b-form-input id="max_marge" type="number" v-model="userData.max_marge"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- matiere_active -->
                            <validation-provider #default="validationContext" name="Matiere Active" rules="required">
                                <b-form-group label="Matiere Active" label-for="matiere_active">
                                    <b-form-input id="matiere_active" v-model="userData.matiere_active"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                        <!-- unit_id -->
                            <validation-provider #default="validationContext" name="Unite" rules="required">
                                <b-form-group label="Unite" label-for="unite"
                                    :state="getValidationState(validationContext)">
                                    <v-select v-model="userData.unit_id"
                                        :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="unitOptions"
                                        :selectable="option => ! option.value.includes('select_value')" label="text"
                                        :reduce="val => val.value" :clearable="false" input-id="unite" />
                                    <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- qty_alert -->
                            <validation-provider #default="validationContext" name="qty_alert" rules="required">
                                <b-form-group label="Quantité d'alerte" label-for="qty_alert">
                                    <b-form-input id="qty_alert" type="number" v-model="userData.qty_alert"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- remise -->
                            <validation-provider #default="validationContext" name="remise" rules="required">
                                <b-form-group label="Remise" label-for="remise">
                                    <b-form-input id="remise" type="number" v-model="userData.remise"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- remise -->
                            <validation-provider #default="validationContext" name="deb_remise" rules="required">
                                <b-form-group label="La remise commence" label-for="deb_remise">
                                    <b-form-input id="deb_remise" type="date" v-model="userData.deb_remise"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <!-- fin_remise -->
                            <validation-provider #default="validationContext" name="fin_remise" rules="required">
                                <b-form-group label="Fin de la remise" label-for="fin_remise">
                                    <b-form-input id="fin_remise" type="date" v-model="userData.fin_remise"
                                        :state="getValidationState(validationContext)" trim />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                            <!-- upload muti file -->
                        </b-col>
                        <b-col md="4">
                            <!-- Famille -->
                            <validation-provider #default="validationContext" name="Famille" rules="required">
                                <b-form-group label="Famille" label-for="famille"
                                    :state="getValidationState(validationContext)">
                                    <v-select v-model="userData.famille_id"
                                        :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'" :options="familleOptions"
                                        :selectable="option => ! option.value.includes('select_value')" label="text"
                                        :reduce="val => val.value" :clearable="false" input-id="famille" />
                                    <b-form-invalid-feedback :state="getValidationState(validationContext)">
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <b-form-group label="Images Du Produit" label-for="image">
                                <b-form-file ref="refInputEl" placeholder="Choose a file or drop it here..."
                                    drop-placeholder="Drop file here..." accept=".jpg, .png, .gif, .webp" multiple
                                    @change="uploadfile" />
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <!-- Form Actions -->
                    <div class="d-flex mt-2">
                        <b-button v-ripple.400="'rgba(255, 255, 255, 0.15)'" variant="primary" class="mr-2"
                            type="submit">
                            Ajouter
                        </b-button>
                        <b-button v-ripple.400="'rgba(186, 191, 199, 0.15)'" type="button" variant="outline-secondary"
                            @click="hide">
                            Annuler
                        </b-button>
                    </div>
                </b-form>
            </validation-observer>
        </template>
    </b-sidebar>
</template>

<script>
    import {
        BRow,
        BFormFile,
        BCol,
        BSidebar,
        BForm,
        BFormGroup,
        BFormInput,
        BFormInvalidFeedback,
        BButton,
        BInputGroupAppend,
        BInputGroup
    } from 'bootstrap-vue'
    import {
        ValidationProvider,
        ValidationObserver
    } from 'vee-validate'
    import {
        ref
    } from '@vue/composition-api'
    import {
        required,
        alphaNum,
        email
    } from '@validations'
    import formValidation from '@core/comp-functions/forms/form-validation'
    import Ripple from 'vue-ripple-directive'
    import vSelect from 'vue-select'
    import countries from '@/@fake-db/data/other/countries'
    import store from '@/store'
    import {
        togglePasswordVisibility
    } from '@core/mixins/ui/forms'
    import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
    import {
        codeMultiple
    } from './code'
    import axios from '@axios'

    export default {
        components: {
            BRow,
            BSidebar,
            BForm,
            BFormGroup,
            BFormInput,
            BFormInvalidFeedback,
            BButton,
            vSelect,
            BInputGroupAppend,
            BInputGroup,
            // Form Validation
            ValidationProvider,
            ValidationObserver,
            BCol,
            BFormFile,
        },
        mixins: [togglePasswordVisibility],
        directives: {
            Ripple,
        },
        model: {
            prop: 'isAddNewUserSidebarActive',
            event: 'update:is-add-new-user-sidebar-active',
        },
        props: {
            isAddNewUserSidebarActive: {
                type: Boolean,
                required: true,
            },
            // familleOptions: {
            //     type: Array,
            //     required: true,
            // },
        },
        data() {
            return {
                required,
                alphaNum,
                email,
                countries,
                codeMultiple,
            }
        },
        computed: {
            codeToggleIcon() {
                return 'CornerRightUpIcon'
            },
        },
        setup(props, {
            emit
        }) {
            const familleData = ref(null)
            const familleOptions = ref([])

            const tvaData = ref(null)
            const tvaOptions = ref([])

            const brandData = ref(null)
            const brandOptions = ref([])

            const unitData = ref(null)
            const unitOptions = ref([])

            const blankUserData = {
                design: '',
                code_bar: '',
                ref: '',
                famille_id: null,
                libele_cataloge: '',
                id3: '',
                id4: '',
                id2: '',
                id1: '',
                tva_id: '',
                achat_ttc: '',
                prix_achat_ht: '',
                pv_ttc: '',
                prix_vente: '',
                marge: '',
                marque: '',
                max_marge: '',
                matiere_active: '',
                unit_id: '',
                qty_alert: '',
                remise: '',
                deb_remise: '',
                fin_remise: '',
            }

            const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
            const resetuserData = () => {
                userData.value = JSON.parse(JSON.stringify(blankUserData))
            }
            store.dispatch('app-article/getListFamille')
                .then(response => {
                    familleData.value = response.data.data,
                        updateFamilleSelect(familleData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        familleData.value = undefined
                    }
                })
            //helpers
            const updateFamilleSelect = (data) => {
                console.log(data, 'famille')
                data.forEach(elem => {
                    familleOptions.value.push({
                        "value": elem.id.toString(),
                        "text": elem.code_famille
                    })
                })
            }
            //tva heleper select
            store.dispatch('app-article/getListTva')
                .then(response => {
                    tvaData.value = response.data.data,
                    updateTvaSelect(tvaData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        tvaData.value = undefined
                    }
                })

            const updateTvaSelect = (data) => {
                console.log(data, 'tva')
                data.forEach(elem => {
                    tvaOptions.value.push({
                        "value": elem.id.toString(),
                        "text": elem.name
                    })
                })
            }
            //brand(marque) heleper select
            store.dispatch('app-article/getListBrand')
                .then(response => {
                    brandData.value = response.data.data,
                    updateBrandSelect(brandData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        brandData.value = undefined
                    }
                })

            const updateBrandSelect = (data) => {
                console.log(data, 'brand marque')
                data.forEach(elem => {
                    brandOptions.value.push({
                        "value": elem.id.toString(),
                        "text": elem.title
                    })
                })
            }
            //unit_id heleper select
            store.dispatch('app-article/getListUnite')
                .then(response => {
                    unitData.value = response.data.data,
                    updateUnitSelect(unitData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        unitData.value = undefined
                    }
                })

            const updateUnitSelect = (data) => {
                console.log(data, 'unit')
                data.forEach(elem => {
                    unitOptions.value.push({
                        "value": elem.id.toString(),
                        "text": elem.title
                    })
                })
            }
            const onSubmit = () => {
                store.dispatch('app-user/addUser', userData.value).then(() => {
                    emit('refetch-data')
                    emit('update:is-add-new-user-sidebar-active', false)
                })
            }

            const {
                refFormObserver,
                getValidationState,
                resetForm
            } = formValidation(resetuserData)

            return {
                userData,
                onSubmit,
                familleData,
                brandData,
                brandOptions,
                unitData,
                unitOptions,
                tvaData,
                tvaOptions,
                familleOptions,
                refFormObserver,
                getValidationState,
                resetForm,
            }
        },
        methods: {
            makeid(length) {
                var result           = '';
                var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                var charactersLength = characters.length;
                for ( var i = 0; i < length; i++ ) {
                    result += characters.charAt(Math.floor(Math.random() *
                        charactersLength));
                }
                return result;
            },
            codeGenerate()
            {
                return this.userData.code_bar = this.makeid(15)
            },
            uploadfile(event) {
                this.userData.files = event.target.files;
                console.log(this.userData, 'file');

            },

            save_changes() {
                const formData = new FormData();
                if (this.userData.files) {
                    for (const i of Object.keys(this.userData.files)) {
                        formData.append('imagesArray[' + i + ']', this.userData.files[i]);
                    }
                }

                formData.append('famille_id', this.userData.famille_id);
                formData.append('design', this.userData.design);
                formData.append('code_bar', this.userData.code_bar);
                formData.append('ref', this.userData.ref);
                formData.append('libele_cataloge', this.userData.libele_cataloge);
                formData.append('id3', this.userData.id3);
                formData.append('id4', this.userData.id4);
                formData.append('id2', this.userData.id2);
                formData.append('id1', this.userData.id1);
                formData.append('tva_id', this.userData.tva_id);
                formData.append('achat_ttc', this.userData.achat_ttc);
                formData.append('prix_achat_ht', this.userData.prix_achat_ht);
                formData.append('pv_ttc', this.userData.pv_ttc);
                formData.append('prix_vente', this.userData.prix_vente);
                formData.append('marge', this.userData.marge);
                formData.append('brand_id', this.userData.brand_id);
                formData.append('max_marge', this.userData.max_marge);
                formData.append('matiere_active', this.userData.matiere_active);
                formData.append('unit_id', this.userData.unit_id);
                formData.append('qty_alert', this.userData.qty_alert);
                formData.append('remise', this.userData.remise);
                formData.append('deb_remise', this.userData.deb_remise);
                formData.append('fin_remise', this.userData.fin_remise);

                axios.post('/add/articles', formData).then((res) => {
                    console.log(res);
                    if (res.data.code) {
                        this.$toast({
                            component: ToastificationContent,
                            position: 'top-right',
                            props: {
                                title: `Article Enregister`,
                                icon: 'CoffeeIcon',
                                variant: 'success',
                                text: `Enregistré avec succès`,
                            },
                        })
                    } else {
                        this.$toast({
                            component: ToastificationContent,
                            props: {
                                title: 'Une erreur s\'est produite',
                                icon: 'AlertTriangleIcon',
                                variant: 'danger',
                            },
                        })
                    }
                    this.$emit('refetch-data')
                    this.$emit('update:is-add-new-user-sidebar-active', false)
                })
            },
        }
    }

</script>

<style lang="scss">
    @import '~@core/scss/vue/libs/vue-select.scss';

    #add-new-user-sidebar {
        .vs__dropdown-menu {
            max-height: 200px !important;
        }
    }

    .b-sidebar.sidebar-lg {
        width: 100%;
    }

</style>
