<template>
    <b-sidebar
        id="add-new-tva-sidebar"
        :visible="isAddNewTvaSidebarActive"
        bg-variant="white"
        sidebar-class="sidebar-lg"
        shadow
        backdrop
        no-header
        right
        @hidden="resetForm"
        @change="(val) => $emit('update:is-add-new-Tva-sidebar-active', val)"
    >
        <template #default="{ hide }">
            <!-- Header -->
            <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
                <h5 class="mb-0">
                    Ajouter Nouvelle Tva
                </h5>

                <feather-icon
                    class="ml-1 cursor-pointer"
                    icon="XIcon"
                    size="16"
                    @click="hide"
                />

            </div>

            <!-- BODY -->
            <validation-observer
                #default="{ handleSubmit }"
                ref="refFormObserver"
            >
                <!-- Form -->
                <b-form
                    class="p-2"
                    @submit.prevent="handleSubmit(onSubmit)"
                    @reset.prevent="resetForm"
                >

                    <!-- Full Name -->
                    <validation-provider
                        #default="validationContext"
                        name="name"
                        rules="required"
                    >
                        <b-form-group
                            label="Nom"
                            label-for="full-title"
                        >
                            <b-form-input
                                id="full-title"
                                v-model="TvaData.name"
                                autofocus
                                :state="getValidationState(validationContext)"
                                trim
                                placeholder=""
                            />

                            <b-form-invalid-feedback>
                                {{ validationContext.errors[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </validation-provider>

                    <!-- Username -->
                    <validation-provider
                        #default="validationContext"
                        name="taux"
                        rules="required|alpha-num"
                    >
                        <b-form-group
                            label="Taux"
                            label-for="full-taux"
                        >
                        <b-form-input
                            id="full-taux"
                            v-model="TvaData.taux"
                            autofocus
                            :state="getValidationState(validationContext)"
                            trim
                            placeholder=""
                        />

                            <b-form-invalid-feedback>
                                {{ validationContext.errors[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </validation-provider>




                    <!-- Form Actions -->
                    <div class="d-flex mt-2">
                        <b-button
                            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                            variant="primary"
                            class="mr-2"
                            type="submit"
                        >
                            Add
                        </b-button>
                        <b-button
                            v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                            type="button"
                            variant="outline-warning"
                            @click="hide"
                        >
                            Cancel
                        </b-button>
                    </div>

                </b-form>
            </validation-observer>
        </template>
    </b-sidebar>
</template>

<script>
import { BSidebar, BForm, BFormGroup, BFormInput, BFormInvalidFeedback, BButton, BInputGroupAppend, BInputGroup } from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import { required, alphaNum, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import vSelect from 'vue-select'
import countries from '@/@fake-db/data/other/countries'
import store from '@/store'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import { BFormFile } from 'bootstrap-vue'

export default {
    components: {
        BSidebar,
        BForm,
        BFormGroup,
        BFormInput,
        BFormInvalidFeedback,
        BButton,
        vSelect,
        BInputGroupAppend,
        BInputGroup,
        // Form Validation
        BFormFile,
        ValidationProvider,
        ValidationObserver,
    },
    mixins: [togglePasswordVisibility],
    directives: {
        Ripple,
    },
    model: {
        prop: 'isAddNewTvaSidebarActive',
        event: 'update:is-add-new-Tva-sidebar-active',
    },
    props: {
        isAddNewTvaSidebarActive: {
            type: Boolean,
            required: true,
        },
    },
    data() {
        return {
            required,
            alphaNum,
            email,
            countries,
        }
    },


    setup(props, { emit }) {
        const blankTvaData = {
            name: '',
            taux: '',
        }

        const TvaData = ref(JSON.parse(JSON.stringify(blankTvaData)))
        const resetTvaData = () => {
            TvaData.value = JSON.parse(JSON.stringify(blankTvaData))
        }

        const onSubmit = () => {
            store.dispatch('app-tva/addTva', TvaData.value).then(() => {
                console.log(TvaData.value)
                emit('refetch-data')
                emit('update:is-add-new-Tva-sidebar-active', false)
            })
        }

        const { refFormObserver, getValidationState, resetForm } = formValidation(resetTvaData)

        return {
            TvaData,
            onSubmit,

            refFormObserver,
            getValidationState,
            resetForm,
        }
    },
}
</script>

<style lang="scss">
@import '~@core/scss/vue/libs/vue-select.scss';

#add-new-tva-sidebar {
    .vs__dropdown-menu {
        max-height: 200px !important;
    }
}
</style>
