<template>
  <section class="invoice-add-wrapper">
    <invoice-sidebar-add-new-customer
      :is-add-new-customer-sidebar-active.sync="isAddNewCustomerSidebarActive"
    />
    <b-row class="invoice-add">
      <!-- Col: Left (Invoice Container) -->
      <b-col cols="12" xl="9" md="8">
        <b-form @submit.prevent>
          <b-card no-body class="invoice-preview-card">
            <!-- Header -->
            <b-card-body class="invoice-padding pb-0">
              <div
                class="
                  d-flex
                  justify-content-between
                  flex-md-row flex-column
                  invoice-spacing
                  mt-0
                "
              >
                <!-- Header: Left Content -->
                <div>
                  <div class="logo-wrapper">
                    <logo />
                  </div>
                  <b-card-text class="mb-25">
                    Plexiglass -P.V.C - Lamica - Aluminium composite(Alucobond)
                  </b-card-text>
                  <b-card-text class="mb-25">
                    Plaques d'immatriculation et Accessoires Vinyle et bache en
                    bobine
                  </b-card-text>
                  <b-card-text class="mb-0">
                    Stores à bras invisible - Afficheurs et écrans LED Client
                    41200005
                  </b-card-text>
                </div>

                <div>
                  <b-card-text class="mb-25">
                    <b style="font-size: 12">
                      <h1>STE S3P DISTRIBUTION TUNISIE</h1></b
                    >
                  </b-card-text>
                  <b-card-text class="mb-0">
                    21 CITE ENNOUR - ARIANA 2080 TUNIS
                  </b-card-text>
                  <b-card-text class="mb-0">
                    TEL 70 740 245 / FAX: 70 740 244
                  </b-card-text>
                  <b-card-text class="mb-0">
                    MF : 1388238 CBE 001 / RC: B9133472015
                  </b-card-text>
                  <b-card-text class="mb-0">
                    CODE EN DOUANE : 1388238C
                  </b-card-text>
                  <b-card-text class="mb-0">
                    RIB 25 005 000 0000 069990 10 - ZITOUNA
                  </b-card-text>
                </div>

                <!-- Header: Right Content -->
                <div class="invoice-number-date mt-md-0 mt-2">
                  <div
                    class="
                      d-flex
                      align-items-center
                      justify-content-md-end
                      mb-1
                    "
                  >
                    <h4 class="invoice-title">N°Devis</h4>
                    <b-input-group
                      class="
                        input-group-merge
                        invoice-edit-input-group
                        disabled
                      "
                    >
                      <b-input-group-prepend is-text>
                        <feather-icon icon="HashIcon" />
                      </b-input-group-prepend>
                      <b-form-input
                        id="invoice-data-id"
                        v-model="invoiceData.id"
                        disabled
                      />
                    </b-input-group>
                  </div>
                  <div class="d-flex align-items-center mb-1">
                    <span class="title"> Date: </span>

                    <b-input-group
                      class="
                        input-group-merge
                        invoice-edit-input-group
                        disabled
                      "
                    >
                      <b-form-input
                        type="text"
                        v-model="invoiceData.issuedDate"
                        @input="(val) => date_function()"
                        disabled
                        value="dffsfds"
                      />
                    </b-input-group>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="title"> Date d'échéance: </span>
                    <flat-pickr
                      v-model="invoiceData.dueDate"
                      class="form-control invoice-edit-input"
                    />
                  </div>

                  <div class="d-flex align-items-center">
                    <span class="title"> Timbre: </span>
                    <b-form-checkbox
                      id="invoice-data-timbre"
                      @change="updatetimbre($event)"
                    />
                  </div>
                </div>
              </div>
            </b-card-body>

            <!-- Spacer -->
            <hr class="invoice-spacing" />

            <!-- Invoice Client & Payment Details -->
            <b-card-body class="invoice-padding pt-0">
              <b-row class="invoice-spacing">
                <!-- Col: Invoice To -->
                <b-col cols="12" xl="6" class="mb-lg-1">
                  <h6 class="mb-2">Facturer à:</h6>

                  <!-- Select Client -->
                  <v-select
                    v-model="invoiceData.client"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="clientOptions"
                    label="text"
                    input-id="invoice-data-client"
                    :clearable="false"
                  >
                    <template #list-header>
                      <li
                        v-b-toggle.sidebar-invoice-add-new-customer
                        class="
                          add-new-client-header
                          d-flex
                          align-items-center
                          my-50
                        "
                      >
                        <feather-icon icon="PlusIcon" size="16" />
                        <span
                          class="align-middle ml-25"
                          @click="updateCustomSidebar = true"
                          >Ajouter nouveau client</span
                        >
                      </li>
                    </template>
                  </v-select>

                  <!-- Selected Client -->
                  <div v-if="invoiceData.client" class="mt-1">
                    <h6 class="mb-25">
                      {{ invoiceData.client.name }}
                    </h6>
                    <b-card-text class="mb-25">
                      {{ invoiceData.client.company }}
                    </b-card-text>
                    <b-card-text class="mb-25">
                      {{ invoiceData.client.address }},
                      {{ invoiceData.client.country }}
                    </b-card-text>
                    <b-card-text class="mb-25">
                      {{ invoiceData.client.contact }}
                    </b-card-text>
                    <b-card-text class="mb-0">
                      {{ invoiceData.client.companyEmail }}
                    </b-card-text>
                  </div>
                </b-col>

                <!-- Col: Payment Details
                                <b-col xl="6" cols="12" class="mt-xl-0 mt-2 justify-content-end d-xl-flex d-block">
                                    <div>
                                        <h6 class="mb-2">
                                            Détails de paiement:
                                        </h6>
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td class="pr-1">
                                                    Total dû:
                                                </td>
                                                <td><span class="font-weight-bold">$12,110.55</span></td>
                                            </tr>
                                            <tr>
                                                <td class="pr-1">
                                                    Nom de banque:
                                                </td>
                                                <td>American Bank</td>
                                            </tr>
                                            <tr>
                                                <td class="pr-1">
                                                    Pays:
                                                </td>
                                                <td>United States</td>
                                            </tr>
                                            <tr>
                                                <td class="pr-1">
                                                    RIB:
                                                </td>
                                                <td>ETD95476213874685</td>
                                            </tr>
                                            <tr>
                                                <td class="pr-1">
                                                    SWIFT code:
                                                </td>
                                                <td>BR91905</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </b-col> -->
              </b-row>
            </b-card-body>

            <!-- Items Section -->
            <b-card-body class="invoice-padding form-item-section">
              <div
                ref="form"
                class="repeater-form"
                :style="{ height: trHeight }"
              >
                <b-row
                  v-for="(item, index) in invoiceData.items"
                  :key="index"
                  ref="row"
                  class="pb-2"
                >
                  <!-- Item Form -->
                  <!-- ? This will be in loop => So consider below markup for single item -->
                  <b-col cols="12">
                    <!-- ? Flex to keep separate width for XIcon and SettingsIcon -->
                    <div class="d-none d-lg-flex">
                      <b-row class="flex-grow-1 px-1">
                        <!-- Single Item Form Headers -->
                        <b-col cols="12" lg="4"> Réf </b-col>
                        <b-col cols="12" lg="2"> Coût </b-col>
                        <b-col cols="12" lg="2"> Qty </b-col>
                        <b-col cols="12" lg="1"> TVA (%) </b-col>
                        <b-col cols="12" lg="2"> Rem% </b-col>
                        <b-col cols="12" lg="1"> Total TTC </b-col>
                      </b-row>
                      <div class="form-item-action-col" />
                    </div>

                    <!-- Form Input Fields OR content inside bordered area  -->
                    <!-- ? Flex to keep separate width for XIcon and SettingsIcon -->
                    <div class="d-flex border rounded">
                      <b-row class="flex-grow-1 p-2">
                        <!-- Single Item Form Headers -->
                        <b-col cols="12" lg="4">
                          <label class="d-inline d-lg-none">Article</label>
                          <v-select
                            v-model="item.itemTitle"
                            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="itemData"
                            label="code_bar"
                            :clearable="false"
                            class="mb-2 item-selector-title"
                            placeholder="Select Item"
                            @input="(val) => updateItemForm(index, val)"
                          />
                        </b-col>
                        <b-col cols="12" lg="2">
                          <label class="d-inline d-lg-none">Coût</label>
                          <b-form-input
                            v-model="item.prix_vente"
                            type="number"
                            disabled=""
                            class="mb-2"
                          />
                        </b-col>
                        <b-col cols="12" lg="2">
                          <label class="d-inline d-lg-none">Qty</label>
                          <b-form-input
                            v-model="item.qty"
                            type="number"
                            @input="(val) => updateqty(val)"
                            class="mb-2"
                          />
                        </b-col>
                        <b-col cols="12" lg="1">
                          <label class="d-inline d-lg-none">TVA</label>
                          <b-form-input
                            v-model="item.tva_id"
                            type="number"
                            disabled=""
                            class="mb-2"
                          />
                        </b-col>
                        <b-col cols="12" lg="2">
                          <label class="d-inline d-lg-none">Remise</label>
                          <b-form-input
                            v-model="item.remise"
                            type="number"
                            @input="(val) => updateRemiseItem(val)"
                            S
                            class="mb-2"
                          />
                        </b-col>
                        <b-col cols="12" lg="1">
                          <label class="d-inline d-lg-none">Prix</label>
                          <p class="mb-1">
                            {{
                              handlePrice(
                                item.prix_vente,
                                item.qty,
                                item.tva_id,
                                item.remise
                              )
                            }}
                            DT
                          </p>
                        </b-col>

                        <b-col cols="12" lg="8">
                          <label class="d-inline d-lg-none">Désignation</label>
                          <b-form-input
                            v-model="item.design"
                            type="text"
                            disabled=""
                            class="mb-2"
                          />
                        </b-col>
                      </b-row>
                      <div
                        class="
                          d-flex
                          flex-column
                          justify-content-between
                          border-left
                          py-50
                          px-25
                        "
                      >
                        <feather-icon
                          size="16"
                          icon="XIcon"
                          class="cursor-pointer"
                          @click="removeItem(index)"
                        />

                        <!-- Setting Item Form -->
                      </div>
                    </div>
                  </b-col>
                </b-row>
              </div>
              <b-button
                v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                size="sm"
                variant="primary"
                @click="addNewItemInItemForm"
              >
                Ajouter un article
              </b-button>
            </b-card-body>

            <!-- Invoice Description: Total -->
            <b-card-body class="invoice-padding pb-0">
              <b-row>
                <b-col cols="6" xl="6" order="2" order-md="1">
                  <label
                    for="invoice-data-sales-person"
                    class="text-nowrap mr-50"
                    >Livreur:</label
                  >
                  <v-select
                    v-model="invoiceData.livreur"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="livreurOptions"
                    label="text"
                    input-id="invoice-data-livreur"
                    :clearable="false"
                  >
                  </v-select>
                </b-col>
              </b-row>

              <b-row>
                <!-- Col: Sales Persion -->
                <b-col
                  cols="12"
                  md="3"
                  class="mt-md-0 mt-3 d-flex align-items-center"
                  order="2"
                  order-md="1"
                >
                  <label
                    for="invoice-data-sales-person"
                    class="text-nowrap mr-50"
                    >Réference:</label
                  >
                  <b-form-input
                    id="invoice-data-sales-person"
                    v-model="invoiceData.livreur_ref"
                  />
                </b-col>
              </b-row>

              <b-row>
                <!-- Col: Sales Persion -->
                <b-col
                  cols="12"
                  md="3"
                  class="mt-md-0 mt-3 d-flex align-items-center"
                  order="2"
                  order-md="1"
                >
                  <label
                    for="invoice-data-sales-person"
                    class="text-nowrap mr-50"
                    >Vendeur:</label
                  >
                  <b-form-input
                    id="invoice-data-sales-person"
                    v-model="invoiceData.salesPerson"
                    @input="(val) => getAuthName()"
                    disabled
                  />
                </b-col>

                <b-col
                  cols="12"
                  md="3"
                  class="mt-md-0 mt-3 d-flex align-items-center"
                  order="2"
                  order-md="1"
                >
                  <label
                    for="invoice-data-sales-person"
                    class="text-nowrap mr-50"
                    >Remise Total:</label
                  >
                  <b-form-input
                    id="invoice-data-sales-person"
                    v-model="invoiceData.remise_total"
                    @input="(val) => updateRemiseTotal(val)"
                    placeholder="100 %"
                  />
                </b-col>

                <!-- Col: Total -->
                <b-col
                  cols="12"
                  md="6"
                  class="mt-md-6 d-flex justify-content-end"
                  order="1"
                  order-md="2"
                >
                  <div class="invoice-total-wrapper">
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Montant THT:</p>
                      <p class="invoice-total-amount">
                        {{ montant_tht }}
                      </p>
                    </div>

                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Net HT :</p>
                      <p class="invoice-total-amount">
                        {{ net_ht }}
                      </p>
                    </div>
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Total TVA :</p>
                      <p class="invoice-total-amount">
                        {{ total_tva }}
                      </p>
                    </div>
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Timbre :</p>
                      <p class="invoice-total-amount">
                        {{ timbre }}
                      </p>
                    </div>

                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Montant Remise :</p>
                      <p class="invoice-total-amount">
                        {{ mnt_remise.toFixed(3) }}
                      </p>
                    </div>
                    <hr class="my-50" />
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Montant TTC :</p>
                      <p class="invoice-total-amount">
                        {{ final_total }}
                      </p>
                    </div>
                  </div>
                </b-col>
              </b-row>
            </b-card-body>

            <!-- Spacer -->
            <hr class="invoice-spacing" />

            <!-- Note -->
            <b-card-body class="invoice-padding pt-0">
              <span class="font-weight-bold">Note: </span>
              <b-form-textarea v-model="invoiceData.note" />
            </b-card-body>
          </b-card>
        </b-form>
      </b-col>

      <!-- Right Col: Card -->
      <b-col cols="12" md="4" xl="3" class="invoice-actions mt-md-0 mt-2">
        <!-- Action Buttons -->
        <b-card>
          <!-- Button: Print -->
          <b-button
            v-ripple.400="'rgba(113, 102, 240, 0.15)'"
            variant="outline-primary"
            @click="onSubmit()"
            block
          >
            sauvegarder
          </b-button>
        </b-card>

        <!-- Payment Method -->
        <div class="mt-2">
          <b-form-group
            label="Accepter le paiement via"
            label-for="payment-method"
          >
            <v-select
              v-model="invoiceData.paymentMethod"
              :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="paymentMethods"
              input-id="payment-method"
              class="payment-selector"
              :clearable="false"
            />
          </b-form-group>

          <!-- ? Below values are not adding invoiceData to keep invoiceData more generic and less confusing  -->

          <!-- Payment Terms -->
          <div class="d-flex justify-content-between align-items-center">
            <label for="patymentTerms">Modalités de paiement</label>
            <b-form-checkbox id="patymentTerms" :checked="true" switch />
          </div>

          <!-- Client Notes -->
          <div class="d-flex justify-content-between align-items-center my-1">
            <label for="clientNotes">Client Notes</label>
            <b-form-checkbox id="clientNotes" :checked="true" switch />
          </div>

          <!-- Payment Stub -->
        </div>
      </b-col>
    </b-row>
  </section>
</template>

<script>
import Logo from "@core/layouts/components/Logo.vue";
import { ref, onUnmounted } from "@vue/composition-api";
import { heightTransition } from "@core/mixins/ui/transition";
import Ripple from "vue-ripple-directive";
import store from "@/store";
import {
  BRow,
  BCol,
  BCard,
  BCardBody,
  BButton,
  BCardText,
  BForm,
  BFormGroup,
  BFormInput,
  BInputGroup,
  BInputGroupPrepend,
  BFormTextarea,
  BFormCheckbox,
  BPopover,
  VBToggle,
} from "bootstrap-vue";
import vSelect from "vue-select";
import flatPickr from "vue-flatpickr-component";
import invoiceStoreModule from "../../bonCommand/invoiceStoreModule";
import InvoiceSidebarAddNewCustomer from "../InvoiceSidebarAddNewCustomer.vue";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import router from "@/router";
import { useToast } from "vue-toastification/composition";

export default {
  components: {
    BRow,
    BCol,
    BCard,
    BCardBody,
    BButton,
    BCardText,
    BForm,
    BFormGroup,
    BFormInput,
    BInputGroup,
    BInputGroupPrepend,
    BFormTextarea,
    BFormCheckbox,
    BPopover,
    flatPickr,
    vSelect,
    Logo,
    InvoiceSidebarAddNewCustomer,
  },
  data() {
    return {
      userData: JSON.parse(localStorage.getItem("userData")),
    };
  },
  directives: {
    Ripple,
    "b-toggle": VBToggle,
  },
  mixins: [heightTransition],
  mounted() {
    this.initTrHeight();
    this.date_function();
    this.getAuthName();
  },
  created() {
    window.addEventListener("resize", this.initTrHeight);
  },
  destroyed() {
    window.removeEventListener("resize", this.initTrHeight);
  },
  methods: {
    addNewItemInItemForm() {
      this.$refs.form.style.overflow = "hidden";
      this.invoiceData.items.push(
        JSON.parse(JSON.stringify(this.itemFormBlankItem))
      );

      this.$nextTick(() => {
        this.trAddHeight(this.$refs.row[0].offsetHeight);
        setTimeout(() => {
          this.$refs.form.style.overflow = null;
        }, 350);
      });
    },

    removeItem(index) {
      this.invoiceData.items.splice(index, 1);
      this.trTrimHeight(this.$refs.row[0].offsetHeight);
      console.log(this.invoiceData);
      this.calculateTotal(this.invoiceData);
    },
    initTrHeight() {
      this.trSetHeight(null);
      this.$nextTick(() => {
        this.trSetHeight(this.$refs.form.scrollHeight);
      });
    },

    handlePrice(price, qty, tva, remise) {
      if (!price) {
        return price ? price : "0";
      } else {
        var tax = (price * tva) / 100;
        var total = parseFloat(tax) + parseFloat(price);

        var ttc = Math.round((total * 100) / 100);

        var remise = (ttc.toFixed(3) * remise) / 100;
        var totalfinal = total - remise;

        var final_ttc = totalfinal * qty;
        return final_ttc.toFixed(3);
      }
    },

    date_function: function () {
      var currentDate = new Date();
      console.log(currentDate);

      var formatted_date = new Date().toJSON().slice(0, 10).replace(/-/g, "/");
      this.invoiceData.issuedDate = formatted_date;
    },

    getAuthName: function () {
      this.invoiceData.salesPerson = this.userData.name;
    },
  },
  setup() {
    const toast = useToast();
    const INVOICE_APP_STORE_MODULE_NAME = "app-invoice";
    const itemsOptions = ref([]);
    const clientOptions = ref([]);
    const livreurOptions = ref([]);
    const itemData = ref([]);
    const subtotal = ref(0);
    const final_total = ref(0);
    const final_tax = ref(0);
    const discount = ref(0);
    const montant_tht = ref(0);
    const timbre = ref(0);
    const total_tva = ref(0);
    const net_ht = ref(0);
    const remise = ref(0);
    var mnt_remise = ref(0);
    const isAddNewCustomerSidebarActive = ref(false);

    // Register module
    if (!store.hasModule(INVOICE_APP_STORE_MODULE_NAME)) {
      store.registerModule(INVOICE_APP_STORE_MODULE_NAME, invoiceStoreModule);
    }

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(INVOICE_APP_STORE_MODULE_NAME)) {
        store.unregisterModule(INVOICE_APP_STORE_MODULE_NAME);
      }
    });
    // fetch clients
    const clients = ref([]);
    store.dispatch("app-invoice/fetchClients").then((response) => {
      clients.value = response.data;
    });

    // fetch livreurs
    const livreurs = ref([]);
    store.dispatch("app-invoice/fetchLivreurs").then((response) => {
      livreurs.value = response.data;
    });

    //fetch last invoice id
    const last_invoice_id = ref();
    store.dispatch("app-invoice/last_invoice_id").then((response) => {
      last_invoice_id.value = response.data;
    });

    const itemFormBlankItem = {
      id: null,
      prix_vente: 0,
      qty: 0,
      code_bar: "",
      tax: 0,
      remise: 0,
      design: "",
    };

    const invoiceData = ref({
      id: last_invoice_id,
      client: null,
      livreur: null,
      // ? Set single Item in form for adding data
      items: [JSON.parse(JSON.stringify(itemFormBlankItem))],
      net_ht,
      total_tva,
      timbre,
      montant_tht,
      final_total,
      remise,
      salesPerson: "",
      note: "It was a pleasure working with you and your team. We hope you will keep us in mind for future freelance projects. Thank You!",
      paymentMethod: null,
      mnt_remise
    });

    // const itemsOptions = [
    //   {
    //     itemTitle: 'App Design',
    //     cost: 24,
    //     qty: 1,
    //     description: 'Designed UI kit & app pages.',
    //   },
    //   {
    //     itemTitle: 'App Customization',
    //     cost: 26,
    //     qty: 1,
    //     description: 'Customization & Bug Fixes.',
    //   },
    //   {
    //     itemTitle: 'ABC Template',
    //     cost: 28,
    //     qty: 1,
    //     description: 'Bootstrap 4 admin template.',
    //   },
    //   {
    //     itemTitle: 'App Development',
    //     cost: 32,
    //     qty: 1,
    //     description: 'Native App Development.',
    //   },
    // ]

    store
      .dispatch("app-invoice/fetchItems")
      .then((response) => {
        (itemsOptions.value = response.data.data),
          updateItemSelect(itemsOptions.value);
      })
      .catch((error) => {
        if (error.response && error.response.status === 404) {
          itemsOptions.value = undefined;
        }
      });
    const updatediscount = (data) => {
      discount.value = data;
    };

    const updateqty = (data) => {
      calculateTotal(invoiceData);
    };

    const updateRemiseItem = (data) => {
      calculateTotal(invoiceData);
    };
    const updateRemiseTotal = (data) => {
      calculateTotal(invoiceData, data);
    };

    const updatetimbre = (data) => {
      if (data) {
        var val = 600 / 1000;
        timbre.value = val.toFixed(3);
        calculateTotal(invoiceData);
      } else {
        timbre.value = 0;
      }
    };

    const updateItemSelect = (data) => {
      data.forEach((elem) => {
        itemData.value.push({
          // "value": elem.id.toString(),
          // "text": elem.code_bar,
          id: elem.id.toString(),
          prix_vente: elem.prix_vente,
          code_bar: elem.code_bar,
          qty: 1,
          tax: elem.tva.taux,
          remise: elem.remise,
          design: elem.design,
        });
      });
      calculateTotal(invoiceData);
    };
    const updateItemForm = (index, val) => {
      const { prix_vente, qty, tax, remise, design } = val;
      invoiceData.value.items[index].id = val.id;
      invoiceData.value.items[index].prix_vente = prix_vente;
      invoiceData.value.items[index].qty = qty;
      invoiceData.value.items[index].tva_id = tax;
      invoiceData.value.items[index].remise = remise;
      invoiceData.value.items[index].design = design;

      subtotal.value += prix_vente;

      calculateTotal(invoiceData);
    };

    store
      .dispatch("app-invoice/fetchClients")
      .then((response) => {
        (clients.value = response.data.data), updateClientSelect(clients.value);
      })
      .catch((error) => {
        if (error.response && error.response.status === 404) {
          clientData.value = undefined;
        }
      });

    const updateClientSelect = (data) => {
      data.forEach((elem) => {
        clientOptions.value.push({
          value: elem.id.toString(),
          text: elem.nom_social,
        });
      });
    };

    store
      .dispatch("app-invoice/fetchLivreurs")
      .then((response) => {
        (livreurs.value = response.data.data),
          updatelivreurSelect(livreurs.value);
      })
      .catch((error) => {
        if (error.response && error.response.status === 404) {
          livreurData.value = undefined;
        }
      });
    const updatelivreurSelect = (data) => {
      data.forEach((elem) => {
        livreurOptions.value.push({
          value: elem.id.toString(),
          text: elem.name,
        });
      });
    };

    const paymentMethods = ["Compte Bancaire", "Espéce", "Chequier"];

    const onSubmit = () => {
      store
        .dispatch("app-invoice/addDevisClient", {
          data: invoiceData.value,
        })
        .then((res) => {
          console.log(res);
          if (res.data.code) {
            toast({
              component: ToastificationContent,
              position: "top-right",
              props: {
                title: `Devis Enregister`,
                icon: "CoffeeIcon",
                variant: "success",
                text: `Enregistré avec succès`,
              },
            });
            router.push({ name: "apps-bon-commande-list" });
          }
        })
        .catch((error) => {
          console.log(error, "a");
        });
    };
    const updateCustomSidebar = () => {
      isAddNewCustomerSidebarActive = !isAddNewCustomerSidebarActive;
    };

    const convertPrice = (price, qty, tva, remise) => {
      if (!price) {
        return price ? price : "0";
      } else {
        var tax = (price * tva) / 100;
        var total = parseFloat(tax) + parseFloat(price);

        var ttc = Math.round((total * 100) / 100);

        var remise = (ttc.toFixed(3) * remise) / 100;
        mnt_remise.value = remise + mnt_remise.value;

        var totalfinal = total - remise;

        var converted = totalfinal.toFixed(3);
        var totalfinal = converted * qty;
        return totalfinal;
      }
    };

    const calculateTva = (price, qty, tva) => {
      if (!tva) {
        console.log(tva);
        return tva ? tva : "0";
      } else {
        var tax = (price * tva) / 100;

        var converted = tax.toFixed(3);
        var totalfinal = converted * qty;
        return totalfinal;
      }
    };

    const calculateRemise = (total, remise) => {
      if (!remise) {
        return remise ? remise : "0";
      } else {
        var remise = (total.toFixed(3) * remise) / 100;
        var totalfinal = total - remise;
        mnt_remise.value = remise + mnt_remise.value;
        return totalfinal;
      }
    };

    const calculateTotal = (invoiceData, remise_total) => {
      const priceSum = [];
      const montant_tht_sum = [];
      const total_tax = [];
      const remise_calc = [];
      if (invoiceData.value) {
        invoiceData.value.items.map(function (val, key) {
          var price = convertPrice(
            val.prix_vente,
            val.qty,
            val.tva_id,
            val.remise
          );
          var tax_tva = calculateTva(val.prix_vente, val.qty, val.tva_id);
          priceSum.push(price);
          montant_tht_sum.push(val.prix_vente * val.qty);
          total_tax.push(tax_tva);
        });
      } else {
        invoiceData.items.map(function (val, key) {
          var price = convertPrice(
            val.prix_vente,
            val.qty,
            val.tva_id,
            val.remise
          );
          var tax_tva = calculateTva(val.prix_vente, val.qty, val.tva_id);
          priceSum.push(price);
          montant_tht_sum.push(val.prix_vente * val.qty);
          total_tax.push(tax_tva);
        });
      }

      const sum = priceSum.reduce(add, 0);
      const taxcalc = total_tax.reduce(add, 0);
      const montant_sum = montant_tht_sum.reduce(add, 0);
      montant_tht.value = montant_sum.toFixed(3);
      function add(accumulator, a) {
        return accumulator + a;
      }
      total_tva.value = taxcalc.toFixed(3);
      remise.value = 0;
      net_ht.value = montant_sum.toFixed(3);

      var t = sum.toFixed(3);
      var timb = timbre.value;
      var f_total = parseFloat(t) + parseFloat(timb);

      if (remise_total != null) {
        var total_remise = calculateRemise(f_total, remise_total);
        final_total.value = total_remise.toFixed(3);
      } else {
        final_total.value = f_total.toFixed(3);
      }
    };

    return {
      invoiceData,
      clients,
      livreurs,
      last_invoice_id,
      itemsOptions,
      itemData,
      updateItemForm,
      itemFormBlankItem,
      paymentMethods,
      clientOptions,
      livreurOptions,

      updateClientSelect,
      updatelivreurSelect,
      updateRemiseItem,
      updatetimbre,
      updateRemiseTotal,
      onSubmit,
      subtotal,
      final_total,
      final_tax,
      discount,
      net_ht,
      total_tva,
      timbre,
      montant_tht,
      remise,
      mnt_remise,
      updatediscount,

      updateqty,
      isAddNewCustomerSidebarActive,
      updateCustomSidebar,
      calculateTotal,
    };
  },
};
</script>

<style lang="scss">
@import "~@core/scss/vue/libs/vue-select.scss";
@import "~@core/scss/vue/libs/vue-flatpicker.scss";

.invoice-add-wrapper {
  .add-new-client-header {
    padding: $options-padding-y $options-padding-x;
    color: $success;

    &:hover {
      background-color: rgba($success, 0.12);
    }
  }
}
</style>

<style lang="scss" scoped>
@import "~@core/scss/base/pages/app-invoice.scss";
@import "~@core/scss/base/components/variables-dark";

.form-item-section {
  background-color: $product-details-bg;
}

.form-item-action-col {
  width: 27px;
}

.repeater-form {
  // overflow: hidden;
  transition: 0.35s height;
}

.v-select {
  &.item-selector-title,
  &.payment-selector {
    background-color: #fff;

    .dark-layout & {
      background-color: unset;
    }
  }
}

.dark-layout {
  .form-item-section {
    background-color: $theme-dark-body-bg;

    .row .border {
      background-color: $theme-dark-card-bg;
    }
  }
}
</style>
