<template>
    <component :is="userData === undefined ? 'div' : 'b-card'">

        <!-- Alert: No item found -->
        <b-alert variant="danger" :show="userData === undefined">
            <h4 class="alert-heading">
                Error fetching devisClient data
            </h4>
            <div class="alert-body">
                No user found with this devisClient id. Check
                <b-link class="alert-link" :to="{ name: 'apps-users-list'}">
                    devisClient List
                </b-link>
                for other devisClient.
            </div>
        </b-alert>

        <b-tabs v-if="userData" pills>

            <!-- Tab: Account -->
            <!-- <b-tab active>
        <template #title>
          <feather-icon
            icon="UserIcon"
            size="16"
            class="mr-0 mr-sm-50"
          />
          <span class="d-none d-sm-inline">Account</span>
        </template>
        <user-edit-tab-account
          :user-data="userData"
          class="mt-2 pt-75"
        />
      </b-tab> -->
            <user-edit-tab-account
                :user-data="userData"
                :client-options="clientOptions"
                :depot-options="depotOptions"
                :produit-options="produitOptions"
                :total="Total"
                class="mt-2 pt-75"
            />
            <!-- Tab: Information -->
            <!-- <b-tab>
        <template #title>
          <feather-icon
            icon="InfoIcon"
            size="16"
            class="mr-0 mr-sm-50"
          />
          <span class="d-none d-sm-inline">Information</span>
        </template>
        <user-edit-tab-information class="mt-2 pt-75" />
      </b-tab> -->

            <!-- Tab: Social -->
            <!-- <b-tab>
        <template #title>
          <feather-icon
            icon="Share2Icon"
            size="16"
            class="mr-0 mr-sm-50"
          />
          <span class="d-none d-sm-inline">Social</span>
        </template>
        <user-edit-tab-social class="mt-2 pt-75" />
      </b-tab> -->
        </b-tabs>
    </component>
</template>

<script>
    import {
        BTab,
        BTabs,
        BCard,
        BAlert,
        BLink,
    } from 'bootstrap-vue'
    import {
        ref,
        onUnmounted
    } from '@vue/composition-api'
    import router from '@/router'
    import store from '@/store'
    import userStoreModule from '../deviclientStoreModule'
    import UserEditTabAccount from './UserEditTabAccount.vue'
    import UserEditTabInformation from './UserEditTabInformation.vue'
    import UserEditTabSocial from './UserEditTabSocial.vue'

    export default {
        components: {
            BTab,
            BTabs,
            BCard,
            BAlert,
            BLink,

            UserEditTabAccount,
            UserEditTabInformation,
            UserEditTabSocial,
        },
        setup() {
            const userData = ref(null)
            const clientData = ref(null)
            const clientOptions = ref([])
            const depotOptions = ref([])
            const depotData = ref(null)
            const produitOptions = ref([])
            const produitData = ref(null)
            const Total = ref(null)

            const USER_APP_STORE_MODULE_NAME = 'app-devisclient'

            // Register module
            if (!store.hasModule(USER_APP_STORE_MODULE_NAME)) store.registerModule(USER_APP_STORE_MODULE_NAME,
                userStoreModule)

            // UnRegister on leave
            onUnmounted(() => {
                if (store.hasModule(USER_APP_STORE_MODULE_NAME)) store.unregisterModule(
                    USER_APP_STORE_MODULE_NAME)
            })

            store.dispatch('app-devisclient/fetchArticleID', {
                    id: router.currentRoute.params.id
                })

                .then(response => {
                    userData.value = response.data.data
                    userData.value.Devisarticles.forEach((elem, index) => {
                        Total.value += ((elem.tva.taux * elem.prix_vente) / elem.prix_vente) + elem.prix_vente
                    })
                })
                .catch(error => {
                    if (error.response.status === 404) {
                        userData.value = undefined
                    }
                })


            //helpers client
            store.dispatch('app-devisclient/getListClient')
                .then(response => {
                    clientData.value = response.data.data,
                        updateClientSelect(clientData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        clientData.value = undefined
                    }
                })
            const updateClientSelect = (data) => {
                console.log(data, 'client')
                data.forEach(elem => {
                    clientOptions.value.push({
                        "value": elem.id,
                        "text": elem.num_client
                    })
                })
            }
            //helpers depot
            store.dispatch('app-devisclient/getListDepot')
                .then(response => {
                    depotData.value = response.data.data,
                        updateDepotSelect(depotData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        depotData.value = undefined
                    }
                })
            const updateDepotSelect = (data) => {
                console.log(data, 'depot')
                data.forEach(elem => {
                    depotOptions.value.push({
                        "value": elem.id,
                        "text": elem.name
                    })
                })
            }
            //helpers produit
            store.dispatch('app-devisclient/getListArticle')
                .then(response => {
                    produitData.value = response.data.data,
                        updateArticleSelect(produitData.value)

                })
                .catch(error => {
                    if (error.response && error.response.status === 404) {
                        produitData.value = undefined
                    }
                })
            const updateArticleSelect = (data) => {
                console.log(data, 'article')
                data.forEach(elem => {
                    produitOptions.value.push({
                        "value": elem.id,
                        "text": elem.design
                    })
                })
            }
            return {
                userData,
                clientData,
                clientOptions,
                depotOptions,
                depotData,
                produitOptions,
                produitData,
                Total,
            }
        },
    }

</script>

<style>

</style>
