<template>
    <div>
        <b-form>
            <b-row>
                <b-col md="4">
                    <!-- montant_remise -->
                    <b-form-group label="Numero devis" label-for="no_devis">
                        <b-form-input id="no_devis" v-model="userData.no_devis" placeholder="" />
                    </b-form-group>
                </b-col>
                <!-- Client -->
                <b-col md="4">
                    <b-form-group label="Client" label-for="client">
                        <v-select v-model="userData.client_id" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="clientOptions" :selectable="option => ! option.text.includes('select_value')"
                            label="text" :reduce="val => val.value" :clearable="false" input-id="client" />
                    </b-form-group>
                </b-col>
                <!-- Depot -->
                <b-col md="4">
                    <b-form-group label="Depot" label-for="depot">
                        <v-select v-model="userData.depot_id" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="depotOptions" :selectable="option => ! option.text.includes('select_value')"
                            label="text" :reduce="val => val.value" :clearable="false" input-id="depot" />

                    </b-form-group>
                </b-col>
                <!-- Produit -->
                <b-col md="12">
                    <b-form-group label="Sélectionner un article" label-for="article">
                        <v-select v-model="produit_id" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="produitOptions" :selectable="option => ! option.text.includes('select_value')"
                            label="text" v-on:input="(PutInProductArray())" :reduce="val => val.value"
                            :clearable="false" input-id="article" />
                    </b-form-group>
                </b-col>
                <b-col md="12">
                    <table id="fourthTable" v-if="userData.Devisarticles.length>0">
                        <thead>
                            <tr>
                                <th style="width: 10px;"></th>
                                <th>Qty</th>
                                <th>Designation</th>
                                <th>Code Bar</th>
                                <th>libele_catalog</th>
                                <th>Prix Vente (DT)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product,index) in userData.Devisarticles" :key="index">
                                <td><a type="button"@click="AddProd(product,index)" class="btn btn-success">+</a></td>
                                <td>{{product.nbProduct?product.nbProduct:1}}</td>
                                <td>{{product.design}}</td>
                                <td>{{product.code_bar}}</td>
                                <td>{{product.libele_cataloge}}</td>
                                <td>{{product.prix_vente}}</td>
                                <td><a type="button" @click="deleteProd(index)" class="btn btn-danger">-</a></td>
                            </tr>
                            <tr>
                                <td colspan="6">Total</td>
                                <td>{{Total}}</td>
                            </tr>
                        </tbody>
                    </table>
                </b-col>
                <b-col md="4">
                    <!-- Montant tHT -->
                    <b-form-group label="montant_tht" label-for="montant_tht">
                        <b-form-input id="montant_tht" v-model="userData.montant_tht" autofocus placeholder="" />
                    </b-form-group>
                </b-col>
                <b-col md="4">
                    <!-- montant_remise -->

                    <b-form-group label="montant_remise" label-for="montant_remise">
                        <b-form-input id="montant_remise" v-model="userData.montant_remise" placeholder="" />
                    </b-form-group>
                </b-col>
                <b-col md="4">
                    <!-- net_ht -->
                    <b-form-group label="net_ht" label-for="net_ht">
                        <b-form-input id="net_ht" v-model="userData.net_ht" />

                    </b-form-group>
                </b-col>
                <b-col md="4">
                    <!-- total_tva -->
                    <b-form-group label="total_tva" label-for="total_tva">
                        <b-form-input id="total_tva" v-model="userData.total_tva" />
                    </b-form-group>
                </b-col>
                <b-col md="4">
                    <!-- timbre -->
                    <b-form-group label="timbre" label-for="timbre">
                        <b-form-input id="timbre" v-model="userData.timbre" />
                    </b-form-group>
                </b-col>
                <!-- montant_ttc -->
                <b-col md="4">
                    <b-form-group label="montant_ttc" label-for="montant_ttc">
                        <b-form-input id="montant_ttc" v-model="userData.montant_ttc" />
                    </b-form-group>
                </b-col>
            </b-row>

        </b-form>

        <!-- Action Buttons -->
        <b-button variant="primary" class="mb-1 mb-sm-0 mr-0 mr-sm-1"
            :block="$store.getters['app/currentBreakPoint'] === 'xs'" @click="onSubmit()">
            Save Changes
        </b-button>

    </div>
</template>

<script>
    import {
        BButton,
        BMedia,
        BAvatar,
        BRow,
        BCol,
        BFormGroup,
        BFormInput,
        BForm,
        BTable,
        BCard,
        BCardHeader,
        BCardTitle,
        BFormCheckbox,
        BFormFile,
        BMediaAside,
    } from 'bootstrap-vue'

    import vSelect from 'vue-select'

    import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
    import store from '@/store'
    import axios from '@axios'
    import articleStoreModule from '../deviclientStoreModule'
    import {
        ref,
        onUnmounted
    } from '@vue/composition-api'

    export default {
        components: {
            BMediaAside,
            BFormFile,
            BButton,
            BMedia,
            BAvatar,
            BRow,
            BCol,
            BFormGroup,
            BFormInput,
            BForm,
            BTable,
            BCard,
            BCardHeader,
            BCardTitle,
            BFormCheckbox,
            vSelect,
        },
        props: {
            userData: {
                type: Object,
                required: true,
            },
            clientOptions: {
                type: Array,
                required: true,
            },
            depotOptions: {
                type: Array,
                required: true,
            },
            produitOptions: {
                type: Array,
                required: true,
            },
            Total: {
                required: true,
            },
        },
        setup(userData,Total) {
            // ? Demo Purpose => Update image on click of update
            const refInputEl = ref(null)
            const previewEl = ref(null)
            const produit_id= ref(null)

            const onSubmit = () => {
                store.dispatch('app-devisclient/updateDevisClient', {
                    data: userData,
                }).then(() => {

                })
            }
            const isInArray=(value, array)=> {
                var found = false;
                console.log(array,'aaray')
                    for(var i = 0; i < array.length; i++) {
                        console.log(array[i].id,'aaray',value)
                        if (array[i].id == value) {
                            found = true;
                            console.log(found,'found')
                        }
                    }
                    console.log(found,'found')
                    return found;
            }
            const PutInProductArray = () => {
                store.dispatch('app-devisclient/getAllProductDevisClient', produit_id.value).then((
                res) => {
                    if(!(isInArray(produit_id.value,userData.userData.Devisarticles))){
                        userData.userData.Devisarticles.push(res.data.data)
                        console.log(userData.userData.Devisarticles)
                        userData.userData.Devisarticles.forEach((elem, index) => {
                            userData.Total += ((elem.tva.taux * elem.prix_vente) / elem.prix_vente) + elem.prix_vente
                        })
                    }

                })
            }

            const deleteProd = (index) => {
                userData.Total -= ((userData.userData.Devisarticles[index].tva.taux * userData.userData.Devisarticles[index].prix_vente) / userData.userData.Devisarticles[index].prix_vente) + userData.userData.Devisarticles[index].prix_vente
                userData.userData.Devisarticles.splice(index, 1);
            }

            const AddProd=(prod,index)=>{
                // if(userData.userData.Devisarticles[index].hasOwnProperty('nbProduct')){
                //     console.log('ok mawjoud',userData.userData.Devisarticles[index])
                // }else{
                //     console.log('mech mawjoud')
                //     userData.userData.Devisarticles[index] = Object.assign({}, userData.userData.Devisarticles[index], { nbProduct: 2});
                // }
                userData.userData.Devisarticles[index].nbProduct +=1;
                console.log('AddProd',prod)
                userData.Total+=((prod.tva.taux*prod.prix_vente)/prod.prix_vente)+prod.prix_vente
            }
            return {
                refInputEl,
                previewEl,
                PutInProductArray,
                deleteProd,
                onSubmit,
                AddProd,
                produit_id,
            }
        },
        methods: {

        }
    }

</script>

<style lang="scss">
    @import '~@core/scss/vue/libs/vue-select.scss';
    #fourthTable {
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #0873b9;
        margin: 2px 0px 17px 0px;
    }

    #fourthTable th {
        text-transform: uppercase;
        text-align: left;
        background: #3d5577;
        color: #FFF;
        cursor: pointer;
        padding: 8px;
        min-width: 30px;
    }

    #fourthTable th:hover {
        background: #3d4f77;
    }

    #fourthTable td {
        text-align: left;
        padding: 8px;
        border-right: 2px solid #7D82A8;
    }

    #fourthTable td:last-child {
        border-right: none;
    }

    #fourthTable tbody tr:nth-child(2n) td {
        background: #b0cadb;
    }

</style>
