<template>
    <b-sidebar
        id="add-new-client-sidebar"
        :visible="isAddNewClientSidebarActive"
        bg-variant="white"
        sidebar-class="sidebar-lg"
        shadow
        backdrop
        no-header
        right
        @hidden="resetForm"
        @change="(val) => $emit('update:is-add-new-Client-sidebar-active', val)"
    >
        <template #default="{ hide }">
            <!-- Header -->
            <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
                <h5 class="mb-0">
                    Ajouter Nouvelle Client
                </h5>

                <feather-icon
                    class="ml-1 cursor-pointer"
                    icon="XIcon"
                    size="16"
                    @click="hide"
                />

            </div>

            <!-- BODY -->
            <validation-observer
                #default="{ handleSubmit }"
                ref="refFormObserver"
            >
                <!-- Form -->
                <b-form
                    class="p-2"
                    @submit.prevent="handleSubmit(onSubmit)"
                    @reset.prevent="resetForm"
                >
                    <b-row>

                        <b-col md="4">
                            <!-- Full Name -->
                            <validation-provider
                                #default="validationContext"
                                name="num_client"
                                rules="required"
                            >
                                <b-form-group
                                    label="Numéro client"
                                    label-for="full-title"
                                >
                                    <b-form-input
                                        id="full-title"
                                        v-model="ClientData.num_client"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>

                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="nom_social"
                                rules="required"
                            >
                                <b-form-group
                                    label="Nom sociale"
                                    label-for="nom_social"
                                >
                                    <b-form-input
                                        id="nom_social"
                                        v-model="ClientData.nom_social"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>

                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="adresse"
                                rules="required"
                            >
                                <b-form-group
                                    label="Adresse"
                                    label-for="adresse"
                                >
                                    <b-form-input
                                        id="adresse"
                                        v-model="ClientData.adresse"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="num_tel"
                                rules="required"
                            >
                                <b-form-group
                                    label="N°Télephone"
                                    label-for="num_tel"
                                >
                                    <b-form-input
                                        id="adresse"
                                        v-model="ClientData.num_tel"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="num_fax"
                                rules="required"
                            >
                                <b-form-group
                                    label="N°Fax"
                                    label-for="num_fax"
                                >
                                    <b-form-input
                                        id="adresse"
                                        v-model="ClientData.num_fax"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="email"
                                rules="required"
                            >
                                <b-form-group
                                    label="Email"
                                    label-for="email"
                                >
                                    <b-form-input
                                        id="adresse"
                                        v-model="ClientData.email"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="contact"
                                rules="required"
                            >
                                <b-form-group
                                    label="Contact"
                                    label-for="contact"
                                >
                                    <b-form-input
                                        id="adresse"
                                        v-model="ClientData.contact"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="N°Portable"
                                rules="required"
                            >
                                <b-form-group
                                    label="num_portable"
                                    label-for="num_portable"
                                >
                                    <b-form-input
                                        id="adresse"
                                        v-model="ClientData.num_portable"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="num_id_fiscale"
                                rules="required"
                            >
                                <b-form-group
                                    label="Numéro identité fiscale"
                                    label-for="num_id_fiscale"
                                >
                                    <b-form-input
                                        id="adresse"
                                        v-model="ClientData.num_id_fiscale"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="exonorer"
                                rules="required"
                            >
                                <b-form-group
                                    label="Exonoré"
                                    label-for="exonorer"
                                >
                                    <b-form-checkbox v-model="ClientData.exonorer" value="A" class="custom-control-primary">
                                        Exonoré
                                    </b-form-checkbox>

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="timbre"
                                rules="required"
                            >
                                <b-form-group
                                    label="Timbre"
                                    label-for="timbre"
                                >
                                    <b-form-checkbox v-model="ClientData.timbre" value="A" class="custom-control-primary">
                                        Timbre
                                    </b-form-checkbox>


                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="remise"
                                rules="required"
                            >
                                <b-form-group
                                    label="Remise"
                                    label-for="remise"
                                >
                                    <b-form-input
                                        id="timbre"
                                        v-model="ClientData.remise"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="mnt_garanti"
                                rules="required"
                            >
                                <b-form-group
                                    label="Montant de garantie"
                                    label-for="mnt_garanti"
                                >
                                    <b-form-input
                                        id="timbre"
                                        v-model="ClientData.mnt_garanti"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="piece_garanti"
                                rules="required"
                            >
                                <b-form-group
                                    label="Piéce de garantie"
                                    label-for="piece_garanti"
                                >
                                    <b-form-input
                                        id="timbre"
                                        v-model="ClientData.piece_garanti"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="activiter"
                                rules="required"
                            >
                                <b-form-group
                                    label="Activiér"
                                    label-for="activiter"
                                >
                                    <b-form-input
                                        id="timbre"
                                        v-model="ClientData.activiter"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="zone"
                                rules="required"
                            >
                                <b-form-group
                                    label="Zone"
                                    label-for="zone"
                                >
                                    <b-form-input
                                        id="timbre"
                                        v-model="ClientData.zone"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="categorie"
                                rules="required"
                            >
                                <b-form-group
                                    label="Categorie"
                                    label-for="categorie"
                                >
                                    <b-form-input
                                        id="timbre"
                                        v-model="ClientData.categorie"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="num_chef_groupe"
                                rules="required"
                            >
                                <b-form-group
                                    label="N°chef de groupe"
                                    label-for="num_chef_groupe"
                                >
                                    <b-form-input
                                        id="timbre"
                                        v-model="ClientData.num_chef_groupe"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="4">
                            <validation-provider
                                #default="validationContext"
                                name="libelle_chef_groupe"
                                rules="required"
                            >
                                <b-form-group
                                    label="Libellé chef de groupe"
                                    label-for="libelle_chef_groupe"
                                >
                                    <b-form-input
                                        id="timbre"
                                        v-model="ClientData.libelle_chef_groupe"
                                        autofocus
                                        :state="getValidationState(validationContext)"
                                        trim
                                        placeholder=""
                                    />

                                    <b-form-invalid-feedback>
                                        {{ validationContext.errors[0] }}
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                    </b-row>

                        <!-- Form Actions -->
                        <div class="d-flex mt-2">
                            <b-button
                                v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                                variant="primary"
                                class="mr-2"
                                type="submit"
                            >
                                Add
                            </b-button>
                            <b-button
                                v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                                type="button"
                                variant="outline-warning"
                                @click="hide"
                            >
                                Cancel
                            </b-button>
                        </div>
                </b-form>
            </validation-observer>
        </template>
    </b-sidebar>
</template>

<script>
import {
    BSidebar,
    BForm,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    BButton,
    BInputGroupAppend,
    BInputGroup, BRow, BCol,BFormCheckbox
} from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import { required, alphaNum, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import vSelect from 'vue-select'
import countries from '@/@fake-db/data/other/countries'
import store from '@/store'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import { BFormFile } from 'bootstrap-vue'

export default {
    components: {
        BRow,
        BCol,
        BSidebar,
        BForm,
        BFormGroup,
        BFormInput,
        BFormInvalidFeedback,
        BButton,
        vSelect,
        BFormCheckbox,
        BInputGroupAppend,
        BInputGroup,
        // Form Validation
        BFormFile,
        ValidationProvider,
        ValidationObserver,
    },
    mixins: [togglePasswordVisibility],
    directives: {
        Ripple,
    },
    model: {
        prop: 'isAddNewClientSidebarActive',
        event: 'update:is-add-new-Client-sidebar-active',
    },
    props: {
        isAddNewClientSidebarActive: {
            type: Boolean,
            required: true,
        },
    },
    data() {
        return {
            required,
            alphaNum,
            email,
            countries,
        }
    },

    setup(props, { emit }) {
        const blankClientData = {
            num_client: '',
            nom_social: '',
            adresse: '',
            num_tel: '',
            num_fax: '',
            email: '',
            contact: '',
            num_portable: '',
            num_id_fiscale: '',
            exonorer: '',
            timbre: '',
            remise: '',
            mnt_garanti: '',
            piece_garanti: '',
            activiter: '',
            zone: '',
            categorie: '',
            num_chef_groupe: '',
            libelle_chef_groupe: '',

        }

        const ClientData = ref(JSON.parse(JSON.stringify(blankClientData)))
        const resetClientData = () => {
            ClientData.value = JSON.parse(JSON.stringify(blankClientData))
        }

        const onSubmit = () => {
            store.dispatch('app-client/addClient', ClientData.value)
                .then(() => {
                    emit('refetch-data')
                    emit('update:is-add-new-client-sidebar-active', false)
                })
        }

        const {
            refFormObserver,
            getValidationState,
            resetForm
        } = formValidation(resetClientData)

        return {
            ClientData,
            onSubmit,

            refFormObserver,
            getValidationState,
            resetForm,
        }
    },
}
</script>

<style lang="scss">
@import '~@core/scss/vue/libs/vue-select.scss';

#add-new-client-sidebar {
    .vs__dropdown-menu {
        max-height: 200px !important;
    }
}

.b-sidebar.sidebar-lg {
    width: 100%;
}
</style>
